@import "partials/variab";
@import "partials/normalize";
@import "main";
.gs-tabs{
    position: relative;
    overflow: hidden;

    ul,li{
        padding: 0;
        margin: 0;
    }
    .gs-tabnav{
        @media (min-width:768px) {
            width:98%;
        }
    }
    .presenter-default &{
        .gs-tabnav{
            @media (min-width:25.5em) {
                ul{
                    display: table;
                    width: 100%;
                }
                li{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    .tab-nav{
        z-index: 99;
        position: relative;
        .animate(100ms);
        cursor: pointer;
        text-align: center;
        padding-top: 1em;
        padding-left: .3em;
        padding-right: .3em;
        padding-bottom: 1em;
        text-transform: uppercase;
        color: @textwhite;
        font-weight: 600;
        letter-spacing: 4px;
        border-bottom:1px solid transparent;
        
        &.open,&:hover{
            color:@primary;
            background: @white;
            border-color: lighten(@primary, 50%); 
            .underline{
                border-bottom: 2px solid @primary;
            }
        }
        
    }
    .tab-box{
         .locale-vi.presenter-default &,.locale-ru.presenter-default &{
            min-height: 180px;
        }
        .locale-vi &,.locale-ru &{
            min-height: 300px;
        }
        .animate();
        display: none;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        width: 100%;
        background: @white;
        box-shadow: 0 1px 1px lighten(@black, 30%);
        @media (min-width:768px) {
            width:98%;
        }
        &.open{
            display: block;
            pointer-events: all;
        }
    }
}
.slavia-box-item{
    .animate();
    cursor: pointer;
    height: 160px;
    overflow: hidden;
    display: block;
    position: relative;
    border-right: 1px solid lighten(@primary, 30%); 
    border-top: 1px solid lighten(@primary, 30%); 

    .delays(6);
    .slavia-box{
        padding: 1em;
        display: block;
        position: relative;
        height: 160px;
        .presenter-default &{
        	padding-top: 2em;
        }
        .animate();
        transform:translateY(50px);
        opacity: 0;
        img{
            width:80px;
            height: auto;
        }
        .loop(@counter) when (@counter > 0) {
            .loop((@counter - 1));    // next iteration
            width: (10px * @counter); // code for each iteration
        }
        .open &{
            opacity: 1;
            transform:translateY(0);
        }
        
    }
    .presenter-default &{
        border-bottom: 1px solid lighten(@primary, 30%); 
        &:nth-child(n+4){
            border-top: none;
            border-bottom: none;
        }
    }
    .locale-vi &,.locale-ru &{
        width: 100%;
        height: 100%;
        img{
        	vertical-align: middle;
            max-width: 70px;
        }
        .next-to-img{
        	vertical-align: middle;
            width:60%;
        }
    }
    &:nth-child(3n+3){
        border-right: none;
    }
     &:nth-child(3n+4){
        clear: left;
    }
    .mega &{
        display: none;
        float: left;
        width: 0;
        height: 0;
        padding: 0;
        overflow: visible;
        border:none;
        &.current{
        	display: block;
            height: 100%;
            width: 100%;
            .slavia-box{
            }
            .slavia-box-list{
                li{
                    transform:translateY(0);
                    display: block;
                }
            }
            .slavia-box-expand{
                pointer-events: all;
                display: block;
                display: block;
            }
        }
    }
}
.slavia-box-expand{
    cursor: default;
    background: #863c23 url('../images/tabs-bg.jpg') no-repeat right top;
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    pointer-events: none;
    color:white;
    padding: 1em;
    font-weight: 300;
    .animate();
    a{
        color: white;
    }
    .label{
        font-size: 1.3em;
        vertical-align: middle;
        font-weight: 300;
    }
    img{
        padding-right: 1em;
        width:60px;
        height: 35px;
        vertical-align: middle;
    }
    .slavia-box-list{
        li{
            .delayme(15,300ms);
            .animate;
            opacity: 0;
            transform:translateY(150%);
        }
    }
    .close{
        width: 28px;
        height: 28px;
        position: absolute;
            right: 1em;
            top: 1em;
        background: url('../images/close.png');
        cursor: pointer;
        z-index: 99;
    }
    li{
        display: block;
        width: 50%;
        float: left;
        padding: .2em 1em;
        position: relative;
        
         &:hover .overlay{
                display: block;
                top:0;
                float: left;
                background: black;
            }
        .overlay{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
            text-transform: uppercase;
            .animate;

           
            img{
            	vertical-align: middle;
            }
            span{
                .animate;
                padding: .5em .5em;
                height: 100%;
                font-size: .75em;
                line-height: 1em;
                display: block;
                float: left;
                vertical-align: middle;
                &:hover{
                    background: white;
                    color: @primary;
                    a{
                        color: @primary;
                        text-decoration: none;
                    }
                }
            }
            a{
                .animate;
                color:white;
                display: block;
            }
        }
    }
}
.pure-u-sm-1,
.pure-u-sm-1-1,
.pure-u-sm-1-2,
.pure-u-sm-1-3,
.pure-u-sm-2-3,
.pure-u-sm-1-4, 
.pure-u-sm-3-4,
.pure-u-sm-1-6,
.pure-u-sm-5-6,
.pure-u-sm-1-12,
.pure-u-sm-2-12,
.pure-u-sm-3-12,
.pure-u-sm-4-12,
.pure-u-sm-5-12,
.pure-u-sm-6-12,
.pure-u-sm-7-12,
.pure-u-sm-8-12,
.pure-u-sm-9-12,
.pure-u-sm-10-12,
.pure-u-sm-11-12,
.pure-u-sm-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-sm-1-12 {
    width: 8.3333%;
    *width: 8.3023%; 
}

.pure-u-sm-1-6,
.pure-u-sm-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-sm-1-4,
.pure-u-sm-3-12 {
    width: 25%;
    *width: 24.9690%; 
}

.pure-u-sm-1-3,
.pure-u-sm-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-sm-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-sm-1-2,
.pure-u-sm-6-12 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-sm-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-sm-2-3,
.pure-u-sm-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-sm-3-4,
.pure-u-sm-9-12 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-sm-5-6,
.pure-u-sm-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-sm-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-sm-1,
.pure-u-sm-1-1,
.pure-u-sm-12-12 {
    width: 100%;
}
.pure-u-md-1,
.pure-u-md-1-1,
.pure-u-md-1-2,
.pure-u-md-1-3,
.pure-u-md-2-3,
.pure-u-md-1-4,
.pure-u-md-3-4,
.pure-u-md-1-6,
.pure-u-md-5-6,
.pure-u-md-1-12,
.pure-u-md-2-12,
.pure-u-md-3-12,
.pure-u-md-4-12,
.pure-u-md-5-12,
.pure-u-md-6-12,
.pure-u-md-7-12,
.pure-u-md-8-12,
.pure-u-md-9-12,
.pure-u-md-10-12,
.pure-u-md-11-12,
.pure-u-md-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-md-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-md-1-6,
.pure-u-md-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-md-1-4,
.pure-u-md-3-12 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-md-1-3,
.pure-u-md-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-md-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-md-1-2,
.pure-u-md-6-12 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-md-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-md-2-3,
.pure-u-md-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
    &>input,&>textarea{
        width:95%;
    }
}

.pure-u-md-3-4,
.pure-u-md-9-12 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-md-5-6,
.pure-u-md-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-md-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-md-1,
.pure-u-md-1-1,
.pure-u-md-12-12 {
    width: 100%;
}
section.master-padding{
    margin-bottom: 3em;
}
.master-padding{
    max-width: 1024px;
    padding-right: 1em;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;

    .master-margin{
        margin-left: 0;
        margin-right: 0;
    }
}
.map-holder{
    padding-right: .8em;
}
.brag-holder{
    line-height: 2em;
    font-weight: 100;
}
.rady-onpage{
    li{
        width: 50%;
        padding-right: 5%;
        float: left;
    }
}
.rady{
    margin:0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 300;
    li{
        position: relative;
        padding-left: 2.5em;
        line-height: 1em;
        &:last-child{
            a{
                border-bottom: none;
            }
        }
        &:nth-child(2n+3){
            clear: left;
        }
        &:before{
            .pseudoels();
            background: url('../images/sprite-list.png') repeat-y top left;
            width:32px;
            height: 26px;
            .vcenter;
            position: absolute;
            left: 0;
        }
        &+li:before{
        	background-position: left -(1*26px);
        }
        &+li+li:before {
            background-position: left -(3*26px);
        }
        &+li+li+li:before {
            background-position: left -(2*26px);
        }
         &+li+li+li+li+li+li+li:before,&+li+li+li+li:before,&+li+li+li+li+li:before,&+li+li+li+li+li+li:before,&+li+li+li+li+li+li+li+li:before {
            background-position: left -(4*26px);
        }
        &+li+li+li+li+li+li+li+li+li:before {
            background-position: left -(6*26px);
        }
        &+li+li+li+li+li+li+li+li+li+li:before {
            background-position: left -(5*26px);
        }
         &+li+li+li+li+li+li+li+li+li+li+li:before {
            background-position: left -(7*26px);
        }
    }
}
body{
    background-repeat: no-repeat;
    background-position: center top;
    background-color:@shade;
    background-image: url(../images/inner-bg.jpg);
    &.presenter-default{
        background-image: url(../images/home-bg.jpg);
        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            background-size: 100% auto;
        }
        .home-h1{
            font-size: 2em;
        }
        .h1-holder{
        }
        .arrowed::after{
            left: 5px;
            content: "‹"
        }
    }
}
article .h1, article + h1{
    font-size: 3em;
    font-weight: 300;
    margin-top: 0;
}
article p{
    font-weight: 300;
}
.h1,.news-h2{

    font-size: 2em;
}
.special-number{
    font-size: 2em;
}
.monly{
    display: none;
}
.krajelist{
    &:extend(.clearfix all);
    border-left: 1px solid @border;

    li{
        border-right:1px solid @border;
        float: left;
        width: 50%;
        background: @white;
    }
}
.side-info{
    margin-top: 0;
}
.pojisteni-banner-home{
    position: relative;
    margin-bottom: 6em;
    img{
        max-height: 5em;
    }
}
.proc-slavia{
    li{
        font-size: 1.3em;
        letter-spacing: 2px;
        font-weight: 300;
        line-height: 1.4em;
    }
    padding-left: 0;
    margin-top: 3em;
}
.proc-slavia{
    .h1{
        margin-bottom: 1em;
    }
    li{
        display: table;
        height: 60px;
        padding-left: 4em;
        background: url(../images/nums.png) no-repeat left top;
        margin-bottom: 2em;
        vertical-align: middle;
        span{
            display: table-cell;
            vertical-align: middle;
        }
        & + li{
            background-position: left -60px;
        }
        & + li + li{
            background-position: left -120px;
        }
    }
}
.pojisteni-banner{
    margin-top:0;
    
}
.pojisteni-text-wrap{
    font-size: 2.3em; 
}

.hamburger{
}
.slavia-box{
    img,.next-to-img{
        width: 40%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
    .next-to-img{
        width: 60%;
    }
}
.slavia-box-item {
    .label{
        padding-bottom: .5em;
        border-bottom: 1px solid darken(@primary, 10%);
    }
    height: 140px;
    .slavia-box{
        height: 140px;
    }
}
.underline{
            span{
                display: inline;
            }
        }
.mid-sec-fb{
    padding-right: .8em;
    padding-left: 3em;
    .button{
        pointer-events: none;
        font-size: .8em;
        letter-spacing: 2px;
        margin-top: 1em;
        margin-bottom: 1em;
        position: relative;            
        .button(@primary);
        border-bottom: none;
        text-shadow: 0 1px 1px darken(@primary, 10%);
        box-shadow: 1px -1px 0 1px lighten(@primary, 15%),2px -2px 0 0 lighten(@primary, 10%);
        &:after{
            .pseudoels;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: @primary transparent transparent transparent;
            bottom:-5px;
            transform:translateX(-5px);
            position: absolute;
            left: 50%;
            z-index: 99;
        }
        
    }
    .pojisteni-text-wrap{
        padding-right: 2em;
    }
}
.pr-md{
    padding-right: 2em;
}
.novinky-home{
    margin-top: 2em;
}
.top-nav.donly{
    display: none;
}
.donly{
	display: block;
}

.pure-u-lg-1,
.pure-u-lg-1-1,
.pure-u-lg-1-2,
.pure-u-lg-1-3,
.pure-u-lg-2-3,
.pure-u-lg-1-4,
.pure-u-lg-3-4,
.pure-u-lg-1-6,
.pure-u-lg-5-6,
.pure-u-lg-1-12,
.pure-u-lg-2-12,
.pure-u-lg-3-12,
.pure-u-lg-4-12,
.pure-u-lg-5-12,
.pure-u-lg-6-12,
.pure-u-lg-7-12,
.pure-u-lg-8-12,
.pure-u-lg-9-12,
.pure-u-lg-10-12,
.pure-u-lg-11-12,
.pure-u-lg-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-lg-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-lg-1-6,
.pure-u-lg-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-lg-1-4,
.pure-u-lg-3-12 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-lg-1-3,
.pure-u-lg-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-lg-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-lg-1-2,
.pure-u-lg-6-12 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-lg-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-lg-2-3,
.pure-u-lg-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-lg-3-4,
.pure-u-lg-9-12 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-lg-5-6,
.pure-u-lg-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-lg-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-lg-1,
.pure-u-lg-1-1,
.pure-u-lg-12-12 {
    width: 100%;
}
.tabonly{
    display: none;
}
.special-number{
    font-size: 2.4em;
}
.presenter-default{
    .pojisteni-text-wrap{
        padding-right: 4em;
        
    }
}
.site-title{
    width:195px;
    float: left;
    text-align: left;
    margin-bottom: 2em;
    margin-top: 2.5em;
}
.brag-holder{
    margin-top: 1.7em;
    line-height: 2em;
    border-left: 1px solid @border;
    padding-left: 2em;
    font-weight: 100;
}
.navs-wrap{
    top:0;
    background: transparent;
    font-weight: 600;
    font-size: .85em;
    width:auto;
    float: right;
    &,a{
        color: @textwhite;;
    }
    a{
        opacity: 1;
        display: block;
        overflow: hidden;
        max-height: inherit;
        padding-left: 2em;
    }
    .open & {
        a{
            opacity: 1;
            border-bottom: 1px solid @border;
            padding-top: 1em;
            padding-bottom: 1em;
            max-height: 4em;
        }
    }
    
    ul,li{
       margin: 0;
       padding: 0;
    }
}
.menu-slider{
    width:inherit;
    float: inherit;
}
.navs-wrap .subin{
    border-bottom: none;
}
.navs-wrap li{
    max-height: inherit;
    overflow: visible;
    position: relative;
    &.nav-item a{
        width: 100%;
    }
       & > ul{
            width: 200px;
            display: none;
            position: absolute;
            
        }
        ul a{
                display: block;
                background: transparent;
                padding: 1em 1em 1em 2em;
                &:hover{
                    background: @primary;
                }
            }
            & > ul{
                .bxsh;
                margin-bottom: 0;
                top:100%;
                text-align: left;
                opacity: 1;
                visibility: visible;
                background: darken(@primary, 10%);
                z-index: 999;
            }
    }

.main-nav{
    text-align: right;
    position: relative;
    top:0em;
    .in-item a{
        text-transform: none;
    }
    .main-nav-item {
        font-weight: 300;
        color:@white;
        & > a{
            color:@white;
            font-size: 1.1em;
            padding: 0 0 1em;
            &:hover{
                cursor: default;
            }
        }
        padding-right: 1em;
        padding-left: 1em;
        padding-top: .5em;
        border-radius: 3px 3px 0 0;
        &.search,&.search:hover{
            text-indent: 600px;
            text-align: left;
            width:40px;
            cursor: pointer;
            
            background: url(../images/search.png) no-repeat right center;
            padding-right: 0
        }
        &:hover{
            background: darken(@primary, 10%);
        }
        li{
            width:33%;
            float: left;
            position: relative;
            &:nth-child(3n+4){
                clear: left;
            }
        }
        .masonry{
            width: 100%;
        }
        & > ul {
            background: fade(darken(@primary, 10%),95%);
            display: none;
            opacity: 1;
            pointer-events: all;
            width:968px;
            padding-left: 1em;
            .masonry > li{
                margin-top: 1em;
                margin-bottom: 1em;
                font-size: 1.2em;
            }
            ul{ 
                text-indent: 0;
                font-size: .9em;
                text-transform: none;
                display: block;
                position: relative;
                opacity: 1;
                visibility: visible;
                width: 100%;
                a{
                    padding-top: .2em;
                    padding-bottom: .2em;
                    
                }
                li{
                    width:100%;
                }
            }
        }
    }
}
.main-nav-item{
    padding: 1em 0em;
    display: inline-block;
    & > .submenu-listener{
        font-weight: 400;
        letter-spacing: 3px;
    }
}
.menu-inner-wrap{
    text-align: right;
}
.top-nav{
    display: inline-block!important;
    margin-top: 3.5em;
    text-align: right;
    margin-bottom: .5em;
    .nav li:last-child{
        padding-right: .5em;
    }
    &.donly{
        display: inline-block;
        li:first-child{
            a{
                border-left: 1px solid @white;
            }                
        }
    }
    .nav-item{
        padding: 1em 0em.;
        font-size: .9em;
        font-weight: 100;
        vertical-align: middle;
        display: inline-block;
        a{
            padding-left: 1em;
            display: inline-block;
        }
    }
    .in-item{
        .animate();
        &:hover{
            background: @primary;
            position: relative;
            ul{
                position: absolute;
                display: block;
                left: -200%;
                width: 200%;
                top: 0;
            }
            li{
                width: 50%;
                float: left;
                &:nth-child(2n+3){
                    clear: left;
                }   
            }
        }
    }
    .nav-sep{
        display: inline-block;
        vertical-align: middle;
        padding: 1em 0 1em 1em;
    }
}
.site-title{
    width:195px;
    float: left;
    text-align: left;
    margin-bottom: 4em;
    margin-top: 1em;
}
.gs-para-slider{
    background: url('../images/para-slider.jpg') no-repeat center;
    width: 100%;
    height: 780px;
    position: relative;
    
    .gs-para-wrap{
        height: 100%;
        position: relative;
         width: 1024px;
    margin-left:auto;
        margin-right: auto;
    }
    .para-slide{
        margin-left:auto;
        margin-right: auto;
        top:12em;
        width:1024px;
        max-width: 100%;
        position: absolute;
        display: none;
        transform:none;
        &.active{
            display: block;
        }
    }
    img{
        max-width: 100%;
    }
}
.presenter-default .gs-tabs{
	width:73%;
	margin-right: 2%;
}
span.placeholder{
    position:absolute;
    font-size:75%;
    color:#999;
    font-family:sans-serif;
    padding:4px 3px;
    z-index:1;
    cursor:text;
}

span.placeholder-hide-except-screenreader {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

span.placeholder-hide{
	display:none;
}
.placeholder { color: #777; }

/* overwrite for the HTML5 Boilerplate way to hide labels */
label.visuallyhidden-with-placeholder{
    /*clip: auto !important;*/
    height:auto !important;
    overflow: visible !important;
    position:absolute !important;
    left:-999em;
}
.radios{
    padding-top: .4em;
    input[type="radio"]{
        display: inline-block;
        width: 2em;
        &:checked + label{
             &:after{
                    display: none;
                }
        }
          
    }
    input[type="checkbox"]{
        display: inline-block;
        width: 2em;
        &:checked + label{
             &:after{
                    display: none;
                }
        }
    }
    input[type="radio"] + label{
        position: relative;
        
        &:before{
            display: none;
        }
        position: relative;
        display: inline-block;
        margin: 0;
        padding: .2em .5em .2em 0em;
        font-weight: 300;
        color:@black; 
    }
    input[type="checkbox"] + label{
        position: relative;
        
        &:before{
            display: none;
        }
        position: relative;
        display: inline-block;
        margin: 0;
        padding: .2em .5em .2em 0em;
        font-weight: 300;
        color:@black; 
    }
}
.copy{
	clear:both;
}

.main-nav li.search a{
	display: block;
	cursor: pointer
}