@charset "utf-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "partials/variab";
@import "partials/normalize";

html,
button,
input,
select,
textarea {
    color: @black;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
body{
    .bggrad;
}
p strong{
    font-weight: 400;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: @primary;
    text-shadow: none;
    color: @textwhite;
}

::selection {
    background: @primary;
    text-shadow: none;
    color: @textwhite;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @border;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    &:extend(.clearfix all);
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
//misc
article{
    .h1{
        color:white;
    }
}
.fleft{
    float:left;
}
.c-brick{
    color:@primary;
}
.c-white{
    color:@textwhite;
}
.c-dark-brick{
    color:darken(@primary, 10%);
}
.w300{
    font-weight: 300;
}
.w400{
    font-weight: 400;
}
.w600{
    font-weight: 600;
}
.w800{
    font-weight: 800;
}
.large{
    font-size:1.5em
}
.c-shade{
    color:lighten(@black, 30%)
}
.small{
    font-size: .8em;
}
.upper{
    text-transform: uppercase;
}
.space1em{
    padding-top: 1em;
    padding-bottom: 1em;
}
.space2em{
    padding-top: 2em;
    padding-bottom: 2em;
}
.space05em{
    padding-top: .5em;
    padding-bottom: .5em;
}
.spacetop1em{
    padding-top: 1em;
}
.spacetop2em{
    padding-top: 2em;
}
.mtop1{
    margin-top: 1em;
}
.highlight{
    &:extend(.h2);
    line-height: 1.5em;
}
.fb-like-box{
    margin-top: 1.5em;
}
.perex{
    font-size: 1.2em;
    line-height: 1.35em;
}
.secspace,.article-sec{
    margin-top: 2em;
    margin-bottom: 2em;
}
.spaced .pure-u-md-1-3,.spaced .pure-u-lg-1-3,.spaced .pure-u-md-1-2{
    padding-right: 2%;
    &:nth-child(3n+3),&:last-child{
        padding-right: 0;
    }
}
.rel{
    position: relative;
}
.abr, .regbox .button.abr{
    position: absolute;
    right:0;
    top:0;
    height: 100%;
}
.full-w{
    width:100%!important;
}
.lh2em{
    line-height: 2em;
}
.arrowed{
    &::after{
        .vcenter;
        display: table;
        content: "›";
        color: lighten(@black, 20%);
        position: absolute;
        display: block;
        right:1em;
    }
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

// Google search
body{
    .gsc-control-cse{
        font-family: @font;
        background: transparent;
        border: none;
        padding-left: 0;
        padding-right: 0;
        .gsc-selected-option-container{
            min-width: 100%;
            max-width: inherit;
            width:auto!important;
        }
        .gsc-option-menu-container{
            width:100px;
        }
        .gsc-clear-button{
            display: none;
        }
    }
    table.gsc-search-box td{
        vertical-align: top;
    }
    .cse input.gsc-input, input.gsc-input{
        padding-top: .9em;
        padding-bottom: .9em;
        width: 100%;
    }
    .cse table.gsc-search-box td.gsc-input, table.gsc-search-box td.gsc-input{
        padding: 0;
    }
    .gsc-search-button{
        padding: 0;
        margin-top: .5em;
        width: 100px;
        input{
            font-size: 14px;
            .button(@secondary);
            border-left: none;
             border-right: none;
            border-radius: 0;
            font-weight: 300;
            height: 3em;
            box-shadow: none;
        }
    }

    .gsc-above-wrapper-area td{
        background:white;
    }
    .gcsc-branding-text{
        background:white;
        cursor-events:none;
            background:white;
                color: @primary;
        &:hover{
                color: @primary;
            background:white;
            a{
                color: @primary;
            }
        }
    }
    .gsc-resultsHeader{
        td{
            background: white;
        }
    }
}
.gsc-control-wrapper-cse  {
    .gsc-input,tr{
    background:transparent;
        &:hover,&:hover td{
            background:transparent;
        }
    }
}
.gs-webResult.gs-result{
    .gsc-table-cell-snippet-close{
        background:white;
        &:hover{
            background:white;


        }
        a.gs-title:hover{
            color: darken(@primary,10%);
        }
    }
}
//Butóny
@color:#bcc767;
.button(@color){
    background: @color no-repeat right center;
    text-transform: uppercase;
    padding: .75em 1.5em;
    display: block;
    color:white;
    border-radius:3px;
    border-bottom: 3px solid darken(@color, 20%);
    box-shadow: 0 2px 1px -1px lighten(black, 80%);
    display: inline-block;
    cursor: pointer;
    border-top: 0px solid darken(@color, 20%);
    .sublime{
        display: block;
        text-transform: none;
        font-weight: 300;
    }
    &.simple{
        border-radius: 0;
        min-width: 250px;
        max-width: 100%;
        border: none;
        box-shadow: none;
        margin-bottom: 5px;
        position: relative;
        .regbox &{
            padding-top: 1.5em;
        }
        &::after{
            .vcenter;
            display: table;
            content: "›";
            color: lighten(@color, 20%);
            position: absolute;
            display: block;
            right:1em;
        }
    }
    .animate(100ms);
    &:hover{
        background-color: lighten(@color, 10%);
        text-decoration: none;
    }
    &:active,&:focus,&.current{
        border-bottom: 0px solid darken(@color, 20%);
        border-top: 3px solid darken(@color, 20%);
        background-color: darken(@color, 10%);
    }
    &.send{
        padding: 1em 2em;
        background-image: url("../images/mail.png");
        background-size: contain;
    }
}
.button{
    .button(@color);
}
.button.disabled{
    .button(@black);
    color:lighten(@black, 20%)
}
article .regbox {
    @media
    (max-width:600px) {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-indent: 1.5em;
    .button.abr{
        text-indent: 0;
           position: relative;
           width: 100%;
        }
    }
}
.paginator .button{
    vertical-align: bottom;
}
.vice-wrap{
    text-align: center;
}
.rel{
    position: relative;
}
.vice{
    background: url("../images/plus.png") no-repeat left center;
    padding-left: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2em;
    display: inline-block;
}
.full{
    width: 100%;
    display: block;
}
.file-attachments{
    a{
        .animate();
        color:@black;
        display: inline-block;
        padding: 1em 4em 1em 1em;
        background: @white url("../images/file.png") no-repeat 95% center;
        border-right: 2px solid @white;
        margin-top: .5em;    
        margin-bottom: .5em;
        &:hover{
            border-right: 2px solid @primary;
            text-decoration: none;
        }
    }
}
//forms
label{
    text-transform: uppercase;
    color: lighten(@black, 30%);
    font-weight: 600;
    margin:2em 0 0;
    display: inline-block;
    &:after{
            .pseudoels;
            display: inline;
            content: ":"
        }
    &.required{
        &:after{
            .pseudoels;
            display: inline;
            content: ": *"
        }
    }
	.radios &:after {
		content: '';
	}
}
input, textarea, select{
    margin: .5em 0 0;
    display: block;
    color:@primary;
    padding: 1em;
    border: none;
    font-weight: 300;
    width:90%;
    box-sizing: border-box;
    display: block;
}
select{
    min-height: 3em;
    height: 3.25em;
    line-height: 1;
    background: @white;
    border-radius: 0;

}
textarea{
    height: 200px;
}
input[type="submit"]{
    .button(@primary);
    text-align: left;
    border-bottom-color: @primary;
    background-image: url(../images/arrow-submit.png);
    background-position: right center;
    &.replicator-remove,&.replicator-add{
        background-image: none;
        margin-top: 0;
        height: 3.2em;
        &.disabled{
            background: lighten(@black, 10%);
            color: lighten(@black, 20%);
            border-color: lighten(@black, 5%);
        }

    }
    &.replicator-remove{
        border-radius: 0 3px 3px 0;
    }
    &.replicator-add{
        .button(@secondary);
        text-align: center;
        padding: 0;
        margin-top: .5em;
        margin-bottom: 1em;
    }
}
.replicator-add{
    .button(@secondary);
    text-align: center;
    padding: 0;
    margin-top: .5em;
    margin-bottom: 1em;
    background-image: none;
    margin-top: 0;
    height: 3.2em;
    &.disabled{
        background: lighten(@black, 10%);
        color: lighten(@black, 20%);
        border-color: lighten(@black, 5%);
    }
}
.pure-u-1>.pure-u-1:last-child input,.pure-u-1>.pure-u-1:last-child textarea{
    width:100%;
}
legend{
    &:extend(.h2);
    margin-top: 0;
    padding-top: 1em;
    font-size: 2em;
}
input[type="file"]:not(.plain){
    display: none;
}
.repeater-block{
    &>strong{
        font-size: 1.3em;
        font-weight: 300;
        color: @primary;
    }
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid @border;
}
.file-input{
    background: white;
    border-radius: 3px;
    display: block;
    position: relative;
    height: 3.2em;
    font-weight: 300;
    margin: .5em 0 2em;
    padding: 1em 0 1em 1em;
    cursor: pointer;
    overflow: hidden;
    color:@primary;
    &:before{
        .pseudoels;
        display: block;
        content: 'Vybrat soubor';
        color:white;
        height: 100%;
        right: 0;
        top: 0;
        width:3em;
        line-height: 1;
        border-radius: 3px;
        line-height: 3em;
        padding-left: 160px;
        text-indent: -145px;
        position: absolute;
        background: lighten(@black, 30%) url(../images/fileup.png) no-repeat 100% center;
        transform:translate3D(0);
        backface-visibility: hidden;
        .animate(1000ms);
        .locale-en &{
            content: 'Select File';
        }
        .locale-vi &{
            content: 'chọn tập tin';
        }
        .locale-ru &{
            content: 'выберите файл';
        }
    }
    &.changed{
        &:before{
            content:"";
            padding-left: 50px;
            background-color: @primary;
            transform:translate3D(0);
        }
    }
    width:90%;
}
.form-group input {
    width:99%;
}
.radios{
    padding-top: .4em;
    input[type="radio"]{
        display: none;
        &:checked + label{
             &:before{
                    .pseudoels();
                    background: @primary;
                }
        }
    }
    input[type="checkbox"]{
        display: none;
        &:checked + label{
             &:after{
                    .pseudoels();
                    content: 'x';
                    position: absolute;
                    left: 4px;
                    font-weight: 800;
                    text-transform: none;
                    top:1px;
                    color: @white;
                }
        }
    }
    input[type="radio"] + label{
        position: relative;

        &:before{
            .pseudoels();
            top:7px;
            position: absolute;
            width: 1em;

            left: 0;
            height: 1em;
            border-radius: 100%;
            background: darken(@white, 30%);
        }
        position: relative;
        display: block;
        margin: 0;
        padding: .2em .5em .2em 1.5em;
        font-weight: 300;
        color:@black;
    }
    input[type="checkbox"] + label{
        position: relative;

        &:before{
            .pseudoels();
            top:7px;
            position: absolute;
            width: 1em;
            left: 0;
            height: 1em;
            border-radius: 0;
            background: darken(@white, 30%);
        }
        position: relative;
        display: block;
        margin: 0;
        padding: .2em .5em .2em 1.5em;
        font-weight: 300;
        color:@black;
    }
}
/* Header */
.site-logo{
    background: url('../images/slavia-logo-white.png') no-repeat top left;
    display: block;
    width: 195px;
    height: 62px;
    position: relative;
    text-indent: -99999px;
    background-size: contain;
    @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 140dpi) {
        background-image: url('../images/slavia-logo-white@2.png')
    }
    @media
    (max-width:999px) {
           max-width: 50%;
    }

}
.site-header{
    &:extend(.clearfix all);
}
.site-title{
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}
.navs-wrap{

    .subin{
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid @border;
    }
    position: relative;
    top:-1em;
    background: @white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .85em;
    &,a{
        color: @black;
    }
    li{
        max-height: 0;
        overflow: hidden;
    }
    a{
        .animate;
        opacity: 0;
        display: block;
        overflow: hidden;
        max-height: 0;
        padding-left: 2em;
    }
    .navigation-back{
        width:100%;
        background: @primary;
        color: @white;
        top: 0;
        left: 0;
        position: absolute;
        padding-top:1em;
        padding-bottom: 1em;
        padding-left: 1em;
        display: none;
    }
    .open & {
        .navigation-back{
            display: block;
        }
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        z-index: 99999;
        height: 100%;
        overflow-y: scroll;
        .slide-menu-hold{
            padding-top: 50px;
            overflow: hidden;
            width: 100%;
            position: relative;

        }
        .menu-slider{
            position: relative;
            display: block;
            width: 100%;
            overflow: visible;

        }
        .submenu-listener{
            position: relative;
            display: block;
            padding-right: 2em;
            &::after{
                .vcenter;
                display: table;
                content: "›";
                color: lighten(@black, 20%);
                position: absolute;
                display: block;
                right:1em;
            }
        }
        li{
           max-height: 8em;
           overflow: visible;
        }
        a{
            opacity: 1;
            border-bottom: 1px solid @border;
            padding-top: 1em;
            padding-bottom: 1em;
            max-height: 8em;
        }
        .submenu,.menuhold,.current .subin .submenu{
            position: absolute;
            width: 100%;
            left: 100%;
            top:0;
            visibility: hidden;
            pointer-events: none;
            opacity: 0;
        }
        .current .subin.current-level-2 .submenu{
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
        .current{
            .submenu,.menuhold{
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    ul ul a{
        background: @shade;
        padding-left: 2em;
        padding-right: 1em;
    }
    ul,li{
       margin: 0;
       padding: 0;
    }
}
@media (max-width:999px) {
    .navs-wrap{
        li:hover{
            background:@shade; 
            cursor: pointer;
        }
    }
    .open .navs-wrap a{
        background:transparent;
        &:hover{
            text-decoration: none;
        }
    }
}

.hamburger{
    color: white;
    margin-top:0;
    text-transform: uppercase;
    margin-bottom: 1em;
    height: 70px;
    width: 50px;
    position: absolute;
    top:-70px;
    right: 0;
    @media (max-width:999px) {
           &.monly{ display: block; }
        }
    .icon{
        display: block;
        position: relative;
        vertical-align: middle;
        .margin-auto;
        top: 20px;
        &,&:after,&:before{
            .animate;
            content: '';
            width: 38px;
            height: 4px;
            background: @white;
            transform-origin: 16px 2px;
        }
        &:after,&:before{
            display: block;
        }
        &:before{
            transform:translateY(9px);
        }
        &:after{
            transform:translateY(-14px);
        }

    }
    .open &{
        top:0;
        height: 50px;
        background: transparent;
        .icon{
            background: transparent;
            &:after,&:before{
                display: block;
               // background: @primary;
            }
            &:before{
                transform:rotate(45deg);
            }
            &:after{
                transform:rotate(-45deg);
            }
        }
    }
}

// GoodShape tabs
.gs-tabs{
    position: relative;
    overflow: hidden;

    ul,li{
        padding: 0;
        margin: 0;
    }
    .gs-tabnav{
        @media (min-width:768px) {
            width:98%;
        }
    }
    .presenter-default-default &{
        .gs-tabnav{
            @media (min-width:25.5em) {
                ul{
                    display: table;
                    width: 100%;
                }
                li{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    .tab-nav{
        z-index: 99;
        position: relative;
        .animate(100ms);
        cursor: pointer;
        text-align: center;
        padding-top: 1em;
        padding-left: .3em;
        padding-right: .3em;
        padding-bottom: 1em;
        text-transform: uppercase;
        color: @textwhite;
        font-weight: 600;
        letter-spacing: 4px;
        border-bottom:1px solid transparent;

        &.open,&:hover{
            color:@primary;
            background: @white;
            border-color: lighten(@primary, 50%);
            .underline{
                border-bottom: 2px solid @primary;
            }
        }

    }
    .tab-box{
         .locale-vi.presenter-default-default &,.locale-ru.presenter-default-default &{
            min-height: 160px;
            max-height: 160px;
            @media (max-width:768px) {
                max-height: 300px;
            }
        }
        .locale-vi &,.locale-ru &{
            min-height: 300px;
            max-height: 300px;
        }
        .presenter-default .locale-vi &, .presenter-default .locale-ru &{
        }
        .animate();
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 10;
        background: @white;
        box-shadow: 0 1px 1px lighten(@black, 30%);
        @media (min-width:768px) {
            width:98%;
        }
        &.open{
            z-index: 99;
            opacity: 1;
            pointer-events: all;
        }
    }
}
.slavia-box,.slavia-more{
    position: relative;
    .animate();
    cursor: pointer;
   /* &:after,&:before{
            .pseudoels;
            .animate;
            .acenter;
            transform:translateY(-50%) translateX(-50%) scale(.5);
            position: absolute;
            pointer-events: none;
            background: @primary;
            width: 5px;
            height: 50px;
            opacity: 0;
            z-index: 99;
        }
        &:after{
            width: 50px;
            height: 5px;
        }*/
        &:hover{
            transition-delay:0;
            img{
                transition-delay:0;
                .animate();
                opacity: .8
            }
           /* &:after,&:before{
                transform:translateY(-50%) translateX(-50%) scale(1);
                opacity: 1;
                left: 50%;
            }*/
            background-color: darken(@white, 10%);
            color:@primary;
        }
}
.fb_iframe_widget{
    max-width: 100%;
    position: relative;
    display: block!important;
    &>span{
        max-width:100%!important;
    }
}
.slavia-box-item{
    .animate();
    cursor: pointer;
    height: 160px;
    overflow: hidden;
    display: block;
    position: relative;
    border-right: 1px solid lighten(@primary, 30%);
    border-top: 1px solid lighten(@primary, 30%);

    .delays(6);
    .slavia-box{
        padding: 1em;
        display: block;
        position: relative;
        height: 160px;
        .animate();
        transform:translateY(50px);
        opacity: 0;
        img{
            max-width: 100%;
        }
        .loop(@counter) when (@counter > 0) {
            .loop((@counter - 1));    // next iteration
            width: (10px * @counter); // code for each iteration
        }
        .open &{
            opacity: 1;
            transform:translateY(0);
        }

    }
    .presenter-default-default &{
        border-bottom: 1px solid lighten(@primary, 30%);
        &:nth-child(n+4){
            border-top: none;
            border-bottom: none;
        }
    }
    .locale-vi &,.locale-ru &{
        width: 100%;
        height: 100%;
        img{
            max-width: 70px;
        }
        .next-to-img{
            width:60%;
        }
    }
    &:nth-child(3n+3){
        border-right: none;
    }
     &:nth-child(3n+4){
        clear: left;
    }
    .mega &{
        display: block;
        float: left;
        width: 0;
        height: 0;
        padding: 0;
        overflow: visible;
        border:none;
        &.current{
            height: 100%;
            width: 100%;
            .slavia-box{
            }
            .slavia-box-list{
                li{
                    transform:translateY(0);
                    opacity: 1;
                }
            }
            .slavia-box-expand{
                pointer-events: all;
                display: block;
                opacity: 1;
            }
        }
    }
}
.close{
        width: 28px;
        height: 28px;
        position: absolute;
            right: 1em;
            top: 1em;
        background: url('../images/close.png');
        cursor: pointer;
        z-index: 99;
        &.dark{
            background: url('../images/close-dark.png');
        }
    }
.slavia-box-expand{
    cursor: default;
    background: #863c23 url('../images/tabs-bg.jpg') no-repeat right top;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    pointer-events: none;
    display: none;
    color:white;
    padding: 1em;
    font-weight: 300;
    .animate();
    a{
        color: white;
    }
    .label{
        font-size: 1.3em;
        font-weight: 300;
    }
    img{
        padding-right: 1em;
    }
    .slavia-box-list{
        li{
            .delayme(15,300ms);
            .animate;
            opacity: 0;
            transform:translateY(150%);
        }
    }

    li{
        display: block;
        width: 50%;
        float: left;
        padding: .2em 1em;
        .overlay{
            display: none;
        }
        .no-touch & .overlay{
            .vcenter;
            display: table;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
            text-align: center;
            text-transform: uppercase;
            opacity: 0;
            .animate;

            &:hover{
                opacity: 1;
            }
            span{
                .animate;
                padding: .5em .5em;
                height: 100%;
                font-size: .75em;
                line-height: 1em;
                display: table-cell;
                vertical-align: middle;
                &:hover{
                    background: white;
                    color: @primary;
                    a{
                        color: @primary;
                        text-decoration: none;
                    }
                }
            }
            a{
                .animate;
                color:white;
                display: block;
            }
        }
    }
}
.side-info{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 250px;
}
.bxsh{
    box-shadow: 0 2px 3px -2px lighten(black, 20%);
    margin-bottom: 3px;
}
.special-number{
    display: block;
    font-size: 2.5em;
    font-family: @fontserif;
    font-weight: 800;
    letter-spacing: 0;
    margin: 0;
    background: transparent;
    color: @primary; /* non webkit browsers */
}
.backgroundclip{
    .special-number{
       // -webkit-text-fill-color: transparent;
         background: transparent;
         background: -o-linear-gradient(transparent, transparent), url(../images/bgclip.jpg) repeat;
         background: -webkit-linear-gradient(transparent, transparent), url(../images/bgclip.jpg) repeat;
         background-clip: text;
         color:@primary;
         -moz-background-clip: text;
         -webkit-background-clip: text;
    }
}
.infolinka{
    color:lighten(@black, 30%);
    font-size: .8em;
    font-weight: 300;
    letter-spacing: 2px;
}
.pojisteni-banner{
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
    img{
        display: inline-block;
        vertical-align: middle;
    }
}
.sjednat{
    text-align: center;
    .button{
        letter-spacing: 2px;
    }
    a{
        color: @white;
        display: block;
        padding: 1em;
        .animate();
        &:hover{
            background-color: lighten(@primary, 10%);
            text-decoration:none;
        }
    }
}
img.banner{
    width:100%;
}
.sjednat-menu {
    z-index: 99;
    .bxsh;
    background-color: @primary;
    color:white;
    text-align: left;
    margin-bottom: 20px;
    &:extend(.clearfix all);
    &:after{
        .pseudoels;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: @primary transparent transparent transparent;
        bottom:-20px;
        transform:translateX(-20px);
        position: absolute;
        left: 50%;
        z-index: 99;
    }
    ul{
        padding: 0;
        margin: 0;
        max-width: 600px;
    }
    li{
        width: 50%;
        float: left;
        display: block;
    }
}
.pojisteni-text-wrap{
    line-height: 1.2em;
    text-align: left;
    font-weight: 100;
    font-size: 1.35em;
    vertical-align: middle;
    display: inline-block;
    b{
        font-weight: normal;
    }
}
.damage-claim{
    &:after{
        display: table;
        content: "›";
        display: block;
        transform:rotate(90deg);
        position: absolute;
        right: 1em;
        top:1em;
    }
}
.submit-damage{
    width: 100%;
    .submit-dmg-list{
        z-index: 999;
        position: relative;
        background: white;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        a{
            padding-left: 1em;
            display: block;
            border-top: 1px solid @border;
            line-height: 1em;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-right: .5em;
            &:hover{
                background: @shade;
            }
        }
        li{
            ul{
               
            }
        }
    }
    .online-forms-list{
        .bxsh;
        position: relative;
        ul{
            position: absolute;
            left: -100%;
            top:-8em;
            margin: 0;
            padding: 0;
            width: 100%;
            .bxsh;
            display: none;
            background: @shade;
        }

        &:hover{
            background: @shade;
            ul{
                display: block;
            }
        }
        li{
            text-indent: 0;
        }
        ul a{
            padding-left: 1.5em;
        }
    }
}
aside .submit-damage .online-forms-list {
    ul{
        left: 100%;
    }
}
@media screen and (max-width: 767px) {
    .submit-damage{
        .online-forms-list{
            ul{
                left:0;
                top:0;
                position: relative;

            }
        }
    }
}
.green-wrap{
    margin-bottom: 1em;
    .banner{
        margin-top: 2em;
        margin-bottom: 1em;
        color: white;
        font-weight: 300;
        b{
            font-weight: 400;

        }
    }
    .pojisteni-text-wrap{
        padding-right: 2em;
        font-size: 1.5em;
    }
    background: @secondary;
    text-align: center;
    padding-bottom: .5em;
    ul{
        padding: 0;
    }
    .in-item{
        a{
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    a{
        font-size: .85em;
        line-height: 2em;
        font-weight: 300;
        color: @white;
        text-transform: uppercase;
        display: block;
        border-top: 1px solid lighten(@secondary, 10%);
        padding-top: .5em;
        padding-bottom: .5em;
    }
}
.damage-claim{
    .regbox();
    .dropdown-trigger{
        color: @primary;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.poradce{
        position: relative;
    a{
        text-transform: uppercase;
        &:hover{
            text-decoration: none;

        }
        .sublime{
            display: block;
            color: lighten(@black, 30%);
            font-size: .8em;
            text-transform: none;
        }
    }
    &::after{
        .vcenter;
        display: table;
        content: "›";
        color: lighten(@black, 20%);
        position: absolute;
        display: block;
        right:1em;
    }
    &.regbox:hover{
         background: @secondary;
         color:white;
         a{
            color: white;
         }
         .sublime{
            color:white;
         }
    }
}
.callback{
    .label{
        color: @secondary;
        text-transform: uppercase;
        background: white url("../images/phone-green.png") no-repeat 90% center;
    }
    input{
        margin-top: 0;
        height: 3em;
        line-height: 3em;
        margin-bottom: 0;

    }
    form{
        margin-bottom: .3em;
    }
    .in-number{
        width: 90%;
        background: @shade;
        border: none;
       padding: 1em 0 1em 2em;
       line-height: 1em;
       vertical-align: bottom;
       display: inline-block;
    }
    .submit-number{
        border:none;
        text-align: center;
        .button(@secondary);
        color: lighten(@secondary, 20%);
        border-radius: 0;
        width: 10%;
        box-sizing: border-box;
        padding: 0;
        margin:0;
    }
}
.rady-banner-onpage{
    .nabidka{
        margin-top: 3em;
    }
}
.rady-banner-onpage{
    @media screen and (max-width: 998px) {
        padding-left: 1em;
        padding-right: 1em;
    }
}
.rady{
    margin:0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 300;
    li{
        position: relative;
        padding-left: 2.5em;
        line-height: 1em;
        &:last-child{
            a{
                border-bottom: none;
            }
        }
        &:nth-child(2n+3){
            clear: left;
        }
        &:before{
            .pseudoels();
            background: url('../images/sprite-list.png') repeat-y top left;
            width:32px;
            height: 26px;
            .vcenter;
            position: absolute;
            left: 0;
        }
        .spritelist(1);
        &:nth-child(3):before {
            background-position: left -(3*26px);
        }
        &:nth-child(4):before {
            background-position: left -(2*26px);
        }
         &:nth-child(8):before,&:nth-child(5):before,&:nth-child(6):before,&:nth-child(7):before,&:nth-child(9):before {
            background-position: left -(4*26px);
        }
        &:nth-child(10):before {
            background-position: left -(6*26px);
        }
        &:nth-child(11):before {
            background-position: left -(5*26px);
        }
        &:nth-child(12):before {
            background-position: left -(7*26px);
        }
    }
    .locale-en &{
        li{
            .spritelist(10);
            &:nth-child(2):before {
                background-position: left -(4*26px);
            }
            &:nth-child(5):before {
                background-position: left -(5*26px);
            }
            &:nth-child(6):before {
                background-position: left -(7*26px);
            }
        }
    }
    a{

        color:@black;
        display: block;
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid @border;
        &:hover{
            text-decoration: none;
            color: @primary;
        }
    }
}
//flashe
.flash{
    width: 100%;
    padding: 1em;
    background: white;
    &.flash-success{
        border: 1px solid @secondary;
        color:@secondary
    }
    margin-bottom: 1em;
}
//kraje
.krajelist{
    .regbox();
    padding: 0;
    li{
        padding: 0;
        &:before{
            display: none;
        }
    }
    a{
        padding: .8em 1em;
        border-bottom: 1px solid @border;
        display: block;
    }
}
//sidebar
.stickme{
    background: @shade;
}
.sidebar{
    padding-right: 4em;
    position: relative;
    z-index: 999;
    .sjednat-menu li{
        width: 100%;
    }
    .side-info{
        max-width: 100%;
        width:100%;
    }
    .next-to-img{
    }
    .label{
        img{
            display: none;
        }
    }
    .gs-tabs{
        border-bottom: 1px solid @border;
        .gs-tabnav{
            width:100%;
        }
        .gs-tab-nav{
            margin: 0;
        }
        .tab-nav{width:100%;}
        .tab-box{
            width:100%;
            &.mega{
                .slavia-box,  .slavia-box-item{
                    height: 0; opacity: 0;
                }
                .slavia-box-item.current{
                     height:100%;
                     opacity: 1;
                }
            }
        }
        .slavia-box-expand{
            background: @primary;
            .label{
                padding-right: 2em;
            }
        }
        .slavia-box{
                    height: 100px;
                }
        .slavia-box-item{
            height: 100px;
            border-right: none;
            width:100%;
            display: block;
            img{
                width: 40%;
                padding-right: 5%;
            }

            .next-to-img{
                width:60%;
            }
        }
        .slavia-box-list{
            li{
                padding-top: .5em;
                width:100%;
            }
        }
    }
    .pojisteni-banner{
        margin: 1em 0;
        width:100%;
        img{
            max-width: 80%;
        }
    }
}
//novinky

.news-item{
    position: relative;
    background-color: darken(@white, 6.5%);
    padding: 1em 1.5em 3em;
    box-shadow: 0 1px 3px -1px lighten(black, 10%);
    margin-bottom: 1em;
    .novinky-home &{
    width: 100%;
    }
    &:after{
        .pseudoels;
        border-bottom: 1px solid lighten(black, 10%);
        position: absolute;
        bottom:2em;
        width: 3em;
    }
    .title{
        margin-top:.2;
        a{
            color:@black;
        }
    }
    p{
        font-weight: 300;
    }
    .date{
        margin-top: 1em;
        color:lighten(@black, 30%);
        font-size:.8em;
    }
}
.facebook-wrap{
    margin-top: 1em;
    margin-bottom: 1em;
    .facebook-name{
        a{
            color:#3c57a3;
        }
        padding-bottom: 1em;
    }
    .favatar{
        margin-right: 1em;
    }
}
//dropdown
.dropdown-target{
    display: none;
}

.proc-slavia{
    .h1{
        margin-bottom: 1em;
    }
    li{
        display: table;
        height: 60px;
        padding-left: 4em;
        background: url(../images/nums.png) no-repeat left top;
        margin-bottom: 2em;
        vertical-align: middle;
        span{
            display: table-cell;
            vertical-align: middle;
        }
        &:nth-child(2){
            background-position: left -60px;
        }
        &:nth-child(3){
            background-position: left -120px;
        }
    }
}
.nabidka{
    font-size: .8em;
    margin-bottom: .5em
}
// paraslide

.gs-para-slider{
    background: url('../images/para-slider.jpg') no-repeat center;
    width: 100%;
    height: 780px;
    position: relative;

    .gs-para-wrap{
        height: 100%;
        margin-top: -8em;
        position: absolute;
        width: 100%;
    }
    .para-slide{
        margin-left:50%;
        transform:translateY(-50%) translateX(-50%);
        width:1024px;
        max-width: 100%;
        position: absolute;
        display: none;
        &.active{
            display: block;
        }
    }
    img{
        max-width: 100%;
    }
}
.gs-para-arrows{
    display: block;
    position: absolute;
    bottom:50%;
    z-index: 99;
    text-indent: -9999px;
    width: 100%;
    @media screen and (min-width: 768px) and (max-width: 998px) {
            bottom:5%;
    }
    .arrow{
        width:33px;
        height: 64px;
        display: block;
        position: absolute;
        background: url('../images/arrows.png') no-repeat 0 0;
        left: 1em;
        transform: translateY(-50%);
        border-radius: 100%;
        margin-left:1em;
        cursor: pointer;
        .animate();
        &:hover{
            transform: translateY(-50%) translateX(-10px);
        }
    }
    .arrow-left{
        background-position: 0 -64px;
    }
    .arrow-right{
        left:inherit;
        right: 1em;
        &:hover{
            transform: translateY(-50%) translateX(10px);
        }
    }
}
.horizontalslider{
    background: white;
    border-top: 1px solid @border;
    border-bottom: 1px solid @border;
    &:extend(.clearfix all);
    .slider-wrap{
        overflow: hidden;
    }
    .slide-item{
        width: 333px;
        float: left;
        padding-top: 2em;
        padding-bottom: 2em;
        border-right: 1px solid @border;
        img,div{
            vertical-align: middle;
        }
    }
    .slider{
        position: relative;
        display: block;
        width: 9999px;
    }
    .product-list{
        display: none;
        &:extend(.clearfix all);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: @shade;
        z-index: 999;
        a{
            display: block;
            padding-top: .5em;
            padding-bottom: .5em;
        }
    }
}
//jscrollpane

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: @shade;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: lighten(@primary, 30%);
    position: relative;
}

.jspDrag
{
    background: @primary;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}

//paraglideslide nebo tak
.csstransitions .gs-para-slider{
    overflow: hidden;
    &,*{
        .animate(750ms);
    }
    .para-item-in{
        position: relative;

    }
    .slide-pics{
        position: relative;
    }
    .image-holder{
        height: 400px;
        text-align: right;
    }
    .para-slide{
        display: block;
        opacity: 0;
        &.active{
            opacity: 1;
        }
    }
    .content-holder{
        perspective:500px;
        img{
            transform:translateX(-50%) rotateY(-45deg);
        }
        p{
            transform:translateY(100px) rotateX(-45deg);
            width: 80%;
        }
    }
    .image-holder {
        perspective:500px;
        img{
            .vcenter;
            transform:translateX(50%) translateY(50%) rotateY(45deg);
            transform-origin: 0 100%;
        }

    }
    .active{
        .image-holder{
            img{
                transform:translateX(0) translateY(-50%) rotateY(0);
            }
        }
        .content-holder{
            img{
                transform:translateX(0) rotateY(0);
            }
            p{
                transform:translateY(0) rotateY(0);
            }
        }
    }
}
// footery a tak
.gs-logo{
    display: inline-block;
    text-align: left;
    text-indent: -9999px;
    height: 17px;
    vertical-align: top;
    width: 97px;
    margin-right: 1em;
    margin-top: -3px;
    position: relative;

    background: url(../images/logo-gs.png) top left no-repeat;
    &:hover{
       background-position: bottom left;
    }
}
.as-logo{
    display: inline-block;
    height: 16px;
    width: 97px;
    text-align: left;
    vertical-align: top;
    text-indent: -9999px;
    background: url(../images/logo-as.png) top left no-repeat;
    &:hover{
       background-position: bottom left;
    }
}
.footer-copy{
    font-size: 13px;
    line-height: 13px;
    color: lighten(@black, 30%)
}
.human{
    background: @primary;
    padding-top: 2em;
    font-weight: 300;
    color:white;
    .pr-md{
        padding-bottom: 2em;
    }
    .h2{
        margin-bottom: 0;
    }
    .human-info{
        color:darken(@primary, 20%)
    }
    b{
        font-weight: 400;
    }
    a{
        color: @white;
    }
    .pure-u-1{
        vertical-align: bottom;
    }
    .vtop{
        vertical-align: top;
        padding-top: 1.5em;
        @media screen and (min-width: 768px) and (max-width: 998px) {
            margin-top: -143px;
        }
        @media screen and (max-width: 48em) {
            padding-top: 0;
            padding-bottom: 1em;
        }
    }
}
//footer menus

.site-footer{
    background: white;
    border-top: 1px solid @border;
}
.presenter-news {
    .news-item{
        width:32%;
        margin-right: 2%;
        &:nth-child(3n+3){
            margin-right: 0;
        }
    }
}

.site-footer{
    .h2{
        margin-top: 1.5em;
        margin-bottom: .5em;
    }
}
.site-footer {
    text-align: center;
    .side-info{
        padding-bottom: 1em;
    }
    .foo-mobile-menu{
        padding-top: 4em;
        padding-bottom: 4em;
        text-align: center;
    }
    .contacts-menu{
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .gs-logo{
        width: 30px;
    }
    .gs-branded{
        line-height: 10px;
    }
}
.footer-menus{
    &:extend(.clearfix all);
    li{
        font-size: .9em;
        cursor: pointer;
        padding-top: .6em;
        padding-bottom: .6em;
    }
    .submenu{
        margin: 0;
        border-radius: 3px 3px 3px 0 ;
    }
    & > ul{
        & > li{
            position: relative;
            ul{
                display: none;
                width: 100%;
                background: @primary;
            }
            &:hover{
                z-index:9999;
                color:white;
                border-radius: 3px 0 0 3px;
                li{
                    padding: 0;
                }
                a{
                    padding: .5em 1em;
                    display: block;
                    color:white;
                    &:hover{
                        background: lighten(@primary, 10%)
                    }
                }
                background: @primary;
                padding-left: 1em;
                ul{
                    display: block;
                    bottom: 0;
                    padding: .5em 0 0;
                }
            }
        }
    }
    .in-item{
        &:hover{
            padding-left: 0;
            background: transparent;
             a,a:hover{
                padding: 0;
                background: transparent;
                color:@black;
            }
        }
        a,a:hover{
            padding: 0;
            background: transparent;
            color:@black;
        }
    }
    ul{
        padding: 0;
        font-weight: 300;
        width:33%;
        float: left;
        position: relative;

        ul{
            left: 100%;
            position: absolute;
        }
    }
}
.setmiddle{
    .pure-u-1,
    .pure-u-1-1,
    .pure-u-1-2,
    .pure-u-1-3,
    .pure-u-2-3,
    .pure-u-1-4,
    .pure-u-3-4,
    .pure-u-1-6,
    .pure-u-5-6,
    .pure-u-1-12,
    .pure-u-2-12,
    .pure-u-3-12,
    .pure-u-4-12,
    .pure-u-5-12,
    .pure-u-6-12,
    .pure-u-7-12,
    .pure-u-8-12,
    .pure-u-9-12,
    .pure-u-10-12,
    .pure-u-11-12,
    .pure-u-12-12 {
        vertical-align: middle;
    }
}
form{
    .pure-u-1,
    .pure-u-1-1,
    .pure-u-1-2,
    .pure-u-1-3,
    .pure-u-2-3,
    .pure-u-1-4,
    .pure-u-3-4,
    .pure-u-1-6,
    .pure-u-5-6,
    .pure-u-1-12,
    .pure-u-2-12,
    .pure-u-3-12,
    .pure-u-4-12,
    .pure-u-5-12,
    .pure-u-6-12,
    .pure-u-7-12,
    .pure-u-8-12,
    .pure-u-9-12,
    .pure-u-10-12,
    .pure-u-11-12,
    .pure-u-12-12 {
        vertical-align: bottom;
    }
}
.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-12,
.pure-u-2-12,
.pure-u-3-12,
.pure-u-4-12,
.pure-u-5-12,
.pure-u-6-12,
.pure-u-7-12,
.pure-u-8-12,
.pure-u-9-12,
.pure-u-10-12,
.pure-u-11-12,
.pure-u-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
}

.pure-u-1-6,
.pure-u-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-1-4,
.pure-u-3-12 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-1-3,
.pure-u-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
}

.pure-u-1-2,
.pure-u-6-12 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
}

.pure-u-2-3,
.pure-u-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-3-4,
.pure-u-9-12 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-5-6,
.pure-u-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-12-12 {
    width: 100%;
}
.tabonly{
    display: block;
}

.lng{
    position: absolute;
    top: -2em;
    right: 0;
    li{
        display: inline-block;
    }
    a{
        background: white;
        padding:.3em;
        border-radius: 3px;
    }
}
@media screen and (max-width: 25.5em) {
    .gs-para-arrows{
        .arrow{
            left: -2em;
            &:hover{
                transform: translateY(-50%);
            }
        }
        .arrow-left{
            background-position: 0 -64px;
        }
        .arrow-right{
            left:inherit;
            right: -2em;
            &:hover{
                transform: translateY(-50%);
            }
        }
    }
    .presenter-default-default{
        .slavia-box-item{
            text-align: center;
            height: 200px;
            &:nth-child(n+3){
                border-top: none;
                border-bottom: 1px solid lighten(@primary, 30%);
            }
            &:nth-child(2n+2){
                border-right: none;
            }
            &:nth-child(2n+3){
                border-right: 1px solid lighten(@primary, 30%);
            }
            .slavia-box-list{
                li{
                    width: 100%;
                }
            }
            &:nth-child(3n+4){
                clear: none;
            }
            &:nth-child(2n+3){
                clear: left;
            }
        }
        .mega .slavia-box-item{
            display: block;
            float: left;
            width: 0;
            height: 0;
            padding: 0;
            overflow: visible;
            border:none;

            &.current{
                height: 100%;
                width: 100%;
                .slavia-box{
                }
                .slavia-box-list{
                    li{
                        transform:translateY(0);
                        opacity: 1;
                        padding-top: 1em;
                    }
                }
                .slavia-box-expand{
                    pointer-events: all;
                    display: block;
                    opacity: 1;
                    text-align: left;
                    background-size: cover;
                }
            }
        }
        .slavia-box{
            height: 200px;
        }
    }
}
@media screen and (max-width: 25.5em) {
   *{transition:none!important;}
}

@media screen and (min-width: 25.5em) {
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-2,
    .pure-u-sm-1-3,
    .pure-u-sm-2-3,
    .pure-u-sm-1-4,
    .pure-u-sm-3-4,
    .pure-u-sm-1-6,
    .pure-u-sm-5-6,
    .pure-u-sm-1-12,
    .pure-u-sm-2-12,
    .pure-u-sm-3-12,
    .pure-u-sm-4-12,
    .pure-u-sm-5-12,
    .pure-u-sm-6-12,
    .pure-u-sm-7-12,
    .pure-u-sm-8-12,
    .pure-u-sm-9-12,
    .pure-u-sm-10-12,
    .pure-u-sm-11-12,
    .pure-u-sm-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-sm-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-sm-1-6,
    .pure-u-sm-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-sm-1-4,
    .pure-u-sm-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-sm-1-3,
    .pure-u-sm-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-sm-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-sm-1-2,
    .pure-u-sm-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-sm-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-sm-2-3,
    .pure-u-sm-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-sm-3-4,
    .pure-u-sm-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-sm-5-6,
    .pure-u-sm-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-sm-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-1-2,
    .pure-u-md-1-3,
    .pure-u-md-2-3,
    .pure-u-md-1-4,
    .pure-u-md-3-4,
    .pure-u-md-1-6,
    .pure-u-md-5-6,
    .pure-u-md-1-12,
    .pure-u-md-2-12,
    .pure-u-md-3-12,
    .pure-u-md-4-12,
    .pure-u-md-5-12,
    .pure-u-md-6-12,
    .pure-u-md-7-12,
    .pure-u-md-8-12,
    .pure-u-md-9-12,
    .pure-u-md-10-12,
    .pure-u-md-11-12,
    .pure-u-md-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-md-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-md-1-6,
    .pure-u-md-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-md-1-4,
    .pure-u-md-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-md-1-3,
    .pure-u-md-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-md-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-md-1-2,
    .pure-u-md-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-md-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-md-2-3,
    .pure-u-md-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
        &>input,&>textarea{
            width:95%;
        }
    }

    .pure-u-md-3-4,
    .pure-u-md-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-md-5-6,
    .pure-u-md-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-md-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-12-12 {
        width: 100%;
    }
    section.master-padding{
        margin-bottom: 3em;
    }
    .master-padding{
        max-width: 1024px;
        padding-right: 1em;
        padding-left: 1em;
        margin-left: auto;
        margin-right: auto;
        display: block;

        .master-margin{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .map-holder{
        padding-right: .8em;
    }
    .brag-holder{
        line-height: 2em;
        font-weight: 100;
    }
    .rady-onpage{
        li{
            width: 50%;
            padding-right: 5%;
            float: left;
        }
    }
    body{
        background-repeat: no-repeat;
        background-position: center top;
        background-color:@shade;
        background-image: url(../images/inner-bg.jpg);
        .home-h1{
            margin-top: 0;
        }
        &.presenter-default-default{
            background-image: url(../images/home-bg.jpg);
            @media
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                background-size: 100% auto;
            }
            .home-h1{
                margin-top: .67em;
                font-size: 2em;

            }
            .h1-holder{
            }
            .arrowed::after{
                left: 5px;
                content: "‹"
            }
        }
    }
    article .h1, article + h1{
        font-size: 3em;
        font-weight: 300;
        margin-top: 0;
    }
    article p{
        font-weight: 300;
    }
    .h1,.news-h2{

        font-size: 2em;
    }
    .special-number{
        font-size: 2em;
    }
    .monly{
        display: none;
    }
    .krajelist{
        &:extend(.clearfix all);
        border-left: 1px solid @border;

        li{
            border-right:1px solid @border;
            float: left;
            width: 50%;
            background: @white;
        }
    }
    .side-info{
        margin-top: 0;
    }
    .pojisteni-banner-home{
        position: relative;
        margin-bottom: 6em;
        img{
            max-height: 5em;
        }
    }
    .proc-slavia{
        li{
            font-size: 1.3em;
            letter-spacing: 2px;
            font-weight: 300;
            line-height: 1.4em;
        }
        padding-left: 0;
        margin-top: 3em;
    }
    .pojisteni-banner{
        margin-top:0;

    }
    .pojisteni-text-wrap{
        font-size: 2.3em;
    }

    .hamburger{
    }
    .slavia-box{
        img,.next-to-img{
            .vcenter;
            width: 40%;
            height: auto;
            display: inline-block;
            vertical-align: top;
        }
        .next-to-img{
            width: 60%;
        }
    }
    .slavia-box-item {
        .label{
            padding-bottom: .5em;
            border-bottom: 1px solid darken(@primary, 10%);
        }
        height: 140px;
        .slavia-box{
            height: 140px;
        }
    }
    .underline{
                span{
                    display: inline;
                }
            }
    .mid-sec-fb{
        padding-right: .8em;
        padding-left: 3em;
        .button{
            pointer-events: none;
            font-size: .8em;
            letter-spacing: 2px;
            margin-top: 1em;
            margin-bottom: 1em;
            position: relative;
            .button(@primary);
            border-bottom: none;
            text-shadow: 0 1px 1px darken(@primary, 10%);
            box-shadow: 1px -1px 0 1px lighten(@primary, 15%),2px -2px 0 0 lighten(@primary, 10%);
            &:after{
                .pseudoels;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: @primary transparent transparent transparent;
                bottom:-5px;
                transform:translateX(-5px);
                position: absolute;
                left: 50%;
                z-index: 99;
            }

        }
        .pojisteni-text-wrap{
            padding-right: 2em;
        }
    }
    .pr-md{
        padding-right: 2em;
    }
    .novinky-home{
        margin-top: 2em;
    }
    .top-nav.donly{
        display: none;
    }
}
.map-holder-bg{
    .brag-holder,
    .h1-holder{
        a{
            color:@black;
        }
    }
}
@media screen and (min-width: 999px) {
    .top-nav{
        .main-nav-item{
            > .submenu-listener{
                letter-spacing: inherit;
                font-weight: 300;
            }
        }
    }
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-1-2,
    .pure-u-lg-1-3,
    .pure-u-lg-2-3,
    .pure-u-lg-1-4,
    .pure-u-lg-3-4,
    .pure-u-lg-1-6,
    .pure-u-lg-5-6,
    .pure-u-lg-1-12,
    .pure-u-lg-2-12,
    .pure-u-lg-3-12,
    .pure-u-lg-4-12,
    .pure-u-lg-5-12,
    .pure-u-lg-6-12,
    .pure-u-lg-7-12,
    .pure-u-lg-8-12,
    .pure-u-lg-9-12,
    .pure-u-lg-10-12,
    .pure-u-lg-11-12,
    .pure-u-lg-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-lg-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-lg-1-6,
    .pure-u-lg-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-lg-1-4,
    .pure-u-lg-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-lg-1-3,
    .pure-u-lg-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-lg-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-lg-1-2,
    .pure-u-lg-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-lg-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-lg-2-3,
    .pure-u-lg-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-lg-3-4,
    .pure-u-lg-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-lg-5-6,
    .pure-u-lg-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-lg-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-12-12 {
        width: 100%;
    }
    .tabonly{
        display: none;
    }
    .special-number{
        font-size: 2.4em;
    }
    .presenter-default-default{
        .pojisteni-text-wrap{
            padding-right: 4em;

        }
    }
    .site-title{
        width:195px;
        float: left;
        text-align: left;
        margin-bottom: 2em;
        margin-top: 2.5em;
    }
    .brag-holder{
        .presenter-default-default &{
            margin-top: 1.7em;            
        }
        line-height: 2em;
        border-left: 1px solid @border;
        padding-left: 2em;
        font-weight: 100;
        .presenter-contact &{
            margin-top: 1em;
            padding-top: .3em;
            line-height: 1.3em;
            padding-bottom: .6em;
        }
    }
    .navs-wrap{
        top:0;
        background: transparent;
        font-weight: 600;
        font-size: .85em;
        width:auto;
        float: right;
        &,a{
            color: @textwhite;;
        }
        a{
            opacity: 1;
            display: block;
            overflow: hidden;
            max-height: inherit;
            padding-left: 2em;
        }
        .open & {
            a{
                opacity: 1;
                border-bottom: 1px solid @border;
                padding-top: 1em;
                padding-bottom: 1em;
                max-height: 4em;
            }
        }

        ul,li{
           margin: 0;
           padding: 0;
        }
    }
    .menu-slider{
        width:inherit;
        float: inherit;
    }
    .navs-wrap .subin{
        border-bottom: none;
    }
    .navs-wrap li{
        max-height: inherit;
        overflow: visible;
        position: relative;
        &.nav-item a{
            width: 100%;
        }
           & > ul{
                width: 200px;
                display: none;
                position: absolute;

            }
            ul a{
                    display: block;
                    background: transparent;
                    padding: 1em 1em 1em 2em;
                    &:hover{
                        background: @primary;
                    }
                }
                & > ul{
                    .bxsh;
                    margin-bottom: 0;
                    top:100%;
                    text-align: left;
                    opacity: 1;
                    visibility: visible;
                    background: darken(@primary, 10%);
                    z-index: 999;
                }
        }

    .main-nav{
        text-align: right;
        position: relative;
        top:0em;
        .in-item a{
            text-transform: none;
        }
        .main-nav-item {
            font-weight: 300;
            color:@white;
            & > a{
                color:@white;
                font-size: 1.1em;
                padding: 0 0 1em;
                &:hover{
                    cursor: default;
                }
            }
            padding-right: 1em;
            padding-left: 1em;
            padding-top: .5em;
            border-radius: 3px 3px 0 0;
            &.search,&.search:hover{
                text-indent: 600px;
                text-align: left;
                width:40px;
                cursor: pointer;

                background: url(../images/search.png) no-repeat right center;
                padding-right: 0
            }
            &:hover{
                background: darken(@primary, 10%);
            }
            li{
                width:33%;
                float: left;
                position: relative;
                &:nth-child(3n+4){
                    clear: left;
                }
            }
            .masonry{
                width: 100%;
            }
            & > ul {
                background: fade(darken(@primary, 10%),95%);
                display: none;
                opacity: 1;
                pointer-events: all;
                width:968px;
                padding-left: 1em;
                .masonry > li{
                    margin-top: 1em;
                    font-size: 1.2em;
                }
                ul{
                    text-indent: 0;
                    font-size: .9em;
                    text-transform: none;
                    display: block;
                    position: relative;
                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                    a{
                        padding-top: .2em;
                        padding-bottom: .2em;

                    }
                    li{
                        width:100%;
                    }
                }
            }
        }
    }
    .main-nav-item{
        padding: 1em 0em;
        display: inline-block;
        & > .submenu-listener{
            font-weight: 400;
            letter-spacing: 3px;
        }
    }
    .menu-inner-wrap{
        text-align: right;
    }
    .top-nav{
        display: inline-block!important;
        margin-top: 3.5em;
        text-align: right;
        margin-bottom: .5em;
        .nav li:last-child{
            padding-right: .5em;
        }
        &.donly{
            display: inline-block;
            li:first-child{
                a{
                    border-left: 1px solid @white;
                }
            }
        }
        .nav-item{
            padding: 1em 0em.;
            font-size: .9em;
            font-weight: 100;
            vertical-align: middle;
            display: inline-block;
            a{
                padding-left: 1em;
                display: inline-block;
            }
        }
        .in-item{
            .animate();
            &:hover{
                background: @primary;
                position: relative;
                ul{
                    position: absolute;
                    display: block;
                    left: -200%;
                    width: 200%;
                    top: 0;
                }
                li{
                    width: 50%;
                    float: left;
                    &:nth-child(2n+3){
                        clear: left;
                    }
                }
            }
        }
        .nav-sep{
            display: inline-block;
            vertical-align: middle;
            padding: 1em 0 1em 1em;
        }
    }
    .site-title{
        width:195px;
        float: left;
        text-align: left;
        margin-bottom: 4em;
        margin-top: 1em;
    }
}

@media screen and (min-width: 80em) {
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-2,
    .pure-u-xl-1-3,
    .pure-u-xl-2-3,
    .pure-u-xl-1-4,
    .pure-u-xl-3-4,
    .pure-u-xl-1-6,
    .pure-u-xl-5-6,
    .pure-u-xl-1-12,
    .pure-u-xl-2-12,
    .pure-u-xl-3-12,
    .pure-u-xl-4-12,
    .pure-u-xl-5-12,
    .pure-u-xl-6-12,
    .pure-u-xl-7-12,
    .pure-u-xl-8-12,
    .pure-u-xl-9-12,
    .pure-u-xl-10-12,
    .pure-u-xl-11-12,
    .pure-u-xl-12-12 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-xl-1-12 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .pure-u-xl-1-6,
    .pure-u-xl-2-12 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-xl-1-4,
    .pure-u-xl-3-12 {
        width: 25%;
        *width: 24.9690%;
    }

    .pure-u-xl-1-3,
    .pure-u-xl-4-12 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-xl-5-12 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .pure-u-xl-1-2,
    .pure-u-xl-6-12 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-xl-7-12 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .pure-u-xl-2-3,
    .pure-u-xl-8-12 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-xl-3-4,
    .pure-u-xl-9-12 {
        width: 75%;
        *width: 74.9690%;
    }

    .pure-u-xl-5-6,
    .pure-u-xl-10-12 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-xl-11-12 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-12-12 {
        width: 100%;
    }
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.donly{
    display: none;
    @media (min-width:768px) {
        display: block;
        &.button,&.sidebar{
            display: inline-block;
        }
    }
}

.callForm{
    background: @shade;
    .call-me-block{
        display: none;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
.cars-liability{
    border-top: 1px solid @border;
    border-left: 1px solid @border;
    border-right: 1px solid @border;
}
.cll-box{
    background: white;
    border-bottom: 1px solid @border;
    &>div{
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: .5em;
    }
}
.cll-callus{
    background: @primary;
    color:white;
    font-weight: 300;
    a{
        color:lighten(@primary, 40%)
    }
}
form.calculator-form {
    *,.pure-u-1{
        vertical-align: middle;
    }
    label{
        margin: 0;
    }
}
article{
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4, 
.pure-u-3-4,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-12,
.pure-u-2-12,
.pure-u-3-12,
.pure-u-4-12,
.pure-u-5-12,
.pure-u-6-12,
.pure-u-7-12,
.pure-u-8-12,
.pure-u-9-12,
.pure-u-10-12,
.pure-u-11-12,
.pure-u-12-12 
.pure-u-sm-1-2,
.pure-u-sm-1-3,
.pure-u-sm-2-3,
.pure-u-sm-1-4, 
.pure-u-sm-3-4,
.pure-u-sm-1-6,
.pure-u-sm-5-6,
.pure-u-sm-1-12,
.pure-u-sm-2-12,
.pure-u-sm-3-12,
.pure-u-sm-4-12,
.pure-u-sm-5-12,
.pure-u-sm-6-12,
.pure-u-sm-7-12,
.pure-u-sm-8-12,
.pure-u-sm-9-12,
.pure-u-sm-10-12,
.pure-u-sm-11-12,
.pure-u-sm-12-12,
.pure-u-md-1-2,
.pure-u-md-1-3,
.pure-u-md-2-3,
.pure-u-md-1-4,
.pure-u-md-3-4,
.pure-u-md-1-6,
.pure-u-md-5-6,
.pure-u-md-1-12,
.pure-u-md-2-12,
.pure-u-md-3-12,
.pure-u-md-4-12,
.pure-u-md-5-12,
.pure-u-md-6-12,
.pure-u-md-7-12,
.pure-u-md-8-12,
.pure-u-md-9-12,
.pure-u-md-10-12,
.pure-u-md-11-12,
.pure-u-md-12-12,
.pure-u-lg-1-2,
.pure-u-lg-1-3,
.pure-u-lg-2-3,
.pure-u-lg-1-4,
.pure-u-lg-3-4,
.pure-u-lg-1-6,
.pure-u-lg-5-6,
.pure-u-lg-1-12,
.pure-u-lg-2-12,
.pure-u-lg-3-12,
.pure-u-lg-4-12,
.pure-u-lg-5-12,
.pure-u-lg-6-12,
.pure-u-lg-7-12,
.pure-u-lg-8-12,
.pure-u-lg-9-12,
.pure-u-lg-10-12,
.pure-u-lg-11-12,
.pure-u-lg-12-12{
    margin-right: -4px;
}
}
.display-desktop{
    display: none;
    @media (min-width:1025px) {
        display: block;
    }
}
.display-handheld{
    display: block;
    @media (min-width:1025px) {
        display: none;
    }
}
.czech-stamp {
    display: block;
    position: absolute;
    z-index: 11000;
    pointer-events: none;
    left: 0;
    background: url(/assets/images/stamp.png);
    width: 100px;
    height: 100px;
    top: 100px
}
@media (max-width: 999px) {
    .czech-stamp {
        left: 220px;
        top: -20px
    }
}
@media (max-width: 540px) {
    .czech-stamp {
        left: 210px;
        top: -15px;
        background-size: 100%;
        width: 75px;
        height: 75px 
    }
}
@media (max-width: 430px) {
    .czech-stamp {
        left: 0;
        top: 70px;
        top: 60px
    }
    .hamburger {
        top: -90px
    }
    .site-title {
        margin-bottom: 2.5em
    }
}


/** Email catcher **/
.contact-catcher{
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    background: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 1em 1em 2em;
    background: @primary;
    border-top: 4px solid darken(@primary,15);
    top:100%;
    &--open{
        bottom: 0;
    }
    @media (min-width: 430px){
        right: 1em;
    }
    form{
        text-align: center;
    }
    input{
        width: 100%;
        margin-bottom: .5em;
    }
    .button{
        box-shadow: none;
        padding-left: .3em;
        padding-right: .3em;
    }
    &__toggle{
        box-sizing: content-box;
        text-align: center;
        color:@textwhite;
        overflow: hidden;
        height: 2em;
        width: 50%;
        min-width: 200px;
        cursor: pointer;
        position: absolute;
        bottom: 100%;
        bottom: ~"calc(100%)";
        right: 0;
        background: @primary;
        border-top: 4px solid darken(@primary,15);
        border-bottom: 4px solid @primary;
        line-height: 2em;
        &:hover{
            border-bottom-color: @primary;
            .contact-catcher__toggler{
                color:darken(@primary, 20%);
            }
        }
    }
    &__toggler{
        background: @primary;
        position: absolute;
        top: 0;left: 0;width: 100%;        
    }
}