@import "partials/variab";
@import "partials/normalize";
@import "main";
body{
	background: transparent;
	width: 900px;
	padding: 1em;
}
ul{
    padding-left: 0;
    &.fiftyfifty{
        li{
            @media screen and (min-width: 48em) {
                width:50%;
                float: left;
                &:nth-child(2n+3){
                    clear: left;
                }
            }
        }
    }
    li{
        padding-bottom: 1em;
        position: relative;
        padding-left: 1.5em;
        &:before{
            .pseudoels();
            top: .65em;
            width: 9px;
            height: 3px;
            background: @secondary;
            position: absolute;
            left: 0;
        }
    }
}