{if $showForm}
<div class="contact-catcher">
    <div class="contact-catcher__wrapper">
        <div class="contact-catcher__content">
            <div class="contact-catcher__toggle">
                <div class="contact-catcher__toggler contact-catcher__toggler--close">
                    Zavřít <span class="large w800">&nbsp;&nbsp;x</span>
                </div>
                <div class="contact-catcher__toggler contact-catcher__toggler--open">
                    Pomoc se sjednáním <span style="position: absolute; right: .5em; color: white">x</span>
                </div>
            </div>
            <h2 class="contact-catcher__head c-white w600">
                Chcete poradit se sjednáním povinného ručení?
            </h2>
            <p class="contact-catcher__paragraph c-white">
                Zavolejte nám na linku <span class="large c-white">255 790 158</span>,<br>
                nebo nám zanechte své telefonní číslo: 
                <form action="#">
                </form>
                {form contactCatcher}
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <input n:name="phone" type="phone" placeholder="Vaše telefonní číslo">
                            <input n:name="hun" type="text" class="hidden">
                        </div><div class="pure-u-1">
                            <button n:name="contactCatcher" class="button">Chci poradit</button>
                        </div>
                    </div>                
                {/form}
            </p>
        </div>
    </div>
</div>
{/if}