{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění letadel- havárie, živel a odpovědnost</h1>

<p>Nabízíme pojištění letadel se vzletovou váhou nad 5tun. Pro individuální nabídku kontaktujte našeho projektového manažera. </p>
