{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Finanční způsobilost dopravce</h1>
<p>Finanční způsobilost prokazují dopravci provozující silniční dopravu tzv. velkými vozidly (velkým vozidlem se podle § 2 odst. 14 zákona o silniční dopravě rozumí vozidlo nebo jízdní souprava o největší povolené hmotnosti přesahující 3,5 tuny, jsou-li určeny k přepravě zvířat nebo věcí, nebo vozidlo určené pro přepravu více než 9 osob včetně řidiče) pro řádné zahájení a správu podniku proto, aby v průběhu ročního účetního období byl vždy schopen dostát svým finančním závazkům.</p>
<p>Finanční způsobilost se pro rok 2015 prokazuje ve výši 247 518 Kč pro jedno vozidlo a 137 5410 Kč pro každé další vozidlo. </p>
<p>Jedním ze způsobů prokázání finanční způsobilosti je pojistná smlouva uzavřená mezi dopravcem a Slavia pojišťovnou a.s.</p>
<p>Pojištění je možné sjednat na celou právními předpisy požadovanou částku anebo i na částku, která dopravci chybí k prokázání finanční způsobilosti. Minimální pojistná částka, pro kterou lze sjednat pojištění, je ve výši 85 000 Kč.</p>
