{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Flotilové pojištění vozidel, komplexní pojištění vozových parků.</h1>

<p>Určeno pro firmy, podnikatele nebo fyzické osoby s vozovým parkem nad 4 vozidla.
Pojištění odpovědnosti za škodu způsobenou provozem vozidla.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Standard</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>limity plnění 35/35 mil. Kč
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Profi</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>limity plnění 100/100 mil. Kč
			<li>asistenční služby pro vozidla do 3,5 t zdarma.
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Havarijní pojištění</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>spoluúčast 5 % min. 5 000,- nebo 10 % min. 10 000,-
			<li>u větších vozových parků je možné více variant spoluúčastí, např. 10 % min. 30 000,- apod.
			<li>strojní připojištění
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Doplňková pojištěni</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Pojištění čelního skla
			<li>Pojištění všech skel na vozidle
			<li>Pojištěni zavazadel
			<li>Pojištění střetu se zvířetem
			<li>Pojištění živlu
			<li>Úrazové pojištění přepravovaných osob
			<li>Úrazové pojištění řidiče
			<li>Pojištění asistenčních služeb - pro vozidla do 3,5t i nad 3,5t
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Výhody/bonusy:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ol>
			<li>Jednoduchá a přehledná správa pojištění.
			<li>Osobní péče jedné kontaktní osoby pro každou flotilu.
			<li>Není nutno sledovat pojistná období ani platby mnoha pojistek.
			<li>Bezhotovostní platba na základě podrobného vyúčtování.
			<li>Kompletní přehled pojištěných vozidel a rizik.
			<li>Detailní přehled pojistných událostí.
			<li>Podrobné vyhodnocování škodného průběhu.
			<li>Splátkovost bez vlivu na pojistné.
			<li>Hodnocení flotily s ohledem na propojištenost v ostatních produktech.
		</ul>
	</div>
</div>