{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění přepravy zásilek</h1>
<p>Pojištění se vztahuje na zásilky, které jsou uvedeny v pojistné smlouvě a/nebo v přihlášce do pojištění a jsou přepravovány obvyklým způsobem přepravy (silniční přeprava, železniční, letecká, říční, námořní či jejich kombinací).</p>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištění lze sjednat v následujícím rozsahu:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="">
				<li>Proti všem pojistným nebezpečím (škoda způsobená jakoukoliv nahodilou událostí), nebo
				<li>proti vyjmenovaným pojistným nebezpečím, nebo
				<li>proti nejzávažnějším pojistným nebezpečím.
			</ul>
		<p>Je-li sjednáno pojištění proti vyjmenovaným nebezpečím, lze sjednat doplňkové pojištění krádeže vloupáním do dopravního prostředku a doplňkové pojištění loupežného přepadení.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Územní platnost pojištění přepravy zásilek</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Pojištění se vztahuje na pojistné události, při nichž nastane škoda na území celého světa, není-li ujednáno jinak.</p>
		<p>Pojištění je určeno pro firmy, které v rámci své podnikatelské činnosti provádějí přepravu svých výrobků, zařízení apod. svými vlastními vozidly, příp. vozidly, které má daná firma v pronájmu, na vlastní účet.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Rozsah Pojištění přepravy vlastních věcí movitých:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p><strong>Základní rozsah pojištění přepravy</strong>  – vztahuje se na poškození nebo zničení pojištěné věci během silniční dopravy:</p>
				<ul class="">
					<li>nehodou dopravního prostředku
					<li>požárem a jeho průvodními jevy
					<li>výbuchem, úderem blesku
					<li>pádem stromů, stožárů nebo jiných předmětů, nejsou-li součástí poškozené věci
					<li>povodní nebo záplavou, vichřicí nebo krupobitím
					<li>sesouváním půdy, zřícením skal nebo zemin, sesouváním nebo zřícením lavin, zemětřesením
				</ul>
		<p><strong>Doplňkový rozsah pojištění přepravy:</strong></p>
				<ul class="">
					<li>sjednává se pouze v kombinaci se základním rozsahem pojištění přepravy
					<li>sjednává se pro případy odcizení pojištěné věci krádeží, loupeží
				</ul>
		<p>Územní platnost Pojištění přepravy vlastních věcí movitých:</p>
				<ul class="">
					<li>Pouze Česká republika
					<li>Česká republika + Evropa
				</ul>
		
	</div>
</div>
Co potřebujeme od vás pro sjednání pojištění přepravy vlastních věcí movitých?
<ul><li>obchodní fakturu na pojištěné zboží (v případě jednorázové přepravy zásilek) </ul>
