{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění výstavních a veletržních akcí</h1>

<p>Více informací o pojištění a možnostech jeho sjednání získáte na základě individuální poptávky. Kontaktujte prosím naše pracovníky na kontaktu uvedeném níže. </p>
