{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění odpovědnosti dopravce v silniční nákladní dopravě</h1>

<p>Pojištění je určeno společnostem, které provozují vnitrostátní nebo mezinárodní silniční dopravu vlastním jménem pro cizí potřebu za úplatu (provozování silniční dopravy na základě koncesní listiny, eurolicence, povolení dopravního úřadu).</p>
<p>Pojištění odpovědnosti dopravce v silniční nákladní dopravě se sjednává pro případ právním předpisem stanovené povinnosti pojištěného nahradit škodu vzniklou jinému na věci vyplývající z přepravních smluv v souvislosti s činností silničního dopravce.</p>
<p>Pojištění se vztahuje na odpovědnost za škodu vzniklou na věcech převzatých za účelem provedení silniční nákladní dopravy:</p>
<ul>
	<li>vnitrostátní přeprava – podle právních předpisů České republiky, občanského zákoníku v platném znění, především ustanovení § 2567</li>
	<li>mezinárodní přeprava – podle Úmluvy o přepravní smlouvě v mezinárodní silniční nákladní dopravě (Úmluva CMR)</li>
</ul>
<p>Pojistnou částku si stanoví pojištěný a měla by odpovídat hodnotě přepravovaného nákladu.</p>