{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění obecné odpovědnosti, včetně škody či újmy způsobené vadou výrobku a vadně vykonané práce</h1>

<p>Pojištění odpovědnosti se sjednává pro případ právním předpisem stanovené odpovědnosti pojištěného za škodu či újmu vzniklou jinému:</p>
<ul class="">
		<li>na zdraví nebo usmrcením a nemajetkovou újmu spočívající v duševních útrapách blízké osoby při ublížení na zdraví nebo usmrcení poškozeného,
		<li>na hmotné věci movité (vč. zvířete) i nemovité jejím poškozením, zničením nebo ztrátou, resp. poraněním či usmrcením zvířete
		<li>v souvislosti s jeho podnikatelskou činností nebo vztahy z této činnosti vyplývajícími, ke kterým je pojištěný podle obecně závazných právních předpisů oprávněn v den sjednání pojištění,
		<li>následnou finanční škodou či újmou.
	</ul>