{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Osobní pojištění odpovědnosti za škodu člena řídicího orgánu společnosti</h1>

<p>Členům řídicích orgánů organizace nabízíme pojistnou ochranu pro případ vznesených nároků na náhradu škody. Nároky může vznést vlastní organizace, akcionáři, poškozené třetí strany – zaměstnanci, věřitelé, stát.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Výhody pojištění:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="fiftyfifty">
			<li>Pojištění si sjednává člen řídicího orgánu organizace ve svůj prospěch, nemusí se tedy spoléhat na to, zda má společnost sjednané pojištění odpovědnosti členů řídicích orgánů a má tudíž plnou kontrolu nad sjednanou pojistnou smlouvou.
			<li>Pojištění kryje činnost pojištěného ve všech organizacích, kde působí
			<li>Pojistná smlouva se vztahuje na konkrétního člena řídicího orgánu organizace a sjednaný limit pojistného plnění platí pouze pro něho. 
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pro koho je pojištění určeno:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
	<p>Pojištění si mohou sjednat fyzické osoby, které působí jako člen řídicího orgánu v širokém spektru organizací, např.:</p>
		<ul class="fiftyfifty">
			<li>akciových společnostech
			<li>společnostech s ručením omezeným
			<li>státních organizacích
			<li>územních správních celcích
			<li>družstvech
			<li>spolcích, nadacích
		</ul>
	</div>
</div>