{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění odpovědnosti členů řídících orgánů společností D&amp;O</h1>
<p>Toto pojištění je určeno pro společnosti, ve kterých členové statutárních a kontrolních orgánů pověření obchodním vedením společnosti a zastupováním společnosti navenek odpovídají celým svým majetkem a bez ohledu na zavinění za škodu, kterou společnosti nebo třetím osobám způsobí porušením svých zákonných nebo smluvně převzatých povinností.</p>
<p>Členové orgánů společnosti mají zákonem uloženy povinnosti, jejichž neúmyslným porušením mohou způsobit rozsáhlou škodu. Odpovědnost statutárního a dozorčího orgánu za vzniklou finanční škodu, kterou způsobí při výkonu své funkce společnosti nebo třetím osobám, je předmětem D&amp;O pojištění.</p>
<div class="pure-u-1 spaced">
    <div class="pure-u-1 pure-u-md-1-3">
        <h2>Pojištění D&O je výhodné</h2>
    </div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
        <ul>
            <li>Pro samotnou společnost – umožňuje snížit riziko zhoršení ekonomické situace společnosti v důsledku pochybení člena statutárního orgánu</li>
            <li>Pro akcionáře, obchodní partnery, společníky, věřitele… kteří mají snazší vymahatelnost svých nároků</li>
        </ul>
    </div>
</div>
<p>Předmětem pojištění je odpovědnost za finanční škodu vzniklou v souvislosti s výkonem funkce člena statutárního nebo kontrolního orgánu společnosti.</p>