{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Municipální pojištění (pojištění měst a obcí)</h1>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištění měst a obcí zahrnuje:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Pojištění nemovitého a movitého majetku:</p>
		<ul>
			<li>živelní pojištění - požár, výbuch, úder blesku, vichřice a krupobití povodeň, tíha sněhu, kouř, pád letadel, stromů a jiných předmětů,
			<li>pojištění vodovodní škody,
			<li>pojištění proti odcizení
			<li>pojištění vandalismu ( zjištěný i nezjištěný)
			<li>pojištění proti terorismu
		</ul>
		<p>Pojištění odpovědnosti za škodu (vč. zák. č. 82/1998 Sb.)</p>
		<ul>
			<li>Odpovědnost  měst nebo obcí za škodu vyplývající ze zákonů č.128/2000 Sb, o obcích (obecní zřízení), a zákona č. 129/2000 Sb..Zároveň města a obce odpovídají za škody či újmy na zdraví a majetku třetích osob, které způsobí provozováním podnikatelské činnosti. Rozsah pojištění odpovědnosti tedy především nabízí:</li>
			<li>pojištění odpovědnosti za újmu na zdraví a škodu na majetku třetích osob</li>
			<li>pojištění odpovědnosti obce jako zřizovatele městské policie</li>
			<li>pojištění odpovědnosti obce za škody způsobené osobami vykonávajícími obecně prospěšné práce</li>
			<li>pojištění odpovědnosti, včetně odpovědnosti členů zastupitelstva za škodu způsobenou nezákonným rozhodnutím a nesprávným úředním postupem člena zastupitelstva ve smyslu zák. č. 82/1998 Sb, ve znění přepisů pozdějších, a to do výše regresní úhrady stanovené tímto zákonem</li>
			<li>pojištění odpovědnosti obce jako zaměstnavatele za škody na věcech zaměstnanců</li>
			<li>pojištění za škody způsobené při výkonu veřejné moci rozhodnutím nebo nesprávným postupem ve smyslu zákona č.82/1998 Sb.</li>
			<li>možnost pojištění dalších subjektů do pojistné smlouvy obce (např.školky, školy aj.)</li>
			<li>odpovědnost správce nemovitosti</li>
			<li>Pojištění odpovědnosti za škodu je možné rozšířit o pojištění finančních škod, regresů zdravotních pojišťoven při pracovním úrazu a pojištění škod na věcech převzatých a užívaných.</li>
		</ul>
	</div>
</div>
