{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění skel</h1>

<p>Pojištění se vztahuje na rozbití pojištěného skla jakoukoli nahodilou událostí, která není v pojistných podmínkách nebo v pojistné smlouvě vyloučena.</p>
<p>Za rozbití skla se považuje i takové poškození skla, při kterém je ohrožena bezpečnost osob a je nezbytná jeho výměna.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Předmět pojištění pro případ pojištění skel</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Předmětem pojištění skel je pevně osazené sklo nebo soubor pevně osazených skel, specifikovaných v pojistné smlouvě, včetně nalepených neodnímatelných snímačů zabezpečovacích zařízení, nalepených fólií, nápisů, maleb nebo jiné výzdoby, jsou-li součástí pojištěného skla.</p>
		<p>Předmětem pojištění skel mohou být také:
			<ul class="">
				<li>Světelné reklamy a světelné nápisy včetně jejich elektrické instalace a nosné konstrukce,
				<li>Skleněné pulty, vitríny a skleněné stěny uvnitř budovy.
			</ul>
		</p>
	</div>
</div>