{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění strojů a elektroniky na všechna rizika (včetně vybraných živelných rizik)</h1>
<p>Pojištění se sjednává pro případ náhlého poškození nebo zničení předmětu pojištění jakoukoli nahodilou událostí, která omezuje nebo vylučuje jeho provozuschopnost. Pojištění pro stroje kryje i škody požárem, úderem blesku, výbuchem, včetně škod způsobených hašením, stržením, úklidem, škody pojištěného zařízení způsobené v souvislosti s některým pojistným nebezpečím, odcizením nebo vandalismem, vodou z vodovodních zařízení.</p>
<p>Pojistit lze pouze stroje, které byly při sjednání pojištění v provozuschopném stavu a byly uvedeny do provozu v souladu s platnými právními předpisy a požadavky výrobce; tzn. pojištěná věc je vyzkoušena a po ukončení zkušebního provozu buď v místě pojištění připravena k převzetí, nebo se tam již v provozu nachází.</p>
<p>Pojištění pro stroje se vztahuje na pojištěný stroj v činnosti, ve stavu klidu, při demontáži za účelem vyčištění nebo generální opravy, při jeho přemístění v rámci místa pojištění nebo při jeho následné montáži.</p>
<p>Pojištění pro stroje lze sjednat i pro tzv. doplňková pojištění:</p>
	<ul class="">
				<li>Náklady na úklid, dekontaminaci a odvoz zbytků,
				<li>Vícenáklady na přemístění a ochranu,
				<li>Náklady na stavbu lešení, vyprošťovací náklady nebo náklady na aktivování provizoria
				<li>Přesčasy a práce v neděli, ve svátky a v noci
				<li>Náklady na leteckou dopravu
				<li>Cestovní náklady techniků a expertů ze zahraničí
			</ul>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištění pro stroje se nesjednává pro:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="">
			<li>Motorová a přípojná vozidla s přidělenou státní nebo registrační poznávací značkou, s výjimkou pracovních strojů samojízdných a pracovních strojů přípojných
			<li>Lodě a letadla
			<li>Kolejová vozidla
			<li>Vzorky, názorné modely, prototypy,
			<li>Ruční nářadí s elektrickým, pneumatickým nebo spalovacím pohonem (např. vrtačky, brusky,      pily, bourací a vrtací kladiva, ruční sekačky na trávu apod.).  
			<li>Náhradní díly pojištěných věcí.
		</ul>
		<p>Pojištění těchto technických rizik je určeno nejen velkým průmyslovým podnikům, ale je vhodné prakticky pro všechny podnikatelské subjekty.</p>	
	</div>
</div>