{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Stavební montážní pojištění (CAR/EAR) včetně odpovědnosti</h1>
<p>Pojištění stavebně montážních rizik poskytuje během trvání výstavby komplexní ochranu proti škodám, poškozením, zničením nebo ztrátou vzniklými v souvislosti se stavební nebo montážní činností a kryje i škody požárem, živelními riziky nebo odcizením.</p>
<p>Součástí pojištění stavebně montážních rizik může být i pojištění odpovědnosti za škodu vzniklou jinému, kterou způsobil některý z pojištěných v souvislosti s výstavbou nebo montáží budovaného díla na staveništi nebo v jeho bezprostředním okolí.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Předmět pojištění stavebně montážních rizik</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p><strong>Předmětem pojištění je budované stavební nebo montážní dílo</strong> realizované v souladu s platnými právními předpisy na základě schválené projektové dokumentace <strong>včetně příslušného materiálu</strong>, který se má stát součástí pojištěného budovaného díla a je uložen na místě pojištění.
		</p>
		<p>Pokud mám pojištěno stavební nebo montážní dílo, je možné si pojistit také <strong>vybavení a zařízení staveniště sloužící k realizaci pojištěného budovaného díla, stavební a montážní stroje, nářadí a přístroje sloužící k realizaci pojištěného budovaného díla, stávající majetek</strong> pro případ škody nastalé v přímé souvislosti s výstavbou pojištěného budovaného díla. </p>
		<p>Pojištěnými u pojištění stavebně montážních rizik jsou objednatel i zhotovitel pojištěného budovaného díla, uvedení ve smlouvě o dílo, a subdodavatelé zhotovitele, jejichž dodávky jsou zahrnuty v pojistné částce a tvoří součást pojištěného budovaného díla a mají příslušné oprávnění k provádění sjednaných činností.</p>
		<p>Místem pojištění stavebně montážních rizik je místo určené projektovou dokumentací jako staveniště nebo místo montáže budovaného stavebního nebo montážního díla.</p>
		<p>Doplňkovým pojištěním je pojištění odpovědnosti, které se sjednává pro případ právním předpisem stanovené odpovědnosti pojištěného za škodu či újmu vzniklou jinému:</p>
		<ul class="">
				<li>Na hmotné věci movité i nemovité jejím poškozením, zničením nebo ztrátou
				<li>Na zdraví nebo usmrcením a nemajetkovou újmu spočívající v duševních útrapách blízké osoby při ublížení na zdraví nebo usmrcení poškozeného
				<li>c) následnou finanční škodou či újmou
			</ul>
	</div>
</div>