{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Odcizení a vandalismus včetně nezjištěného pachatele a graffiti</h1>
<div class="pure-u-1">
	<p class="">Základní pojištění pro případ odcizení se vztahuje na:</p>
	<div class="pure-u-1">
		<ul class="">
			<li>Krádež, při které pachatel prokazatelně překonal překážky chránící pojištěnou věc před odcizením,
			<li>Loupež, při které si pachatel přivlastnil věc tak, že použil proti pojistníkovi, pojištěnému uvedenému v pojistné smlouvě, jejich zaměstnanci nebo jiné osobě pověřené pojistníkem nebo pojištěným uvedeným v pojistné smlouvě násilí nebo pohrůžky bezprostředního násilí.
		</ul>
	<p>Doplňkové pojištění je možné sjednat pro případ úmyslného poškození nebo úmyslného zničení pojištěné věci (vandalismus).</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Předmět pojištění pro případ odcizení</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Předmětem pojištění pro případ odcizení mohou být jednotlivé hmotné věci movité a nemovité nebo jejich soubory uvedené v pojistné smlouvě.</p>
		<p>Předmětem pojištění odcizení mohou být také: 
			<ul class="fiftyfifty">
				<li>cennosti
				<li>cenné věci
				<li>věci zvláštní hodnoty
				<li>písemnosti.
			</ul>
		</p>
	</div>
</div>