{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Živelní pojištění (včetně  vodovodního pojištění)</h1>
<div class="pure-u-1">
	<p class=""><strong>Základní živelní pojištění</strong> je možno sjednat pro případ poškození nebo zničení pojištěné věci nebo souboru věcí:</p>
	<div class="pure-u-1">
		<ul class="fiftyfifty">
			<li><span class="upper">požárem a jeho průvodními jevy</span>
			<li><span class="upper">výbuchem</span>
			<li><span class="upper">pádem nebo nárazem pilotovaného letícího tělesa, jeho části nebo jeho nákladu</span>
			<li><span class="upper">úderem blesku</span>
		</ul>
	</div>
</div>
<div class="pure-u-1">
	<p class=""><strong>Doplňkové živelní pojištění</strong> k základním živelním pojištěním lze sjednat pro případ poškození nebo zničení pojištěné věci nebo souboru věcí:</p>
	<div class="pure-u-1">
		<ul class="fiftyfifty">
			<li><span class="upper">povodní nebo záplavou</span>
			<li><span class="upper">vichřicí nebo krupobitím</span>
			<li><span class="upper">sesouváním půdy, zřícením skal nebo zemin, sesouváním nebo zřícením lavin</span>
			<li><span class="upper">tíhou sněhu nebo námrazy</span>
			<li><span class="upper">zemětřesením</span>
			<li><span class="upper">nárazem dopravního prostředku nebo jeho nákladu</span>
			<li><span class="upper">pádem stromů, stožárů a jiných předmětů</span>
			<li><span class="upper">kouřem, nadzvukovou vlnou (aerodynamický třesk)</span>
			<li><span class="upper">kapalinou unikající z vodovodních zařízení a médiem vytékajícím ze stabilních hasicích zařízení v důsledku jejich poruchy</span>
		</ul>
	</div>
</div>

<div class="pure-u-1 spaced spacetop2em">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Předmět živelního pojištění</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Předmětem živelního pojištění mohou být jednotlivé hmotné věci movité a nemovité nebo jejich soubory uvedené v pojistné smlouvě.</p>
		<p><strong>Předmětem živelního pojištění mohou být také:</strong> cennosti, cenné věci, věci zvláštní hodnoty, písemnosti. </p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojistná událost</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Pojistnou událostí je u živelního pojištění poškození nebo zničení pojištěné věci způsobené pojistným nebezpečím sjednaným a uvedeným v pojistné smlouvě v době trvání pojištění a v místě pojištění.</p>
	</div>
</div>

