{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění přerušení provozu</h1>
<p>Pojištění přerušení nebo omezení provozu se sjednává pro případ finančních ztrát způsobených přerušením či omezením provozu v důsledku věcné škody.</p>
<p>Předmětem pojištění je následná finanční ztráta způsobená přerušením nebo omezením provozu z důvodu vzniku věcné škody. Za finanční ztrátu považujeme:</p>
	<ul class="fiftyfifty">
		<li>Ušlý zisk,
		<li>Fixní náklady
		<li>Ušlé nájemné
		<li>Vícenáklady
	</ul>
<p>Za fixní (stálé) náklady se v<strong> rámci pojištění přerušení provozu považují</strong> takové <strong>náklady</strong>, které se nemění s objemem výkonů a pojištěný je musí hradit i v případě, že je provozní činnost úplně zastavena (např. mzdy, odpisy apod.). </p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Doba ručení</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Pojistné plnění je poskytováno po dobu ručení, kterou si pojištěný s ohledem na své potřeby zvolí sám. Doba ručení začíná okamžikem vzniku škody a končí obnovením pojištěného provozu do stavu před vznikem této škody nebo uplynutím sjednané doby ručení nebo zrušením provozu nebo ukončením činnosti pojištěného.
		</p>
	</div>
</div>
