{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění lodí- havárie, živel a odpovědnost</h1>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Havarijní pojištění plavidla</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p><strong>Určeno pro plavidla:</strong> s komerčním nebo soukromým využitím</p>
		<p><strong>Územní rozsah:</strong> vnitrostátní nebo mezinárodní vody Evropy</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Vyberte si z tohoto rozsahu pojištění:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Základní pojištění pro případ poškození nebo zničení plavidla:</p>
		<ul>
			<li>Živelní událost (požár, výbuch, úder blesku, pád stromů, stožárů a jiných předmětů, nejsou-li součástí pojištěného plavidla, vichřice, krupobití</li>
			<li>Dopravní nehoda plavidla</li>
			<li>Odcizení plavidla krádeží nebo loupeží</li>
			<li>Pojištění majetku na všechna rizika</li>
			<li>Poškození nebo zničení plavidla vandalismem</li>
		</ul>
		<p>Doplňkové pojištění pro případ poškození nebo zničení plavidla:</p>
		<ul>
			<li>Během dopravy plavidla po souši (na vhodném podvozku a při vyzvedávání a spouštění plavidla na vodní cestu)
			<li>Nakládku a vykládku plavidla
			<li>Připojištění podvozku určeného k dopravě pojištěného plavidla po souši
		</ul>
	</div>
</div>
<hr>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištění odpovědnosti z provozu plavidla</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p><strong>Určeno pro plavidla:</strong> s komerčním nebo soukromým využitím</p>
		<p><strong>Územní rozsah:</strong>  vnitrostátní vody</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Vyberte si z tohoto rozsahu pojištění:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Odpovědnost za škodu či újmu způsobenou provozem pojištěné plavidla jiné osobě (při ublížení na zdraví či usmrcením, za nemajetkovou újmu spočívající v duševních útrapách při ublížení na zdraví či usmrcením, za věci jejím poškozením, zničením nebo pohřešováním)
			<li>Odpovědnost za škodu či újmu způsobenou znečištěním vodních toků v důsledku havárie plavidla a nenadálé poruchy ochranného zařízení
			<li>Odpovědnost za škodu či újmu způsobenou provozem pojištěného plavidla cestujícím přítomným na plavidle
		</ul>
	</div>
</div>