{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění úpadku cestovní kanceláře</h1>

<p>Toto pojištění chrání klienty cestovních kanceláří v případech, kdy cestovní kancelář z důvodu svého úpadku není schopna dostát svým závazkům plynoucím z uzavřené cestovní smlouvy s klientem. Povinnost se pojistit ukládá cestovním kancelářím zákon č. 159/1999 Sb., o některých podmínkách podnikání v oblasti cestovního ruchu.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 align-left">
		<h2>Pojištění se sjednává pro případ, kdy pojištěný z důvodu svého úpadku:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3 align-left">
		<ul class="">
				<li>Neposkytne oprávněné osobě dopravu z místa pobytu v zahraničí do České republiky, pokud je doprava součástí zájezdu
				<li>Nevrátí oprávněné osobě zaplacenou zálohu nebo cenu zájezdu v případě, že se zájezd neuskutečnil
				<li>Nevrátí oprávněné osobě rozdíl mezi zaplacenou cenou zájezdu a cenou částečně poskytnutého zájezdu v případě, že se zájezd uskutečnil pouze zčásti
		</ul>
	</div>
</div>