{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění záruky v důsledku úpadku pracovní agentury</h1>
<p>Je určeno pro agentury práce, které zprostředkovávají zaměstnání formou tzv. dočasného přidělení svých zaměstnanců. Povinnost mít sjednáno toto pojištění vyplývá ze zákona o zaměstnanosti č. 435/2004 Sb.</p>
<p>Pojištění se sjednává pro případ, kdy agentura práce z důvodu svého úpadku nezajistí výplatu mzdy svým dočasně přiděleným zaměstnancům.</p>
<p>Limit pojistného plnění musí být sjednán minimálně ve výši odpovídající trojnásobku průměrného čistého měsíčního výdělku všech dočasně přidělených zaměstnanců.</p>

<p>Pro sjednání pojištění je třeba vyplnit dotazník a koncept pojištění vám spočítáme na míru, dle vašich požadavků.</p>
<hr>
<style>
	.small-head{

	}

</style>
<h2>Seznam agentur práce pojištěních proti úpadku</h2>
<table ><colgroup><col ><col ><col ><col ><col > </colgroup>
<tbody>
<thead class="small-head">
<tr>
<th rowspan="1" colspan="1" >Název

</th>
<th rowspan="1" colspan="1" >Číslo PS

</th>
<th rowspan="1" colspan="1" >IČO

</th>
<th rowspan="1" colspan="2" >Pojištěn
	<table>
		<tbody>
			<thead>
			<tr>
				<th>od

				</th>
				<th>do

				</th>
				</tr>
			</thead>
		</tbody>
	</table>
</th>
</tr>
</thead>
<tr>
<td> <p>Bulgaria Travel s.r.o. </p>

</td>
<td> <p>5900010728 </p>

</td>
<td> <p>021 81 860 </p>

</td>
<td> <p>13.12.2014 </p>

</td>
<td> <p>12.12.2015 </p>

</td>
</tr>

<tr>
<td> <p>Martin Nešpor </p>

</td>
<td> <p>5900010786 </p>

</td>
<td> <p>680 42 337 </p>

</td>
<td> <p>1.12.2014 </p>

</td>
<td> <p>30.11.2015 </p>

</td>
</tr>

<tr>
<td> <p>Quality tours s.r.o. </p>

</td>
<td> <p>5900007850 </p>

</td>
<td> <p>261 22 669 </p>

</td>
<td> <p>30.11.2014 </p>

</td>
<td> <p>29.11.2015 </p>

</td>
</tr>

<tr>
<td> <p>Cestovní kancelář BOŠ s.r.o. </p>

</td>
<td> <p>5900009728 </p>

</td>
<td> <p>258 47 236 </p>

</td>
<td> <p>22.1.2014 </p>

</td>
<td> <p>21.1.2015 </p>

</td>
</tr>

<tr>
<td> <p>RS Tour s.r.o. </p>

</td>
<td> <p>5900010462 </p>

</td>
<td> <p>247 94 465 </p>

</td>
<td> <p>15.11.2014 </p>

</td>
<td> <p>30.9.2015 </p>

</td>
</tr>

<tr>
<td> <p>Jarmila Zítková </p>

</td>
<td> <p>5900009889 </p>

</td>
<td> <p>685 52 017 </p>

</td>
<td> <p>20.2.2014 </p>

</td>
<td> <p>19.2.2015 </p>

</td>
</tr>

<tr>
<td> <p>CK Bohemian tour s.r.o. </p>

</td>
<td> <p>5900008664 </p>

</td>
<td> <p>289 99 851 </p>

</td>
<td> <p>7.3.2014 </p>

</td>
<td> <p>6.3.2015 </p>

</td>
</tr>

<tr>
<td> <p>Ing. Martin Pišťák </p>

</td>
<td> <p>5900009934 </p>

</td>
<td> <p>465 69 723 </p>

</td>
<td> <p>11.3.2014 </p>

</td>
<td> <p>10.3.2015 </p>

</td>
</tr>

<tr>
<td> <p>Cestovní kancelář Afrodita </p>

</td>
<td> <p>5900010015 </p>

</td>
<td> <p>246 97 966 </p>

</td>
<td> <p>12.4.2014 </p>

</td>
<td> <p>11.4.2015 </p>

</td>
</tr>

<tr>
<td> <p>FLORATOUR s.r.o. </p>

</td>
<td> <p>5900010123 </p>

</td>
<td> <p>615 05 421 </p>

</td>
<td> <p>15.5.2014 </p>

</td>
<td> <p>14.5.2015 </p>

</td>
</tr>

<tr>
<td> <p>EUFRAT Group </p>

</td>
<td> <p>5900009573 </p>

</td>
<td> <p>279 61 281 </p>

</td>
<td> <p>14.11.2014 </p>

</td>
<td> <p>13.11.2015 </p>

</td>
</tr>

<tr>
<td> <p>Agentura Wenku s.r.o. </p>

</td>
<td> <p>5900010461 </p>

</td>
<td> <p>284 31 375 </p>

</td>
<td> <p>1.9.2014 </p>

</td>
<td> <p>31.8.2015 </p>

</td>
</tr>

<tr>
<td> <p>Travel&amp;Production </p>

</td>
<td> <p>5900009490 </p>

</td>
<td> <p>263 76 016 </p>

</td>
<td> <p>1.12.2014 </p>

</td>
<td> <p>30.11.2015 </p>

</td>
</tr>

<tr>
<td> <p>David&amp;Company Praha s.r.o. </p>

</td>
<td> <p>5900009615 </p>

</td>
<td> <p>279 16 031 </p>

</td>
<td> <p>16.12.2014 </p>

</td>
<td> <p>15.12.2015 </p>

</td>
</tr>

</tbody>
</table>
