<div class="pure-u-1">
        <div class="call-me-block" id="askmequestion">
        <div class="close dark"></div>
            <div class="pure-u-1 pure-u-md-3-3 h2">
                {_control.bottomContact.askMe}
            </div>
            <form n:name="contact">
                <div class="pure-u-1">
                    <div class="pure-u-1 pure-u-md-1-3">
                        <label n:name="name">{_$form[name]->caption}</label>
                        <input n:name="name">
                    </div><!--
                    --><div class="pure-u-1 pure-u-md-1-3">
                        <label  n:name="mail">{_$form[mail]->caption}</label>
                        <input n:name="mail">
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-u-1 pure-u-md-2-3">
                        <label n:name="text">{_$form[text]->caption}</label>
                        <textarea n:name="text" />
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-u-1 pure-u-md-1-3">
                        <input n:name="send" />
                    </div>
                </div>
            </form>
    </div><!--
    --><div class="call-me-block" id="callmeblock">
        <div class="close dark"></div>
        <div class="pure-u-1 pure-u-md-3-3 h2">
            {_control.bottomContact.callMe}
        </div>
            <form n:name="callBack">
                <div class="pure-u-1 pure-u-md-2-3">
                    <div class="pure-u-1 pure-u-md-2-3">
                        <label n:name="number">{_$form[number]->caption}</label>
                        <input n:name="number">
                    </div><!--
                    --><div class="pure-u-1 pure-u-md-1-3">
                        <input n:name="send" />
                    </div>
                </div>
            </form>
    </div>
</div>


<script n:if="$flashes" type="text/javascript">
    {foreach $flashes as $flash}
    alert({_$flash->message});
    {/foreach}
</script>
