
<div class="pure-u-md-8-12 pure-u-lg-3-4 map-holder">
	<div class="map-holder-bg">
		<div class="pure-u-lg-3-12 h1-holder">
		<h2 class="home-h1"><a href="{plink Branch:default}">{_control.branchMap.title|noescape}</a></h2>
		</div><div class="pure-u-lg-9-12 brag-holder">
			<a href="{plink Branch:default}">{_control.branchMap.branches|noescape}</a>
		</div>
		<ul class="krajelist monly" n:inner-foreach="$items as $item">
		    <li><a n:class="$selected == $item->id ? active" href="{plink Branch:detail, id => $item->id}" data-district="{$item->district}">{$item->title}</a>
		</ul>
		<div id="krajemap" class="donly" width="600" height="400"></div>
	</div>
</div>