{*
 * @version    $Id: template.phtml 2 2009-07-13 20:58:52Z david@grudl.com $
 * @param Paginator $paginator
 * @param array     $steps
 *}

{if $paginator->pageCount > 1}
    <div class="paginator">
        {if $paginator->isFirst()}
            <span class="button disabled">« Předchozí</span>
        {else}
            <a class="button" href="{link this, 'page' => $paginator->page - 1}">« Předchozí</a>
        {/if}

        {foreach $steps as $step}
            {if $step == $paginator->page}
                <span class="current button">{$step}</span>
            {else}
                <a class="button" href="{link this, 'page' => $step}">{$step}</a>
            {/if}
            {if $iterator->nextValue > $step + 1}<span>…</span>{/if}
        {/foreach}

        {if $paginator->isLast()}
            <span class="button disabled">Další »</span>
        {else}
            <a class="button" href="{link this, 'page' => $paginator->page + 1}">Další »</a>
        {/if}
    </div>
{/if}
