{block #title}{$page->title}{/block}
{block #description}{$page->description}{/block}
{block #content}
<h1 class="h1">{$page->h1}</h1>

{$page->content|wysiwyg|noescape}


{if $attachments && $attachments[0]->title && $attachments[0]->file}
<h2>{_front.layout.attachments}</h2>
<div class="file-attachments">
<span class="pure-u-1 pure-u-md-1" n:foreach="$attachments as $a">
    <a class="full" target="_blank" href="{$a->file|file}" n:if="$a->title && $a->file">{$a->title}</a>
</span>
</div>
{/if}
{/block}
{block contactCatcher}
{include "../components/contactCatcher.latte"}
{/block}