<a name="calculator"></a>
<form n:name="form" n:if="!$cars" class=" calculator-form">

    <div class="alert" n:foreach="$form->errors as $error">{$error}</div>
    <div class="pure-u-1">
        <div class="pure-u-1 pure-u-md-1-2">{label cars /}</div>
        <div class="pure-u-1 pure-u-md-1-2">{input cars}</div>
    </div>

    <div class="pure-u-1">
        <div class="pure-u-1 pure-u-md-1-2">{label mail /}</div>
        <div class="pure-u-1 pure-u-md-1-2">{input mail}</div>
    </div>

    <div class="pure-u-1">
        <div class="pure-u-1 pure-u-md-1-2">{label phone /}</div>
        <div class="pure-u-1 pure-u-md-1-2">{input phone}</div>
    </div>

    <div class="pure-u-1">
        <div class="pure-u-1 pure-u-md-1-2">&nbsp</div>
        <div class="pure-u-1 pure-u-md-1-2">{input send}</div>
    </div>

</form>
<div n:if="$cars" class="cars-liability">

    <div class="pure-u-1 cll-box">
        <div class="pure-u-1 pure-u-md-1-2">Počet provozovaných vozidel:</div>
        <div class="pure-u-1 pure-u-md-1-2 c-brick">{$cars}</div>
    </div>

    <div class="pure-u-1 cll-box">
        <div class="pure-u-1 pure-u-md-1-2">Prokazovaná částka dle zákona:</div>
        <div class="pure-u-1 pure-u-md-1-2 c-brick">{$control->getInsuranceLimit()}</div>
    </div>

    <div class="pure-u-1 cll-box">
        <div class="pure-u-1 pure-u-md-1-2">Pojistné:</div>
        <div class="pure-u-1 pure-u-md-1-2 c-brick">{$control->getInsurance()}</div>
    </div>

    <div class="pure-u-1 cll-box cll-callus">
        {var $email = 'fzd@slavia-pojistovna.cz'|mangleEmail}
        <div class="pure-u-1 pure-u-md-1-1">Pro sjednání pojištění kontaktujte: <a href="mailto:{$email|noescape}">{$email|noescape}</a> nebo tel.: 739 248 031</div>
    </div>

</div>