{layout '../@productLayout.latte'}
{block #title}{$page->title}{/block}
{block #description}{$page->description}{/block}
{block #content}
<h1 class="h1">{$page->h1}</h1>

{if !$page->children->isEmpty()}
    {var $online = $page->children->first()}
    <div class="pure-u-1 space2em">
        <div class="pure-u-1 rel regbox">
            <div class="upper space05em">{$online->title}</div><a n:href=":Anyshape:Redirect:default, id => $online->id" class="button abr simple" target="_blank">{_front.megamenu.calcs}</a>
        </div>
        <br>
        <i n:if="in_array($presenter->getParameter('id'), array(111, 112))">{_front.megamenu.calcsCeskePojisteni}</i>
    </div>
{/if}

{$page->content|wysiwyg|noescape}


{if $attachments && $attachments[0]->title && $attachments[0]->file}
<h2>{_front.layout.attachments}</h2>
<div class="file-attachments">
<span class="pure-u-1 pure-u-md-1" n:foreach="$attachments as $a">
    <a class="full" target="_blank" href="{$a->file|file}" n:if="$a->title && $a->file">{$a->title}</a>
</span>
</div>
{/if}
{/block}
{block contactCatcher}
{include "../components/contactCatcher.latte"}
{/block}