{block #content}
<h1 class="h1" n:block="title">Kontakty</h1>
<div class="pure-u-1 setmiddle">
	<div class="pure-u-1 pure-u-md-1-2">
		<div class="infolinka">
            <div class="c-dark-brick upper">Infolinka</div>
            po - pá - 08<sup>00</sup> - 18<sup>00</sup>
            <div class="special-number">255 790 111</div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="poradce oncontact">
            <a href="http://www.slavia-pojistovna.cz/cs/interaktivni-poradce/" class="c-dark-brick">Poradce pro sjednání autopojištění{* <span class="sublime">Pro sjednání autopojištění</span> *}</a>
        </div>
	</div><!--
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="poradce oncontact">
            <a href="" class="c-dark-brick">Nahlásit škodu</a>
        </div>
	</div>-->
</div>
<div class="article-sec">
	<h2 class="h2">Asistenční služby</h2>
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="upper c-shade">
				Cestovní pojištění
			</div>
			<div class="c-brick large w300">
				255 790 261
			</div>
	    </div>
		<div class="pure-u-1 pure-u-md-1-2">
	        <div class="c-shade">
				POJIŠTĚNÍ DOMÁCNOSTI<br>A NEMOVITOSTI
			</div>
			<div class="c-brick large w300">
				242 452 652
			</div>
		</div>
	    <div class="pure-u-1 pure-u-md-1-2">
	        <br>
	        <div class="upper c-shade">
				Pojištění motorových vozidel
			</div>
			<div class="upper c-shade small">
				Linka pomoci řidičům 
			</div>
			<div class="c-brick large w300">
				1224
			</div>

			<div class="upper c-shade small">
				Ze zahraničí
			</div>
			<div class="c-brick large w300">
				255 790 260
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<br>
			<div class="c-shade">
				ZDRAVOTNÍ POJIŠTĚNÍ CIZINCŮ
			</div>
			<div class="c-brick large w300">
				255 790 262
			</div>
		</div>
	</div>
	<div class="pure-g">
	</div>
</div>
<div class="pure-u-1 donly article-sec">
	{control branchMap}
</div>
<div class="article-sec">
	<div class="pure-u-1">
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="large w300 ">
				Slavia pojišťovna a.s. (centrála)
			</div>
			<div class="c-shade upper">
			Revoluční 1<br>110 00 Praha 1
			</div>
			<div class="c-shade small space1em w300">
			Otevírací doba
			</div>
			<div class="c-shade  upper">
			PO – PÁ: 8 – 18 HOD.
			</div>
	    </div><!--
	    --><div class="pure-u-1 pure-u-md-1-3">
	        <div class="upper c-shade space05em">
				DATOVÁ SCHRÁNKA
			</div>
			<div class="c-brick large w300">
				PAMGBT2
			</div>
			<div class="upper c-shade space05em">
				Faxové číslo
			</div>
			<div class="c-brick large w300">
				255 790 199
			</div>
		</div><!--
	    --><div class="pure-u-1 pure-u-md-1-3">
	        <div class="c-shade upper space05em">
				Bankovní spojení
			</div>
			<div class="c-brick w300">
				Expobank CZ a.s.
			</div>
			<div class="small w300 space1em">
				č. účtu
			</div>
			<div class="c-brick w300">
				5124140040/4000
			</div>
		</div>
	</div>
</div>
<div class="article-sec">
	<h2 class="h2">E-mailová spojení</h2>
	<div class="pure-u-1">
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="upper c-shade">
				Informace
			</div>
			<div class="c-brick upper w300">
				info@slavia-pojistovna.cz
			</div>
			<div class="upper c-shade spacetop2em">
				Marketing
			</div>
			<div class="c-brick upper w300">
				marketing@slavia-pojistovna.cz
			</div>
			<div class="upper c-shade spacetop2em">
				Zasílání stížností
			</div>
			<div class="c-brick upper w300">
				stiznosti@slavia-pojistovna.cz
			</div>
	    </div><!--
	    --><div class="pure-u-1 pure-u-md-1-3">
	        <div class="upper c-shade">
				Sekretariát
			</div>
			<div class="c-brick upper w300">
				sekretariat@slavia-pojistovna.cz
			</div>
			<div class="upper c-shade spacetop2em">
				Zasílání podkladů
			</div>
			<div class="c-brick upper w300">
				lpu@slavia-pojistovna.cz
			</div>
		</div><!--
	    --><div class="pure-u-1 pure-u-md-1-3">
	        <div class="upper c-shade">
				Obchodni dotazy
			</div>
			<div class="c-brick  upper w300">
				obchod@slavia-pojistovna.cz
			</div>
			<div class="upper c-shade spacetop2em">
				Zasílání hlášenek
			</div>
			<div class="c-brick upper w300">
				registrace@slavia-pojistovna.cz
			</div>
		</div>
	</div>
</div>
<div class="article-sec">
	<h2 class="h2">Informace o společnosti Slavia pojišťovna a.s.:</h2>
	<div class="pure-u-1">
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="space1em">
				<span class="upper c-shade">
					IČ
				</span>
				<span class="c-brick upper w300">
					60197501
				</span>
			</div>
			<div class="space05em">
				<span class="upper c-shade">
					DIČ
				</span>
				<span class="c-brick upper w300">
					CZ60197501
				</span>
			</div>
	    </div><!--
	    --><div class="pure-u-1 pure-u-md-2-3">
	        <div class="">
				<p>Zapsaná v OR vedeném Městským soudem v Praze, oddíl B, vložka 2591</p>
<p>Název a sídlo orgánu státního dozoru: Česká národní banka, Na Příkopě 28, 115 03 Praha 1</p>
			</div>
		</div>
	</div>
</div>


<div class="article-sec">
	<h2 class="h2">Pověřenec pro ochranu osobních údajů</h2>
	<div class="pure-u-1 c-shade">
		<a href="poverenec@slavia-pojistovna.cz">poverenec@slavia-pojistovna.cz</a> <br>
		korespondenční adresa: <br>
		Slavia pojišťovna a.s. <br>
		Oddělení ochrany osobních údajů<br>
		Revoluční 1/655<br>
		110 00 Praha 1<br>
	</div>
</div>