{block #title}{$page->title}{/block}
{block #description}{$page->description}{/block}
{block #content}
<h1 class="h1">{$page->h1}</h1>
{*<div class="display-handheld">
	<p>Interaktivní poradce není k dispozici na mobilních telefonech a tabletech. Prosíme, použijte počítač.</p><p> Děkujeme.</p>
</div>*}

{$page->content|wysiwyg|noescape}


{if $attachments && $attachments[0]->title && $attachments[0]->file}
<h2>{_front.layout.attachments}</h2>
<div class="file-attachments">
<span class="pure-u-1 pure-u-md-1" n:foreach="$attachments as $a">
    <a class="full" target="_blank" href="{$a->file|file}" n:if="$a->title && $a->file">{$a->title}</a>
</span>
</div>
{/if}
{*
<div class="display-desktop">
<div class="pure-u-1 spaced">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">interaktivní poradce</div><a href="http://31.31.74.130/VideoCePo/start-call?params={=json_encode(["pidDemand" => \Nette\Utils\Random::generate(8,'0-9')])|url}" class="button abr simple">Spustit</a>
	</div>
</div>
</div>
<div class="display-handheld">
	<p>Interaktivní poradce není k dispozici na mobilních telefonech a tabletech. Prosíme, použijte počítač.</p><p> Děkujeme.</p>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<p class="c-brick upper">Provozní doba:</p>
			Po – Pá, od 9<sup>00</sup> do 16<sup>00</sup>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p><b class="upper">Technické nastavení před uskutečněním hovoru: </b><br>
		zkontrolujte prosím zapnutí a funkčnost mikrofonu a webkamery na vašem PC. 
		</p>
		<p>
		<span class="upper"><b><a href="https://www.youtube.com/watch?v=_QyuSwLEKSQ" target="_blank">Instruktážní video</a></b> </span>
		</p>
	</div>
</div>

<hr>

<p>Pokud si přejete pouze kalkulaci na vaše povinné ručení, klikněte zde:</p><a href="http://autopojisteni.slavia-pojistovna.cz/Controllers/FormSteps/_PovSlavia_Step1.php" class="button simple">Kalkulace</a>
*}
{/block}
{block contactCatcher}
{include "../components/contactCatcher.latte"}
{/block}