/*
	Sem prijdou stejne styly jako na frontendu. Je mozne pouzit vice layoutu, v tom pripade musi byt styly odlisene pomoci id.
*/
body#default { font-family: Verdana, 'Geneva CE', lucida, sans-serif; font-size: 12px; background: #F0F0F0; width: 400px; padding-left: 100px; }
body#alternative { font-family: 'Times New Roman', serif; font-size: 12px; background: #E0E0E0; width: 600px; padding-left: 100px; }

#default p {  background: #FFFFFF; }
#default ul { background: #FFFFFF; }
#default ol { background: #FFFFFF; }
#default .red { color: #FF0000; }
#default .blue { color: #0000FF; }

#alternative p {  background: #AAAAAA; }
#alternative ul { background: #AAAAAA; }
#alternative ol { background: #AAAAAA; }
#alternative .green { color: #00FF00; }
#alternative .yellow { color: #FFFF80; }
