{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Bảo hiểm y tế cho người nước ngoài trong trường hợp chăm sóc y tế cần thiết và chăm sóc y tế không t</h1>

<p><strong><a title="Bảo hiểm y tế cho người nước ngoài trong trường hợp chăm sóc y tế cần thiết và chăm sóc y tế không thể trì hoãn ONLINE (English)" href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersEn_Step1.php" target="_blank">Bảo hiểm y tế cho người nước ngoài trong trường hợp chăm sóc y tế cần thiết và chăm sóc y tế không thể trì hoãn ONLINE</a> (English)</strong></p>
<h3><br>Tại sao ký bảo hiểm y tế cho người nước ngoài?</h3>
<ul>
<li>Nghĩa vụ này dành cho tất cả mọi người nước ngoài đến từ các nước không là thành viên trong EU theo điều § 5 của Đạo luật số 326/1999 Sb. về cư trú của người nước ngoài trong Cộng hòa Séc và những quy định sau này</li>
<li>Bảo hiểm y tế của người nước ngoải bao gồm các chi phí điều trị y tế  trong trường hợp bệnh tật bất ngờ hoặc tai nạn.</li>
<li>Là một điều kiện bắt buộc để được cấp thị thực</li>
</ul>
<h3>Tại sao ký bảo hiểm cho người nước ngoài tại hãng bảo hiểm Slavia?</h3>
<ul>
<li>Vì chỉ có bảo hiểm này cung cấp bảo hiểm cho mục đích lao động và du lịch với giá không thể cạnh tranh!</li>
<li>Bảo hiểm y tế cho người nước ngoài của hãng này được công nhận trên sở cảnh sát ngoại kiều và đáp ứng các yêu cầu của Đạo luật số.326/1999 Sb. và những quy định sau này</li>
</ul>
<h3>Bảo hiểm y tế cho người nước ngoài bao gồm cái gì?</h3>
<ul>
<li>cấp cứu</li>
<li>điều trị trong bệnh viện</li>
<li>điều trị nha khoa khẩn cấp</li>
<li>thuốc theo toa</li>
<li>hồi hương</li>
</ul>
<h3>Bệnh viện có hợp đồng</h3>
<p><br>Khách hàng có thể sử dụng các bệnh viện đã được kí kết (xem danh sách hiện hành), mà chi phí cho việc chăm sóc y tế cần thiết và không thể trì hoãn bệnh viện sẽ trực tiếp thanh toán với hãng bảo hiểm Slavia. Do đó khách hàng cần phải trả những chi phí này và vì thế không cần phải yêu cầu những nghĩa vụ từ hãng bảo hiểm.<br><br><br><a href="/vi/list-of-contracted-hopitals-vietnamsky/">Danh sách các bệnh viện có ký thỏa thuận với hãng/bảo hiểm y tế dành cho người nước ngoài</a></p>

<p><a title="Bảo hiểm y tế cho người nước ngoài trong trường hợp chăm sóc y tế cần thiết và chăm sóc y tế không thể trì hoãn ONLINE (English)" href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersEn_Step1.php" target="_blank">Bảo hiểm y tế cho người nước ngoài trong trường hợp chăm sóc y tế cần thiết và chăm sóc y tế không thể trì hoãn ONLINE</a> (English)</p>
<h3>Dịch vụ trợ giúp</h3>
<p>Trường hợp cần thiết, khách hàng có thể yêu cầu trợ giúp bằng cách gọi đến số + 420 296 339 679 hoặc gửi fax đến số +420 296 339 630. Dịch vụ trợ giúp có sẵn cho khách hàng 365 ngày một năm và 24 giờ một ngày. Những người trực tổng đài của dịch vụ trợ giúp nói tiếng Séc, Slovak, Anh, Đức, Pháp, Tây Ban Nha, Nga, Ukraina và tiếng Việt. Dịch vụ trợ giúp sẽ giúp đỡ  khách hàng trong việc tìm những cơ sở y tế gần nhất có kí kết với hãng bảo hiểm của chúng tôi, trong trường hợp của các vấn đề ngôn ngữ trong giao tiếp, hoặc sắp xếp việc hồi hương.</p>
<h3><br>Công hứa hoàn chăm sóc sức khỏe cung cấp cho người nước ngoài trực thuộc hãng bảo hiểm Slavia.</h3>
<p>Hãng bảo hiểm Slavia bảo hiểm đối với người nước ngoài trong trường hợp chăm sóc y tế cần thiết và không thể trì hoãn trên lãnh thổ CH Séc. Bảo hiểm y tế cho người nước ngoài tại hãng bảo hiểm Slavia được công nhận tại các cơ quan chính quyền Cộng hòa Séc kể cả cảnh sát. Bảo hiểm thực hiện đúng các yêu cầu của luật số 326/1999 Sb. về cư trú của người nước ngoài tại Séc và những quy định sau này.</p>
<p>Để xác định trong khi cung cấp những chăm sóc y tế cần thiết và không thể trì hoãn, những người kí bảo hiểm của hãng chúng tôi được trang bị “Thẻ bảo hiểm” và cần trình ra chứng minh rằng mình đã kí  bảo hiểm y tế cho người nước ngoài tại hãng bảo hiểm Slavia.</p>
<p>Hãng bảo hiểm Slavia cam kết thanh toán cho cơ sở y tế trong Cộng hòa Séc trong phạm vi bảo hiểm được đưa ra trong hợp đồng bảo hiểm và điều kiện chung của chi phí cho những chăm sóc về y tế cần thiết và khẩn cấp và chăm sóc bệnh viện cung cấp cho người được bảo hiểm và ở mức giá theo giá trị thanh toán chăm sóc sức khỏe trong hệ thống bảo hiểm y tế tại CH Séc.<br>Thẩm tra thực hiện của bảo hiểm</p>
<p><strong>Thẩm tra thực hiện của bảo hiểm</strong></p>
<p>Trường hợp cần phải xác minh người nước ngoài i khám có đóng bảo hiểm y tế ở hãng có thể liên lạc với hãng bảo hiểm Slavia trong ngày làm việc kể từ 08.00 đến 16,00 giờ trên số điện thoại <strong>+420 255 790 111</strong> hoặc e-mail tại <a href="mailto:provoz@slaviapojistovna.cz"></a><a href="mailto:info@slavia-pojistovna.cz">info@slavia-pojistovna.cz</a>, trừ khi trong "Thẻ bảo hiểm " không ghi cách khác.<br><br>Ngoài thời gian trên có thể xác minh tính hợp lệ của bảo hiểm thông qua dịch vụ trợ giúp Eurocross tại số điện thoại <strong>+420 296 339 679</strong><br><br><br></p>

