{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Bảo hiểm y tế toàn diện</h1>
<p><strong><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersEn_Step1.php">Bảo hiểm y tế toàn diện cho người nước ngoài</a></strong></p>
<h3>Tại sao ký bảo hiểm y tế toàn diện?</h3>
<ul>
<li>Mức độ bảo hiểm tương tự như bảo hiểm y tế công cộng tại CH Séc, nhưng được giới hạn bằng những hạn định thỏa thuận trong việc thực hiện bảo hiểm.</li>
<li>Đây là loại hình bảo hiểm có thể sử dụng cho trẻ em, người lớn và phụ nữ mang thai, tương tự cho phụ nữ dự định có thai. Đồng thời cũng dành cho các vận động viên chuyên nghiệp và tất cả người lớn những người trưởng thành muốn có phạm vi bảo hiểm rộng hơn bảo hiểm y tế cho người nước ngoài trong trường hợp chăm sóc y tế cần thiết và không thể trì hoãn.</li>
<li>Bảo hiểm y tế toàn diện cho người nước ngoài thực hiện đúng các yêu cầu của luật số 326/1999 Sb., về cư trú của người nước ngoài tại CH Séc và những quy định sau này, và vượt những khuôn khổ bắt buộc của bảo hiểm tương ứng.</li>
</ul>
<h3>Tại sao ký kết bảo hiểm y tế toàn diện cho người nước ngoài tại hãng bảo hiểm Slavia?</h3>
<ul>
<li>Có phạm vi chăm sóc sức khỏe rộng</li>
<li>Mức giới hạn bồi thường bảo hiểm cao</li>
<li>Khả năng bảo hiểm cho trẻ em ngay sau khi sinh</li>
<li>Bảo hiểm không chỉ là khi cần thiết và khẩn cấp cho chăm sóc y tế, mà còn theo một kế hoạch chăm sóc sức khỏe</li>
<li>Bảo hiểm sức khỏe toàn diện cho người nước ngoài thực hiện đúng yêu cầu của Đạo luật số 326/1999 Sb., và những quy định sau này, và được công nhận tại sở cảnh sát ngoại kiều.</li>
</ul>
<h3>Bảo hiểm sức khỏe toàn diện cho người nước ngoài bao gồm những gì?</h3>
<ul>
<li>Đối với trẻ em dưới 15 tuổi: kiểm tra khám định kì và tiêm chủng trong phạm vi mà thường được cung cấp của hiểm bảo hiểm y tế công cộng tại CH Séc, điều trị bệnh tiểu đường.</li>
<li>Chăm sóc trong khi mang thai và sinh đẻ</li>
<li>Khả năng bảo đảm chăm sóc sức khỏe sau sinh cho trẻ sơ sinh của phụ nữ có tham gia bảo hiểm (và tiếp tục bảo hiểm từng trẻ sơ sinh)</li>
<li>Kế hoạch chăm sóc sức khỏe</li>
<li>Nha khoa – Chăm sóc cần thiết và cấp bách</li>
<li>Tổ chức và chẩn đoán chăm sóc</li>
<li>Phục hồi chức năng sau chấn thương và sau phẫu thuật</li>
<li>hồi hương</li>
</ul>
<h3>Bệnh viện có hợp đồng</h3>
<p>Khách hàng có thể sử dụng các bệnh viện đã được ký kết (xem danh sách hiện hành), chi phí cho việc chăm sóc y tế cần thiết và không thể trì hoãn trong phạm vi của điều kiện bảo hiểm bệnh viện sẽ trực tiếp thanh toán với hãng bảo hiểm Slavia. Do đó khách hàng cần phải trả những chi phí này và vì thế không cần phải yêu cầu những nghĩa vụ từ hãng bảo hiểm.</p>
<p><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersEn_Step1.php">Bảo hiểm y tế toàn diện cho người nước ngoài</a><br><br><br><a href="/vi/list-of-contracted-hospitals-kzpc-vietnamsky/">Danh sách các bệnh viện có ký thỏa thuận với hãng/bảo hiểm y tế dành cho người nước ngoài</a></p>
<h3>Dịch vụ trợ giúp</h3>
<p>Trường hợp cần thiết, khách hàng có thể yêu cầu trợ giúp bằng cách gọi đến số <strong>+420 296 339 679</strong> hoặc gửi fax đến số <strong>+420 296 339 630</strong>. Dịch vụ trợ giúp có sẵn cho khách hàng 365 ngày một năm và 24 giờ một ngày. Những người trực tổng đài của dịch vụ trợ giúp nói tiếng Séc, Sloven, Anh, Đức, Pháp, Tây Ban Nha, Nga, Ukraina và tiếng Việt. Dịch vụ trợ giúp sẽ giúp đỡ  khách hàng trong việc tìm những cơ sở y tế gần nhất có ký kết với hãng bảo hiểm của chúng tôi, trong trường hợp có các vấn đề ngôn ngữ trong giao tiếp, hoặc sắp xếp việc hồi hương.</p>
<h3>Công hứa hoàn chăm sóc sức khỏe cung cấp cho người nước ngoài trực thuộc Slavia.</h3>
<p>Hãng bảo hiểm Slavia bảo hiểm đối với người nước ngoài trong trường hợp chăm sóc y tế toàn diện trên lãnh thổ CH Séc. Bảo hiểm y tế cho người nước ngoài tại hãng bảo hiểm Slavia được công nhận tại các cơ quan chính quyền Cộng hòa Séc kể cả cảnh sát. Bảo hiểm thực hiện đúng các yêu cầu của luật số 326/1999 Sb. về cư trú của người nước ngoài tại Séc và những quy định sau này .</p>
<p>Để xác định trong khi cung cấp những chăm sóc y tế cần thiết và không thể trì hoãn, những người kí bảo hiểm của hãng chúng tôi được trang bị “Thẻ bảo hiểm” và cần trình ra chứng minh rằng mình đã kí  bảo hiểm y tế cho người nước ngoài tại hãng bảo hiểm Slavia.<br><br>Hãng bảo hiểm Slavia cam kết thanh toán chi phí cho cơ sở y tế trong các nước Schengens kể cả CH Séc về chăm sóc y tế cần thiết và không thể trì hoãn cho người được bảo hiểm trong trường hợp bị ốm đột xuất hoặc bị chấn thương trong phạm vi giới hạn của hợp đồng bảo hiểm và những điều kiện bảo hiểm, đó là những phần qui định trong đó. Hãng bảo hiểm Slavia cam kết thanh toán chi phí trong trường hợp đột ngột sinh của người bảo hiểm trong các cơ sở y tế tại CH Séc, nếu như đã được ký bảo hiểm dạng MẸ VÀ BÉ, kể cả chăm sóc sau khi sinh cho trẻ em sơ sinh hoặc nếu như bảo hiểm được ký dưới dạng PHỤ NỮ và đến lúc sinh phải qua thời kỳ chờ đợi đưa ra trong điều kiện của hợp đồng, thì bảo hiểm sẽ thanh toán sự chăm sóc y tế khi đẻ. Công hứa này có liên quan đến thanh toán những chi phí chăm sóc y tế cho người được bảo hiểm, kể cả trẻ sơ sinh của người được bảo hiểm, nhiều nhất ở mức giá theo giá trị thanh toán chăm sóc sức khỏe trong hệ thống bảo hiểm y tế tại CH Séc.</p>
<h3>Thẩm tra thực hiện của bảo hiểm</h3>
<p>Trường hợp cần phải xác minh người nước ngoài đi khám có đóng bảo hiểm y tế ở hãng có thể liên lạc với hãng bảo hiểm Slavia trong ngày làm việc kể từ 08.00 đến 16,00 giờ trên số điện thoại <strong>+420 255 790 111</strong> hoặc e-mail tại <a href="mailto:provoz@slaviapojistovna.cz,"></a><a href="mailto:info@slavia-pojistovna.cz">info@slavia-pojistovna.cz</a>, trừ khi trong "Thẻ bảo hiểm" không ghi cách khác.<br><br>Ngoài thời gian trên có thể xác minh tính hợp lệ của bảo hiểm thông qua dịch vụ trợ giúp Eurocross tại số điện thoại <strong>+420 296 339 679</strong></p>
<p><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersEn_Step1.php">Bảo hiểm y tế toàn diện cho người nước ngoài</a></p>
</div>
