//defaults
@black		:	#454545;
@white 		: 	white;
@shade 		: 	#f6f5f3;
@border 	: 	#d8d3cc;

// Texts &bgs
@textwhite  :	#ffe5dc;
@primary 	:	#cf5b36;
@secondary	:	#bcc767;

//fonts
@font : "myriad-pro",sans-serif;
@fontserif : 'ltc-bodoni-175',serif;
.bggrad{
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  @primary 200px, #f5f5f5 550px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(200px,@primary), color-stop(550px,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @primary 200px,#f5f5f5 550px); /* Chrome10+,Safari5.0+ */
	background: -o-linear-gradient(top,  @primary 200px,#f5f5f5 550px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @primary 200px,#f5f5f5 550px); /* IE10+ */
	background: linear-gradient(to bottom,  @primary 200px,#f5f5f5 550px); /* W3C */
}
.animate(@time : 500ms){
	transition: all @time ease-in-out;
}
.margin-auto{
	margin-left: auto;
	margin-right: auto;
}
.vcenter{
	top:50%;
	transform:translateY(-50%);
	position: relative;
}
.acenter{
	.vcenter;
	left:50%;
	transform:translateY(-50%) translateX(-50%);
}
.master-padding{
	
}
.master-margin{
	margin-right: 2em;
	margin-left: 2em;
	position: relative;
}
.donly{
	display: none;
}
.pseudoels{ 
	display: table;
	position: absolute;
	content: '';
}
.regbox{
	background: white;
	padding: 1em 1.5em;
	border-bottom:1px solid @border; 
}
.justbox{
	background: white;
	border-bottom:1px solid @border; 
}
//nthloop
.spritelist (@i) when (@i > 0) {
  @ib : @i + 1;
  &:nth-child(@{ib}):before {
    background-position: left -(@i*26px);
  }
  .spritelist(@i - 1);
}
.delays (@i) when (@i > 0) {
  &:nth-child(@{i}) .slavia-box{
    transition-delay: (@i*50ms+100ms);
  }
  .delays(@i - 1);
}
.delayme (@i,@init:100ms) when (@i > 0) {
  &:nth-child(@{i}){
    transition-delay: (@i*50ms+@init);
  }
  .delayme(@i - 1,@init);
}


