{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění psů a koček - Pejsek a kočička</h1>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Základním pojištěním je pojištění veterinární léčby psa nebo kočky</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Pojištěny jsou přiměřené náklady vynaložené na nezbytné, neodkladné veterinární ošetření psa nebo kočky (vyšetření veterinárním lékařem v případě úrazu či nemoci, léčiva aplikovaná veterinárním lékařem v případě úrazu či nemoci, ambulantní chirurgické zákroky, použití diagnostických přístrojů včetně spotřeby materiálu, anestezie, náklady nutné hospitalizace)
			<li>pojištěný pes nebo kočka musí být trvale označen mikročipem nebo tetováním, pes musí být řádně registrován – musí mít evidenční známku
			<li>uhradíme 50 % přiměřených nákladů prokazatelně vynaložených pojištěným za sterilizaci pojištěné feny nebo kočky, povinnou komplexní veterinární prohlídku pojištěného zvířete, označení pojištěného zvířete mikročipem
			<li>pes musí být starší 6 měsíců, kočka musí být starší 5 měsíců.
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Doplňkovým pojištěním je pojištění úhynu psa nebo kočky</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Pojištěna je škoda vzniklá úhynem nebo nutným utracením pojištěného zvířete
			<li>maximální vstupní věk pro psa je dle hmotnostní kategorie 5 let pro psy nad 50 kg váhy a 6 let pro psy do 50 kg váhy
			<li>maximální vstupní věk pro kočku je 6 let
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Co potřebuji k tomu, abych mohl uzavřít pojištění psa?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>zdravého psa
			<li>vyplněný dotazník k pojištění psa potvrzený veterinárním lékařem
			<li>označení čipem nebo tetováním
			<li>platný pas zvířete v zájmovém chovu
			<li>pes musí dosáhnout minimálního vstupního věku 6 měsíců
		</ul>
	</div>
</div>
<h2>A jak mohu pojistit veterinární léčbu?</h2>

<table>
	<thead>
		<tr>
			<th>Limitní třídy a hranice pojistného plnění</th>
			<th>V3</th>
			<th>V2</th>
			<th>V1</th>
		</tr>
	</thead>
	<tr>
		<td>Roční limit pojistného plnění pro léčbu nemocí</td>
		<td>30 000 Kč</td>
		<td>20 000 Kč</td>
		<td>10 000 Kč</td>
	</tr>
	<tr>
		<td>Roční limit pojistného plnění pro léčbu úrazu</td>
		<td>90 000  Kč</td>
		<td>60 000 Kč</td>
		<td>30 000 Kč</td>
	</tr>
	<tr>
		<td>Náhradní ubytování nebo náhr. péče</td>
		<td>ano</td>
		<td>ne</td>
		<td>ne</td>
	</tr>
	<tr>
		<td>Hledání ztraceného zvířete</td>
		<td>ano</td>
		<td>ne</td>
		<td>ne</td>
	</tr>
</table>





