{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Povinné ručení</h1>
<h2 class="large">Vaše šikovné autopojištění</h2>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Povinné ručení</div><a href="http://autopojisteni.slavia-pojistovna.cz/Controllers/FormSteps/_PovSlavia_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<p>Vyberte si ze 3 variant povinného ručení</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">POV ZÁKLAD</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<div class=""><p>Limit pojistného plnění pro újmu na zdraví, škodu na věcech a ušlém
		zisku 35 mil. Kč</p></div>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">POV PROFI</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<div class=""><p>Limit pojistného plnění pro újmu na zdraví, škodu na věcech a ušlém
zisku 100 mil. Kč<br>
Asistenční služba</p></div>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">POV PREMIUM</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<div class=""><p>Limit pojistného plnění pro újmu na zdraví, škodu na věcech a ušlém
zisku 100 mil. Kč<br>
Asistenční služba, pojištění odpovědnosti občanů, cestovní Europojištění,
pojištění pokut Kryštof</p></div>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1">
		<div class="large upper c-brick w300 space05em">I povinnost může být výhodná!</div>
		<div class="large w300 space05em">K povinnému ručení u nás navíc získáte:</div>
	</div><!--
	--><div class="pure-u-1">
		<div class="">
			<ul>
				<li><span class="upper">Pojištění odpovědnosti občanů</span><br>
					<span class="w300">Limit pro újmu na zdraví 200 000 Kč, pro škodu na věci 100 000 Kč, pro finanční škodu 20 000 Kč</span>
				<li><span class="upper">Zdarma na 1 rok originální pojištění KRYŠTOF</span><br>
					<span class="w300">(kryje finanční ztráty řidičů spojené s dopravním přestupkem)</span>
				<li><span class="upper">Zdarma na 1 rok cestovní EUROPOJIŠTĚNÍ</span><br>
					<span class="w300">(cestovní připojištění do Evropy s celoroční nepřetržitou platností)
				<li>Slevu 10 % při uzavření dalšího pojištění u Slavia pojišťovny!
			</ul>
		</div>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Povinné ručení</div><a href="http://autopojisteni.slavia-pojistovna.cz/Controllers/FormSteps/_PovSlavia_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<div class="pure-u-1 spaced spacetop1em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Interaktivní poradce</div><a href="http://www.slavia-pojistovna.cz/cs/interaktivni-poradce/" class="button abr simple">Více</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<h2 class="spacetop1em">Doplňková pojištění k povinnému ručení:</h2>
	<div class="pure-u-1">
		<ul class="fiftyfifty">
			<li><span class="upper">Asistenční služby Slavia Assistance</span>
			<li><span class="upper">Havarijní pojištění</span>
			<li><span class="upper">Pojištění skel vozidla</span>
			<li><span class="upper">Pojištění pro případ střetu se zvěří</span>
			<li><span class="upper">Živelní pojištění vozidla</span>
			<li><span class="upper">Úrazové pojištění</span>
			<li><span class="upper">Pojištění zavazadel</span>
			<li class="full-w"><span class="upper w600 ">Slevu 5 % při sjednání havarijního pojištění k povinnému ručení!</span>
		</ul>
	</div>
</div>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-1 spaced ">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/autopojisteni/vpp-pov-07-2014-komplet-kor1.pdf">vpp-pov-07-2014-komplet-kor1.pdf</a>
</span>
</div>

