{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění občanské odpovědnosti</h1>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištění odpovědnosti z činnosti v běžném občanském životě </h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>pojištění se vztahuje na povinnost pojištěného nahradit škodu, popřípadě i jinou újmu při ublížení na zdraví nebo usmrcení, způsobenou při činnostech běžných v občanském životě (např. v rámci vedení domácnosti, při rekreaci či zábavě, jako chodcem či cyklistou nebo při jízdě na koni, jako vlastníkem nebo opatrovatelem domácích zvířat)
			<li>ve stejném rozsahu jako pojištěný jsou pojištěni manžel, druh/družka, registrovaný partner, děti do doby dokončení přípravy na povolání maximálně však do 26 let věku, pokud žijí ve společné domácnosti</li>
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištění odpovědnosti vlastníka, držitele, nájemce nebo správce nemovitosti</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>pojištění se vztahuje na povinnost pojištěného nahradit škodu, popřípadě i jinou újmu při ublížení na zdraví nebo usmrcení, vzniklou s vlastnictvím, držbou, nájmem nebo správou hmotné nemovité věci, tj. stavby a k ní příslušného pozemku a doplňkových staveb nacházejících se na pozemku či v bytu, uvedených v pojistné smlouvě
			<li>ve stejném rozsahu jako pojištěný jsou dále pojištěny fyzické osoby pověřené pojištěným čištěním a údržbou chodníků, schodišť, chodeb a prostranství patřících k nemovitosti uvedené v pojistné smlouvě</li>
		</ul>
	</div>
</div>
<h2>Pojištění odpovědnosti občanů lze sjednat také samostatně</h2>
<p>Pojistné částky odpovědnosti v běžném občanském životě:</p>
<table>
	<thead>
		<tr>
			<th>Újma na zdraví</th>
			<th>Škoda na věci</th>
			<th>Finanční škoda</th>
		</tr>
	</thead>
	<tr>
		<td>2 000 000  Kč</td>
		<td>1 000 000 Kč</td>
		<td>500 000 Kč</td>
	</tr>
	<tr>
		<td>4 000 000 Kč</td>
		<td>2 000 000  Kč</td>
		<td>750 000 Kč</td>
	</tr>
	<tr>
		<td>6 000 000 Kč</td>
		<td>3 000 000 Kč</td>
		<td>1 000 000 Kč</td>
	</tr>
</table>
<p>Pojistné částky odpovědnosti vlastníka, držitele, nájemce nebo správce nemovitosti:</p>
<table>
	<thead>
		<tr>
			<th>Újma na zdraví</th>
			<th>Škoda na věci</th>
			<th>Finanční škoda</th>
		</tr>
	</thead>
	<tr>
		<td>1 000 000 Kč</td>
		<td>500 000 Kč</td>
		<td>250 000 Kč</td>
	</tr>
	<tr>
		<td>2 000 000 Kč</td>
		<td>1 000 000  Kč</td>
		<td>500 000 Kč</td>
	</tr>
	<tr>
		<td>4 000 000 Kč</td>
		<td>2 000 000 Kč</td>
		<td>750 000 Kč</td>
	</tr>
	<tr>
		<td>6 000 000 Kč</td>
		<td>3 000 000 Kč</td>
		<td>1 000 000 Kč</td>
	</tr>
</table>
<p>Pojištění odpovědnosti je bez spoluúčasti</p>
<p>Pojištění odpovědnosti v běžném občanském životě se vztahuje na území ČR a území Evropy při přechodném turistickém pobytu.</p>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-1 spaced ">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/odpovednost/vpp-zpp-odpovednost-2014-obcane.pdf">Všeobecné pojistné podmínky pro pojištění majetku a odpovědnosti občanů</a>
</span>
<br>
<span class="pure-u-1 pure-u-md-1 spaced ">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/odpovednost/vpp-domov-2014-komplet-a5.pdf">Pojistné podmínky
pro pojištění bytů,
domů a domácností</a>
</span>
<br>
</div>
