{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění ZDRAVÍ+</h1>
<h2>Nejpraktičtější úrazové pojištění</h2>
<p>V rámci pojištění ZDRAVÍ+ se můžete pojistit pro případ smrti způsobené úrazem, proti trvalým následkům způsobeným úrazem, pro případ doby nezbytného léčení úrazu, pro případ pobytu v nemocnici následkem úrazu, pro případ pobytu v nemocnici následkem úrazu a nemoci. Pojištění se sjednává na rok s možností automatického prodloužení, pojistné je možné zaplatit jednorázově na celý rok nebo ve čtvrtletních či pololetních splátkách.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Výhody úrazového pojištění u Slavia pojišťovny:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>výběr z několika základních balíčků, bez zbytečně pojištěných rizik</li>
			<li>snadné sjednání a okamžitá platnost od následujícího dne</li>
			<li>smlouva pro jednotlivce nebo rodinu (dva dospělí a až čtyři děti)</li>
		</ul>
	</div>
</div>
<p>Pro více informací a cenovou kalkulaci úrazového pojištění vám „na míru“ prosím kontaktujte naši nejbližší pobočku nebo svého zprostředkovatele pojištění.</p>
<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-1-2">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/zdravi/formular-hlaseni-urazu.pdf">Formulář hlášení úrazu</a>
</span>
<br>
<span class="pure-u-1 pure-u-md-1-2">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/zdravi/vpp-zdravi-new-final-press.pdf">Všeobecné pojistné podmínky pro pojištění zdraví občanů VPP ZDRAVÍ+ 01/2014</a>
</span>
<br>
<span class="pure-u-1 pure-u-md-1-2">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/zdravi/damage-claim-report-health-care-travel-insurance-or-foreigners.pdf">NOTIFICATION OF LOSS EVENT – HEALTH CARE</a>
</span>
</div>