{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Komplexní zdravotní pojištění cizinců</h1>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Sleva při sjednání online</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
<h2>Proč uzavřít komplexní zdravotní pojištění?</h2>
</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
<ul>
	<li>Rozsah pojištění je podobné veřejnému zdravotnímu pojištění v ČR, je však omezen sjednanými limity pojistného plnění.</li>
	<li>Tento druh pojištění mohou využít děti i dospělí, těhotné ženy, popř. ženy, které plánují těhotenství. Dále je určen pro profesionální sportovce a všechny dospělé osoby, které si přejí větší rozsah pojištění, než jaký poskytuje zdravotní pojištění cizinců pro případ nutné a neodkladné péče.</li>
	<li>Komplexní zdravotní pojištění cizinců splňuje požadavky zákona č. 326/1999 Sb., o pobytu cizinců na území České republiky, ve znění pozdějších předpisů a přesahuje povinný rámec příslušného pojištění.</li>
</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Proč uzavřít pojištění cizinců u Slavia pojišťovny?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Široký rozsah zdravotnické péče.
			<li>Vysoké limity pojistného plnění.
			<li>Možnost pojistit dítě ihned po narození.
			<li>Pojištěna je nejen nutná a neodkladná zdravotní péče, ale i následná a plánovaná zdravotní péče.
			<li>Komplexní zdravotní pojištění cizinců splňuje podmínky zákona č.326/1999 Sb. ve znění pozdějších předpisů a je uznáváno cizineckou policií ČR.
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Co zdravotní pojištění cizinců zahrnuje?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Pro děti do 15 let: preventivní a kontrolní prohlídky a očkování v rozsahu, který je standardně poskytován na území ČR pojištěncům veřejného zdravotního pojištění v ČR; léčba diabetu.
			<li>Péče v průběhu těhotenství a porodu.
			<li>Možnost pojistit poporodní zdravotní péči o novorozence pojištěné ženy (a po propuštění z porodnice pojistit novorozence).
			<li>Plánovaná zdravotní péče.
			<li>Stomatologie – nutná a neodkladná péče.
			<li>Ústavní a diagnostická péče.
			<li>Poúrazová a pooperační rehabilitace po dobu nepřetržité hospitalizace.
			<li>Repatriace.
		</ul>
	</div>
</div>

<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Komplexní pojištění cizinců</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>

<h2>Asistenční služba</h2>
<p>V případě potřeby si může klient vyžádat pomoc na telefonním čísle <span class="c-brick">+420 296 339 679 </span>nebo faxem <span class="c-brick">+420 296 339 630</span>. Asistenční služba je klientům k dispozici 365 dní v roce a 24 hodin denně. Operátoři telefonického střediska asistenční služby hovoří česky, slovensky, anglicky, německy, francouzsky, španělsky, rusky, ukrajinsky a vietnamsky. Pomohou klientům vyhledat nejbližší smluvní zdravotnické zařízení naší pojišťovny, pomohou také v případě jazykových problémů při komunikaci, případně zorganizují repatriaci.</p>
<h2>Ověřování účinnosti pojištění</h2>
<p>Pro potřebu ověření účasti ošetřovaného cizince na tomto komerčním zdravotním pojištění cizinců je možné kontaktovat Slavia pojišťovnu v pracovních dnech od 08.00 do 16.00 hodin na telefonním čísle <span class="c-brick">+420 255 790 111</span> nebo elektronickou poštou na adrese <a href="mailto:provoz@slavia-pojistovna.cz">provoz@slavia-pojistovna.cz</a>, pokud není na „Průkazu pojištěného“ uvedeno jinak.</p>
<p>Mimo uvedenou dobu je možno platnost pojištění ověřit prostřednictvím asistenční služby Eurocross na telefonním čísle <span class="c-brick">+420 296 339 679</span>.</p>
<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-1 spaced ">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/files/produkty-prilohy/Cizinci_seznam_nemocnic_01_2015.pdf">Seznam smluvních nemocnic 2015</a>
</span>
<br>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/VPP_KZPC_2014_RU_kor1.pdf">Общие условия страхования комплексного медицинского страхования иностранцев 2014</a>
</span>
<br>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/General_Terms_and_Conditions_of_Comprehensive_Health_Insurance.pdf">General Terms and Conditions of Comprehensive Health Insurance 01/2014</a>
</span>
<br>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/VPP_KZPC_2013_NEW_fin.pdf">Všeobecné pojistné podmínky pro komplexní zdravotní pojištění cizinců – VPP KZPC 01/2014</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/Dodatek-k-VPP-a-ZPC_2.pdf">Dodatek ke všeobecným pojistným podmínkám zdravotního pojištění cizinců</a>
</span>
</div>