{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Zdravotní pojištění cizinců pro případ nutné a neodkladné zdravotní péče</h1>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Sleva při sjednání online</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Proč uzavřít zdravotní pojištění cizinců?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Tuto povinnost všem cizincům z nečlenských států EU ukládá § 5 zákona č.326/1999 Sb., o pobytu cizinců na území ČR, ve znění pozdějších předpisů.
			<li>Zdravotní pojištění cizinců kryje náklady ošetření při náhlém onemocnění nebo úrazu.</li>
			<li>Je nutnou podmínkou pro udělení víza.</li>
		</ul>
	</div>
</div>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Proč uzavřít pojištění cizinců u Slavia pojišťovny?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Protože jen ta nabízí pojištění pracovních a turistických cest za bezkonkurenční ceny!
			<li>Její zdravotní pojištění cizinců je uznáváno cizineckou policií ČR a splňuje podmínky zákona č. 326/1999 Sb. ve znění pozdějších předpisů.</li>
		</ul>
	</div>
</div>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Co zdravotní pojištění cizinců zahrnuje?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="fiftyfifty">
			<li>ambulantní péči
			<li>léčení v nemocnici
			<li>neodkladné ošetření zubů
			<li>repatriaci
		</ul>
	</div>
</div>

<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Sleva při sjednání online</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>


<h2>Smluvní nemocnice</h2>
<p>Klienti mohou přednostně využít smluvních nemocnic (viz aktuální seznam), které náklady na nutnou a neodkladnou zdravotní péči v rozsahu pojistných podmínek účtují přímo Slavia pojišťovně. Klienti tak nemusí náklady hradit a teprve následně vyžadovat pojistné plnění od pojišťovny.</p>

<h2>Seznam smluvních nemocnic / zdravotní pojištění cizinců</h2>
<ul class="fiftyfifty">
<li><strong>Fakultní nemocnice u sv. Anny v Brně </strong><br>Pekařská 53, 656 91 Brno 543 181 111</li>
<li><strong>MEDINEO s.r.o., Praktický Lékař, MUDr. Olga Nehybová</strong><br>Purkyňova 2640/93 61200 Brno 541 210 285</li>
<li><strong>Městská nemocnice Čáslav</strong><br>Jeníkovská 348/17, 286 01 Čáslav 327 305 111</li>
<li><strong>Nemocnice České Budějovice</strong><br>B. Němcové 585/54, 370 01 České Budějovice 387 871 111</li>
<li><strong>Nemocnice Havlíčkův Brod</strong><br>Husova 2624, 580 22 Havlíčkův Brod 569 472 111</li>
<li><strong>Cheb KKN a.s., nemocnice v Chebu</strong><br>K Nemocnici 17, 350 02 Cheb 359 881 111</li>
<li><strong>Fakultní nemocnice Hradec Králové</strong><br>Sokolská 581, 500 12 Hradec Králové 495 831 111</li>
<li><strong>Praktický lékař pro děti a dorost MUDr. Petr Bartoš</strong><br>Záměstí 195, 565 01Choceň 465 473 760</li>
<li><strong>Masarykova městská nemocnice v Jilemnici</strong><br>Metyšova 465, 514 01 Jilemnice 481 551 111</li>
<li><strong>Nemocnice Jindřichův Hradec</strong><br>U nemocnice 380, 377 01 Jindřichův Hradec 384 376 111</li>
<li><strong>Nemocnice Kadaň</strong><br>Golovinova 1559, 432 01 Kadaň 474 944 111</li>
<li><strong>Karlovarská krajská nemocnice</strong><br>Bezručova 19, 360 66 Karlovy Vary 353 115 111</li>
<li><strong>Nemocnice Ledeč - Háj</strong><br>Háj 675, 584 01 Ledeč nad Sázavou 569 492 111</li>
<li><strong>Mělnická zdravotní, a.s.</strong><br>Pražská 528, 276 01 Mělník 315 639 111</li>
<li><strong>Oblastní nemocnice Mladá Boleslav, a.s., nemocnice Středočeského kraje</strong><br>Václava Klementa 147, 293 01 Mladá Boleslav II 326 742 111</li>
<li><strong>Oblastní nemocnice Náchod</strong><br>Purkyňova 446, 547 69 Náchod 491 601 111</li>
<li><strong>ALMEDA, a. s.</strong><br>Alšova 462, 277 11 Neratovice 315 637 111</li>
<li><strong>Nemocnice Nové Město na Moravě</strong><br>Žďárská 610, 592 31 Nové Město na Moravě 566 801 111</li>
<li><strong>MUDr. Fiker Radek, soukromá gynekologická ambulance<br></strong>Na Městečku 310, 592 14, Nové Veselí 566 667 296</li>
<li><strong>Městská nemocnice v Odrách<br></strong>Nadační 1, 742 35 Odry 556 778 100</li>
<li><strong>Fakultní nemocnice Olomouc<br></strong>I. P. Pavlova 6, 775 20 Olomouc 5 588 441 111</li>
<li><strong>Ordinace praktického lékaře pro děti a dorost, MUDr. Jarmila Ševčíková<br></strong>Šmeralova 116/10, 779 00 Olomouc 585 224 204</li>
<li><strong>FERTIMED, s.r.o.<br></strong>Boleslavova 246/2, 779 00 Olomouc-Lazce 585 224 128</li>
<li><strong>Slezská nemocnice v Opavě<br></strong>Olomoucká 470/86, 746 01 Opava-Předměstí 553 766 111</li>
<li><strong>Městská nemocnice Ostrava<br></strong>Nemocniční 898/20, 702 00 Ostrava-Moravská Ostrava 596 191 111</li>
<li><strong>Pardubická krajská nemocnice<br></strong>Kyjevská 44, 532 03 Pardubice 466 011 111</li>
<li><strong>MUDr. Jiří Hala, privátní zubní ordinace a laboratoř<br></strong>Kyjevská 44, 532 03 Pardubice 466 019 402</li>
<li><strong>Nemocnice Písek, a.s.<br></strong>Karla Čapka 589, 397 01 Písek-Budějovické Předměstí 382 772 424</li>
<li><strong>Fakultní nemocnice Plzeň<br></strong>Dr. E. Beneše 13, 305 99 Plzeň 377 401 111</li>
<li><strong>Fakultní nemocnice v Motole<br></strong>V Úvalu 84, 150 06 Praha 5 224 431 111</li>
<li><strong>Thomayerova nemocnice<br></strong>Vídeňská 800, 140 59 Praha 4 261 081 111</li>
<li><strong>Institut klinické a experimentální medicíny (IKEM)<br></strong>Vídeňská 1958/9,140 21 Praha 4 236 051 111</li>
<li><strong>Ústav preventivního a sportovního lékařství<br></strong>J.Martiho 31, 160 00 Praha 6 220 172 039, 731 049 036</li>
<li><strong>Nemocnice Na Bulovce<br></strong>Budínova 2, 180 81 Praha 8 - Libeň 266 081 111</li>
<li><strong>Spondeo s.r.o. - MUDr. Dubravka Jaganjacová, Ph.D<br></strong>Kartouzská 6, 150 00 Praha 5, 273 130 816</li>
<li><strong>Nemocnice Na Františku<br></strong>Na Františku 847/8, 110 00 Praha 1 222 801 111</li>
<li><strong>Stomatologická ordinace – MUDr. Oxana Protovchanskaya<br></strong>Vojavica s.r.o., 130 00 Praha 3, Husitská 502/36 222 514 886, 775 451 417</li>
<li><strong>MUDr. Tomáš Řádek - Gynekologie a porodnictví<br></strong>Jílovská 1163/69, 142 00 Praha-Braník 241 493 541</li>
<li><strong>GynCentrum, spol. s.r.o.<br></strong>Hloubětínská 3/13, 198 00 Praha 9 225 000 888</li>
<li><strong>R - LABEL, s.r.o. – poskytování stomatologického ošetření<br></strong>Libušská 319/126, 142 00 Praha 4-Písnice 601 668 888</li>
<li><strong>Středomoravská nemocniční a.s.<br></strong>Mathonova 291/1, 796 04 Prostějov 582 315 111</li>
<li><strong>Středomoravská nemocniční a.s. - Nemocnice Přerov<br></strong>Dvořákova 1800/75, 750 02 Přerov I-Město 581 271 111</li>
<li><strong>Podřipská nemocnice s poliklinikou Roudnice n. L., s.r.o.<br></strong>Alej 17. listopadu 1101, 413 01 Roudnice nad Labem 416 858 111</li>
<li><strong>Nemocnice Říčany, a.s.<br></strong>Smiřických 315/26, 251 01 Říčany 323 627 525</li>
<li><strong>Nemocnice v Semilech<br></strong>3. Května 42, 513 01 Semily 481 661 111</li>
<li><strong>Stodská nemocnice, a.s.<br></strong>Hradecká 600, 333 01 Stod 377 193 511</li>
<li><strong>Svitavská nemocnice<br></strong>Kollárova 643/7, 568 02 Svitavy 461 569 113</li>
<li><strong>Středomoravská nemocniční a.s. - Nemocnice Šternberk<br></strong>Jívavská 1435/20, 785 01 Šternberk 587 800 111</li>
<li><strong>Nemocnice Třinec<br></strong>Kaštanová 268, 739 61 Třinec 558 309 111</li>
<li><strong>Uherskohradišťská nemocnice<br></strong>J. E. Purkyně 365, 686 06 Uherské Hradiště 572 529 111</li>
<li><strong>Vsetínská nemocnice a.s.<br></strong>Nemocniční 955, 755 01 Vsetín 571 818 111</li>
</ul>
<h2>Asistenční služba</h2>
<p>V případě potřeby si může klient vyžádat pomoc na telefonním čísle <span class="c-brick">+420 296 339 679 </span>nebo faxem <span class="c-brick">+420 296 339 630</span>. Asistenční služba je klientům k dispozici 365 dní v roce a 24 hodin denně. Operátoři telefonického střediska asistenční služby hovoří česky, slovensky, anglicky, německy, francouzsky, španělsky, rusky, ukrajinsky a vietnamsky. Pomohou klientům vyhledat nejbližší smluvní zdravotnické zařízení naší pojišťovny, pomohou také v případě jazykových problémů při komunikaci, případně zorganizují repatriaci.</p>
<h2>Veřejný příslib úhrady zdravotní péče poskytnuté cizincům pojištěným u Slavia pojišťovny</h2>
<p>Slavia pojišťovna pojišťuje cizince pro případ čerpání nutné a neodkladné zdravotní péče na území České republiky. Zdravotní pojištění cizinců Slavia pojišťovny je uznáváno úřady ČR včetně Policie ČR. Pojištění splňuje podmínky zákona č. 326/1999 Sb., o pobytu cizinců na území ČR, ve znění pozdějších předpisů.</p>
<p>Naši smluvní pojištěnci jsou pro účely identifikace při poskytnutí nutné a neodkladné zdravotní péče vybaveni „Průkazem pojištěného“, kterým cizinec dokládá, že má sjednáno zdravotní pojištění cizinců u Slavia pojišťovny.
 </p>
<p>Slavia pojišťovna a.s. se zavazuje uhradit zdravotnickému zařízení v ČR za pojištěného v rozsahu stanoveném pojistnou smlouvou a všeobecnými pojistnými podmínkami náklady nutné a neodkladné ambulantní a nemocniční zdravotní péče poskytnuté pojištěnému, a to za ceny platné pro účtování zdravotní péče v systému zdravotního pojištění v ČR.</p>
<h2>Ověřování účinnosti pojištění</h2>
<p>Pro potřebu ověření účasti ošetřovaného cizince na tomto komerčním zdravotním pojištění cizinců je možné kontaktovat Slavia pojišťovnu v pracovních dnech od 08.00 do 16.00 hodin na telefonním čísle <span class="c-brick">+420 255 790 111</span> nebo elektronickou poštou na adrese <a href="mailto:provoz@slavia-pojistovna.cz">provoz@slavia-pojistovna.cz</a>, pokud není na „Průkazu pojištěného“ uvedeno jinak.</p>
<p>Mimo uvedenou dobu je možno platnost pojištění ověřit prostřednictvím asistenční služby Eurocross na telefonním čísle <span class="c-brick">+420 296 339 679</span>.</p>
<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/files/produkty-prilohy/Cizinci_seznam_nemocnic_01_2015.pdf">Seznam smluvních nemocnic 2015</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/VPP_NZPC_2014_RU_kor1.pdf">Общие условия страхования медицинского страхования иностранцев в случае необходимого и неотложного медицинского обслуживания 2014</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/General_Terms_and_Conditions_of_Health_Insurance_for_Acute_and_Emergency_Care.pdf">General Terms and Conditions of Health Insurance for Acute and Emergency Care 01/2014</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/VPP_NZPC_2013_NEW_kor2_press.pdf">Všeobecné pojistné podmínky pro zdravotní pojištění cizinců pro případ nutné a neodkladné zdravotní péče – VPP NZPC 01/2014</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/Dodatek-k-VPP-a-ZPC.pdf">Dodatek ke všeobecným pojistným podmínkám zdravotního pojištění cizinců</a>
</span>
</div>





