{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění bytu, domu a domácnosti</h1>
<p>Slavia pojišťovna nabízí Pojištění domácnosti a nemovitosti, z něhož se hradí škody v bytech, rodinných domech, rekreačních objektech, garážích, bazénech a dalších zařízeních, které byly způsobeny požárem, výbuchem, bleskem, vichřicí, krupobitím, zemětřesením, nárazem auta nebo letadla, pádem stromu, odcizením. Asistenční služba pomůže vyřešit krizovou situaci. K tomuto pojištění lze ještě připojit některé z doplňkových pojištění, např. proti škodám způsobeným sněhem a vodou nebo proti vandalismu.</p>
<p>Komplexně ochráníme celý váš domov!</p>
<p>Spolehlivě vám pojistíme váš rodinný dům, byt, chatu, chalupu a vedlejší stavby (např. bazén nebo garáž). Pojištění sjednané u Slavia pojišťovny vám pokryje široké spektrum pojistných nebezpečí, způsobených živlem či odcizením. Zajistíme také efektivní a výhodné pojištění odpovědnosti za škodu všech členů domácnosti.</p>
<h2>PROTI KTERÝM POJISTNÝM NEBEZPEČÍM LZE POJIŠTĚNÍ SJEDNAT?</h2>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Rozsah pojištění ZÁKLAD </h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Požár a jeho průvodní jevy, výbuch, náraz
nebo zřícení letadla, jeho části nebo jeho
nákladu, úder blesku přímý a nepřímý, kouř,
vichřice, krupobití, sesouvání půdy, zřícení
skal nebo zemin, sesouvání nebo zřícení lavin,
zemětřesení, pád stromů, stožárů nebo
jiných předmětů.
		</p>
<p class="small">* vhodné pro potřeby sjednání hypotéky </p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Rozsah pojištění STANDARD </h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Navíc: ZÁKLAD + náraz vozidla, přepětí, podpětí, nadzvuková
vlna, vodovodní škody
		</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Rozsah pojištění NADSTANDARD</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Navíc: STANDARD + poškození nebo zničení kotlů, nádrží
a výměníkových stanic vytápěcích systémů
pojištěné budovy, poškození nebo zničení
potrubí nebo topných těles vodovodních
zařízení včetně armatur, kanalizační škody,
únik vody v důsledku pojistné události způsobené
vodovodní událostí, rozbití skla, porucha
chladicího zařízení, únik vody z akvá-
ria, zkrat elektromotoru
		</p>
<p class="small">* vhodné pro potřeby sjednání hypotéky </p>
	</div>
</div>
<div class="pure-u-1 spaced">
<div class="pure-u-1 pure-u-md-1-2">
	<h3>VOLITELNÁ PŘIPOJIŠTĚNÍ:</h3>
	<ul class="w300">
		<li>povodeň a/nebo záplava
		<li>zatečení atmosférických srážek
		<li>je-li pojištěnou věcí budova, též tíha sněhu a/nebo námrazy
		<li>poškození zateplené fasády ptáky, hlodavci a hmyzem
		<li>odcizení (krádež, loupež), vandalismus, sprejerství
	</ul>
</div><!--
--><div class="pure-u-1 pure-u-md-1-2">
	<h3>VÝHODY POJIŠTĚNÍ:</h3>
	<ul class="w300">
		<li>výběr ze tří variant rozsahu pojistných rizik
		<li>volba připojištění podle potřeb konkrétního klienta
		<li>pojištění odpovědnosti bez spoluúčasti
		<li>u pojištění vandalismu, graffiti je plněno i bez dopadení viníka
	</ul>
 </div>
 <h2>DOPLŇKOVÁ PŘIPOJIŠTĚNÍ:</h2>
<ul>
<li>asistenční služby STANDARD (telefonická asistence ZDARMA)
<li>a NADSTANDARD (technická asistence, která za vás zorganizuje
<li>a uhradí dopravu a práci či materiál technické pomoci, např.
<li>elektrikář, plynař, instalatér, topenář, sklenář, zámečník)
<li>pojištění odpovědnosti z držby budovy, stavby nebo bytu
<li>pojištění odpovědnosti z běžného občanského života
</ul>
<p class="upper small c-brick">ASISTENČNÍ SLUŽBY POSKYTUJE GLOBAL ASSISTANCE</p>
<p class="large c-brick">Tel.: +420 242 452 652</p>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-1 spaced ">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/domov/vpp-domov-2014-komplet-a5-1.pdf">Pojistné podmínky
pro pojištění bytů,
domů a domácností</a>
</span>
</div>



