{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Pojištění Bezkrevní léčba</h1>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Bezkrevní léčba je trendem</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Jde o zdravotnické úkony související s aplikací léčby bezkrevnými přípravky, kterými jsou nahrazovány běžně podávané transfuze. Lékařská praxe potvrzuje, že při podání transfuze existuje vždy určité riziko přenosu infekce žloutenky nebo HIV, imunologiské riziko - alergická reakce aj. Ročně se při transfuzi nakazí několik desítek tisíc lidí.</p>
		<p>Bezkrevní léčba je určena všem, kteří dávají přednost léčbě prostřednictvím bezkrevných přípravků před transfuzí krevních derivátů, ať již z důvodů hygienických, zdravotních, náboženských, osobních či z prosté obavy z přenosu infekce a nemocí. Navíc u pojištění Bezkrevní léčba máte možnost si připojistit smrt následkem úrazu, kdy výše pojistné částky bude vyplacena oprávněné osobě.</p>
		<p>Slavia pojišťovna nabízí unikátní produkt pojištění Bezkrevní léčba všem, kteří se chtějí chránit před uvedenými riziky plynoucími z krevní transfuze a nechtějí se obávat finančního zatížení, které je s bezkrevní léčbou spojeno.</p>
	</div>
</div>
<h2>POJISTNÉ ČÁSTKY PRO POJIŠTĚNÍ BEZKREVNÍ LÉČBA:</h2>
<table>
	<thead>
		<tr>
			<th colspan="3">Újma na zdraví</th>
		</tr>
	</thead>
	<tr>
		<td>Dospělý</td>
		<td>30 000 Kč</td>
		<td>60 000 Kč</td>
	</tr>
	<tr>
		<td>Dítě</td>
		<td>30 000 Kč</td>
		<td>60 000 Kč</td>
	</tr>
</table>
<table class="mtop1">
	<thead>
		<tr>
			<th colspan="4">Smrt úrazem</th>
		</tr>
	</thead>
	<tr>
		<td>Dospělý</td>
		<td>60 000 Kč</td>
		<td>100 000 Kč</td>
		<td>200 000 Kč</td>
	</tr>
</table>
<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-2-3">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/bezkrevni-lecba/seznam-nemocnic-bezkrevni-lecba.pdf">Seznam smluvních nemocnic</a>
</span>
<br>
<span class="pure-u-1 pure-u-md-2-3">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/bezkrevni-lecba/vpp-bezkrevka-2014.pdf">Všeobecné pojistné podmínky pro pojištění zdravotních úkonů
nehrazených z prostředků veřejného zdravotního pojištění
VPP BZK 01/2014</a>
</span>
<br>
</div>

