{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Cestovní pojištění - EUROPOJIŠTĚNÍ</h1>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Sleva při sjednání online</div><a href="http://travel.slavia-pojistovna.cz/Controllers/FormSteps/_TravelSlavia_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<h2>Nejlevnější cestovní pojištění po Evropě</h2>
<p>Nejlevnější cestovní pojištění do Evropy s celoroční nepřetržitou účinností, které umožňuje opakované výjezdy v průběhu celého roku.</p>
<p>Slavia pojišťovna nabízí svým klientům nejvýhodnější cestovní pojištění do Evropy s nepřetržitou celoroční účinností i při opakovaných výjezdech do zahraničí. Europojištění je vlastně doplňkem veřejného zdravotního pojištění, jehož účastníkem je každý občan ČR a z kterého se proplácí nejnutnější lékařské ošetření ve většině států Evropy. Uzavřením Europojištění si klient vytvoří komplexní pojistnou ochranu, která zajistí pokrytí všech nákladů souvisejících s úrazem či onemocněním, tzn. ošetření, léky, převoz, asistenční službu apod. Výhodou je, že Europojištění je velmi levné, protože klient neplatí za stejnou věc dvakrát.</p>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Proč uzavřít EUROPOJIŠTĚNÍ?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Jako účastník veřejného zdravotního pojištění v ČR <strong>máte nárok na zdravotnické služby</strong> ve většině států Evropy, <strong>ty jsou ovšem často spojeny se spoluúčastí a poplatky</strong>. Zdravotní průkaz EHIC nehradí transfer do ČR ani repatriaci ostatků, nekryje spoluúčasti hrazené pacientem při hospitalizaci, stomatologických zákrocích nebo při nákupu předepsaných léků.</p>
<p><strong>Uzavřením EUROPOJIŠTĚNÍ vytvoříte komplexní pojistnou ochranu.</strong> Navíc mate možnost využívat naši asistenční službu v českém jazyce, která vám vyhledá vhodné zdravotnické zařízení, zajistí tlumočení a v případě nutnosti zařídí repatriaci.</p> 
<p>Po návratu do ČR je potřeba zažádat o refundaci u své zdravotní pojišťovny, následně Slavia pojišťovna poskytne plnění za neodkladně podstoupené zákroky ve výši rozdílu mezi skutečnými výdaji a úhradou vaší zdravotní pojišťovny.
		</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>EUROPOJIŠTĚNÍ je nejvýhodnějším pojištěním pro cesty do Evropy!</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Europojištění je určeno každému účastníkovi českého veřejného zdravotního systému ČR (kterékoli zdravotní pojišťovny České republiky). Na rozdíl od běžného cestovního pojištění neplatíte pojistné za stejnou věc dvakrát! Evropský průkaz zdravotního pojištění je třeba nosit spolu s dokladem o uzavření EUROPOJIŠTĚNÍ.</p>
		<p>V případě úrazu nebo nemoci v zahraničí využíváte svého zdravotního pojištění a EUROPOJIŠTĚNÍ současně. Náklady, které nehradí vaše zdravotní pojišťovna, jsou hrazeny z EUROPOJIŠTĚNÍ.</p>
		<p>EUROPOJIŠTÉNÍ je připojištěním k veřejnému zdravotnímu pojištění, ovšem s možností vytvoření komplexní pojistné ochrany (včetně pojištění odpovědnosti a zavazadel) za bezkonkurenční cenu.</p> 
		<h3>Výhody</h3>
		<ul class="">
			<li><strong>Extrémně výhodná cena</strong><br> pojistné platíte výhradně za ta rizika, která veřejné zdravotní pojištění nepokrývá.
			<li><strong>Účinnost EUROPOJIŠTĚNÍ je nepřetržitá </strong><br>opakované cesty i dlouhodobé pobyty.
			<li><strong>Asistenční služby v českém jazyce</strong>  <br> nedílná součást EUROPOJIŠTĚNÍ.
			<li><strong>Vyberete si optimální variantu</strong><br> pro běžnou turistiku (typ TURISTA) nebo pro sportovní aktivity a pracovní cesty (typ PROFESIONÁL); pro cesty a pobyty individuální nebo s celou rodinou (rodinná sleva)
		</ul>
	</div>
</div>

		<h3>Zaplať cenu za dva týdny a jezdi celý rok!</h3>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Seznam zemí, kde je EUROPOJIŠTĚNÍ účinné</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Belgie, Bulharsko, Dánsko, Estonsko, Finsko, Francie, Chorvatsko, Černá Hora, Irsko, Island, Itálie, Kypr, Lichtenštejnsko, Litva, Lotyšsko, Lucembursko, Maďarsko, Makedonie, Malta, Německo, Nizozemsko, Norsko, Polsko, Portugalsko, Rakousko, Rumunsko, Řecko, Slovensko, Slovinsko, Španělsko, Srbsko, Švédsko, Švýcarsko, Turecko, Velká Británie.</p> 
	</div>
</div>
<h3>Limity pojistného plnění a pojistné částky</h3>
<table>
<thead>
	<tr>
		<th>EUROPOJIŠTĚNÍ</th>
		<th>TURISTA</th>
		<th>PROFESIONÁL</th>
	</tr>
</thead>
	<tr>
		<td>Léčebné výlohy (včetně zásahů horské služby,<br> transportu, repatriace, asistenčních služeb)</td>
		<td>1 000 000 Kč</td>
		<td>5 000 000 Kč</td>
	</tr>
	<tr>
		<td>ošetření zubů</td>
		<td>10 000 Kč</td>
		<td>10 000 Kč</td>
	</tr>
	<tr>
		<td><strong>Úrazové pojištění </strong><br>
(TN / SÚ)</td>
		<td>200 000 Kč / 100 000 Kč</td>
		<td>1 000 000 Kč / 500 000 Kč</td>
	</tr>
	<tr>
		<td>Odpovědnost</td>
		<td>500 000 Kč</td>
		<td>1 000 000 Kč</td>
	</tr>
	<tr>
		<td>Zavazadla</td>
		<td>10 000 Kč</td>
		<td>20 000 Kč</td>
	</tr>
</table>
<p class="small">*) roční limit pojistného plnění na pojištěného / limit pojistého plnění na jednu pojistnou událost</p>

<h3>Pojištěné aktivity</h3>
<table>
<thead>
	<tr>
		<th>Aktivity</th>
		<th><span class="w300">EUROPOJIŠTĚNÍ</span><br>
			TURISTA</th>
		<th><span class="w300">EUROPOJIŠTĚNÍ</span><br>
PROFESIONÁL</th>
	</tr>
</thead>
	<tr>
		<td>Turistické cesty nebo pobyty<br> 
Sporty s výjimkou rizikových sportovních aktivit</td>
		<td>ANO</td>
		<td>ANO</td>
	</tr>
	<tr>
		<td>Pracovní cesty nebo pobyty</td>
		<td>NE</td>
		<td>ANO</td>
	</tr>
	<tr>
		<td>Rizikové sportovní aktivity:<br>
vysokohorská turistika (nad 2000 m n. m.), horolezectví, skialpinismus, potápění, parašutismus, parasailing a letecké sporty včetně všech kategorií ultralehkého létání, skoky na gumovém laně (bungee jumping)</td>
		<td>NE</td>
		<td>ANO</td>
	</tr>
	<tr>
		<td>Profesionální sportovní činnost</td>
		<td>NE</td>
		<td>NE</td>
	</tr>
</table>
<p class="small">**) V případě úrazu při rizikových sportech se plnění z úrazového pojištění krátí na polovinu; plnění z léčebných výloh a ostatních pojištění se poskytuje v plné výši.</p>

<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Sleva při sjednání online</div><a href="http://travel.slavia-pojistovna.cz/Controllers/FormSteps/_TravelSlavia_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-2-3">
    <a class="full" target="_blank" href="{$basePath}/files/produkty-prilohy/cestovni-euro/vpp-eu-01-2014.pdf">Pojistné podmínky</a>
</span>
<br>
</div>



