{layout '../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Cestovní pojištění - SVĚT</h1>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Cestovní pojištění</div><a href="http://travel.slavia-pojistovna.cz/Controllers/FormSteps/_TravelSlavia_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<p>Krátkodobé pojištění na cesty s možností pojistit velký rozsah pojistných nebezpečí na území celého světa pro pracovní i turistické cesty.</p>
<p class="large">Cestujte po světě s jistotou, rizika poneseme za vás!</p>

<h2>Předmět pojištění na cesty</h2>

<ul class="fiftyfifty">
	<li>pojištění léčebných výloh
	<li>úrazové pojištění
	<li>pojištění odpovědnosti
	<li>pojištění osobních věcí a zavazadel
	<li>pojištění zpoždění zavazadel
	<li>pojištění zpoždění letu
	<li>pojištění nevyužité dovolené
	<li>pojištění únosu letadla
	<li>pojištění storna zájezdu
	<li>pojištění nákladů veterinární léčby
</ul>
<p>Při sjednávání pojištění na cesty je povinné sjednání pojištění léčebných výloh, ostatní rizika si může pojistník vybrat libovolně.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištěné osoby a pojištěná zvířata</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Pojistit lze osoby se vstupním věkem od 0 let.
			<li>Je-li sjednáno přenosné pojištění na cesty pro opakované výjezdy na pojistnou dobu jednoho roku, pojistník je povinen zaslat pojistiteli identifikační údaje pojištěného nejpozději den před výjezdem.
			<li>Pojištění na cesty lze sjednat jen pro psy domácí ve stáří od 6 měsíců do 8 let a kočky domácí ve stáří od 6 měsíců do 10 let.
		</ul>
	</div>
</div>
<h2>Územní rozsah pojištění na cesty</h2>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>E – Evropa</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>do této oblasti jsou zařazeny následující evropské státy a území:<br>
Albánie, Andorra, Belgie, Bělorusko, Bosna a Hercegovina, Bulharsko, Černá Hora, Dánsko (+ Faerské ostrovy), Estonsko, Finsko, Francie, Chorvatsko, Irsko, Island, Itálie, Kypr, Lichtenštejnsko, Litva, Lotyšsko, Lucembursko, Maďarsko, Makedonie, Malta, Moldavsko, Monako, Německo, Nizozemsko, Norsko (+ Svalbard), Polsko, Portugalsko (+Azory, Madeira), Rakousko, Rumunsko, Rusko po pohoří Ural, Řecko, San Marino, Slovensko, Slovinsko, Srbsko, Španělsko (+ Kanárské ostrovy, Baleárské ostrovy), Švédsko, Švýcarsko, celé Turecko, Ukrajina, Vatikán, Velká Británie (+ ostrov Man, Gibraltar, Normanské ostrovy); a dále následující země: Alžírsko, Egypt, Izrael, Libanon, Libye, Maroko, Sýrie, Tunisko.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>S – Svět </h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>celý svět včetně Evropy.</p>
	</div>
</div>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Cestovní pojištění</div><a href="http://travel.slavia-pojistovna.cz/Controllers/FormSteps/_TravelSlavia_Step1.php" class="button abr simple">Sjednat online</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Pojištění se nevztahuje na území státu:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>ve kterém má pojištěný trvalé bydliště nebo trvalý pobyt</li>
			<li>jehož je pojištěný státním občanem;</li>
			<li>České republiky</li>
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Cestovní pojištění lze sjednat pro následující typy cest</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>turistická cesta – běžné rekreační a poznávací cesty nebo pobyty, provozování rekreačních sportů; turistickou cestou nejsou činnosti uvedené u druhého a třetího bodu tohoto listu
			<li>pracovní cesta – cesty a pobyty za účelem výkonu práce zaměstnance nebo podnikatele, cesty a pobyty za účelem výdělku, charitativní a dobrovolná činnost, au-pair, studijní pobyty, stáže; dále lze také provozovat činnosti uvedené v prvním bodu tohoto listu; pracovní cestou nejsou činnosti uvedené v třetím bodu tohoto listu</li>
			<li>aktivity + – cílené provozování sportu a pohybových činností v rámci aktivního odpočinku; dále lze také provozovat činnosti uvedené v předchozích dvou bodech</li>
		</ul>
		<p>Podrobnější informace o pojištění včetně výluk jsou uvedeny v pojistných podmínkách.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Spoluúčast u cestovního pojištění</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Pojištění na cesty se sjednává bez spoluúčasti, s výjimkou pojištění veterinárních nákladů, kde je stanovena spoluúčast ve výši 500 Kč na každé pojistné události.
 </p>
	</div>
</div>
<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Přílohy</div>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/files/VPP_SVET_montaz_07-2014_fin.pdf">Všeobecné pojistné podmínky pro cestovní pojištění SVĚT VPP CP 07/2014</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/files/VPP_SVET_Priloha-k-CP_07-2014.pdf">Příloha k Všeobecným pojistným podmínkám pro cestovní pojištění SVĚT VPP CP 07/2014</a>
</span>
</div>



