{block #content}
{translator front.notFound}
<h1 class="h1">{_title}</h1>
<p>{_text}</p>

<p>{_caused.title}</p>
<ul>
    <li>{_caused.i1}</li>
    <li>{_caused.i2}</li>
    <li>{_caused.i3}</li>
</ul>
<h3>{_try.title}</h3>
<ul>
    <li><a href="javascript: history.go(-1)">{_try.i1}</a></li>
    <li><a href="{$basePath}/">{_try.i2}</a></li>
    <li><a href="mailto:&#104;&#101;&#108;&#112;&#100;&#101;&#115;&#107;&#064;&#103;&#111;&#111;&#100;&#115;&#104;&#097;&#112;&#101;&#046;&#099;&#122;">{_try.i3}</a></li>
</ul>

{/translator}