{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Insurance of electronics</h1>

<p>Insurance for electronics provides, withing the appropriate policy terms, comprehensive protection for stationary electronic equipment and information, communication and medical technology equipment, or sets thereof. Other electrotechnical and electronic equipment and apparatus can also be insured, as well as portable equipment or fixed equipment in a vehicle.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>The object of insurance for electronics</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Is is only possible to insure items which were in working condition at the time of arranging the policy, and were put into operation in accordance with legal regulations and manufacturer's requirements; i.e.  the insured item has been tested, and after the test run was either prepared to be handed over at the place of insurance, or is already in use there.
		</p>
		<p>Insurance for electronics is arranged for cases of sudden damage to or destruction of insured equipment by a random event. The insurance covers damage by fire and by natural hazards, including damage due to the extinguishing of fires, demolition, cleaning activities or loss of insured equipment incurred in connection with certain insured hazards, theft or vandalism.</p>
		<p>Included in insurance for electronics are data carriers (but only where they are not replaceable by the user – e.g. all kinds of hard drives) and software, as long as it is necessary for the basic functioning of the insured item. </p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Supplementary insurance with insurance of electronics</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Is is only possible to insure items which were in working condition at the time of arranging the policy, and were put into operation in accordance with legal regulations and manufacturer's requirements; i.e.  the insured item has been tested, and after the test run was either prepared to be handed over at the place of insurance, or is already in use there.
		</p>
		<ul>
			<li>costs of cleaning, decontamination and removal of scrap</li>
			<li>costs of relocation and security</li>
			<li>costs of erecting scaffolding, costs of rescue, or costs of putting provisional arrangements into place,</li>
			<li>overtime, and work on Sundays, during holidays and at night,</li>
			<li>costs of air transport, or disruption or restriction of operations due to a breakdown of the insured machinery</li>
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Indemnification under insurance for electronics</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>In cases of destruction, loss or theft of the insured equipment, the insurer will pay out an amount corresponding to the approximate cost of the replacement of the equipment by the same device or a similar one, minus the value of the usable remaining parts of the equipment and the stipulated deductible.</p>
		<p>In the case of damage to the insured equiment, the insurer will pay out a sum corresponding to the appropriate cost of repair of the damaged equipment minus the value of the usable residual parts of the replaced equipment, and the stipulated deductible. Indemnification will not exceed the amount necessary for replacement of the equipment by the same device, or a similar one.</p>
		<strong>The insurer will also indemnify, within the insurance for electronics, reasonable costs proven to have been incurred by the beneficiary due to:</strong>
		<ul>
			<li> temporary repairs, as long as they do not increase the cost of the full repair,</li>
			<li>dismantling and assembly of damaged equipment,</li>
			<li> speedy and express transport of spare parts, if normal transport is not efficient enough</li>
		</ul>
	</div>
</div>
<p>Indemnity for the insured software will be, within the insurance for electronics, issued only when the  loss of the software, or alterations to it, were caused as a result of insured damage to the data carriers on which this data was saved.</p>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>
