{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Professional liability insurance</h1>

<p>Professional liability insurance against damages (hereinafter  “professional liability insurance”) provides, within the relevant policy conditions, protection for the insured in cases of damage caused by the insured to another (third party) in relation to their business activities. Part of professional liability insurance are also costs of legal defence against the claim made for compensation of damages.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Professional liability insurance against damages arising from specialised professional activities</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Professional liability insurance against damages caused by the provision of professional services (“professional liability insurance”) is arranged for cases of statutory liability by the insured for damages arising to the victim from defective professional services provided in the course of the business activities of the accused consisting of an error or omission in providing this service.
		</p>
		<p>Professional liability insurance is arranged for professions which are obliged by law to arrange such insurance, and for some other select specific professions, such as accountants, legal experts, interpreters and translators.</p>
		<p>Professional liability insurance can be, if requested, arranged also in respect of so-called  supplementary  professional liability insurance against damages to items taken over during the course of the contracted </p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Professional liability insurance against damages from the activities of the medical profession</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Professional liability insurance against damages from the activities of the medical profession is arranged for cases of statutory liability of the insured legal entity or physical person-entrepreneur against damages incurred by another from injury or death, to items damaged, destroyed or missing, and related property damage arising from this, if a claim of compensation for damages was made against the insured.</p>
	</div>
</div>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>
