{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Liabilty insurance against damage by shipping agent</h1>

<p>Shipping agent liability insurance is aimed at shipping agents or who, on the payer's account, arrange paid transportation of consignments. In this case we refer to the “clean shipping agent“</p>
<p>Shipping agent liability insurance is arranged for cases of statutory liability by the insured for damages incurred by another in connection with the insured's activities as a shipping agent.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Shipping agent liability insurance for shipping agents with the right to act as carrier</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>If the shipping agent also binds themselves to not only arrange the transport but to actually carry it out i.e. that they act here as the main carrier, we refer to a shipping agent with the right to act as carrier. The using of the right to act as carrier by the shipping agent results in the shipping agent having rights and duties towards the contractor and their relationship, during the process of transportation, is governed by regulations regarding contracts of transportation of goods, or, as the case may be, contracts of transportation of cargo.
		</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>The scope of  liability insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>so-called „clean shipping agent“</li>
			<li>shipping agent with the right to act as carrier</li>
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Territory covered by the insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Shipping agent liability insurance covers insurable events involving damage occurring throughout the world, unless agreed otherwise.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>What do we need from you to arrange liability insurance?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Certificate of incorporation or, if applicable, extract from the Trade Register</p>
	</div>
</div>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>
