{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Public liability and operations liability insurance</h1>

<p>Liability insurance against damages provides, within the relevant policy conditions, protection for the insured in cases of damage which the insured causes to another (a third party) in connection with his business activities. The policy also covers costs of legal defence against the claim of compensation for damages made.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Why take out public liability insurance against damages?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Insurance against liability for damages is arranged for cases for statutory liability by the insured legal person or the natural person-entrepreneur, for damages to another caused by injury or death, damage to property, destruction of items or missing items, and resulting damage to property connected with same.</p>
		<ul>
			<li>In connection with their business activities or relationships resulting from this activity (“public“ liability for damages),</li>
			<li>in connection with a defective product delivered by the insured and damages resulting from defective work carried out, which takes place after the transfer [of the goods or work], which is arranged as supplementary insurance with insurance against “public“ liability for damage.</li>
			<p>Part of public liability insurance is liability arising from ownership or possession of property, and subrogation of medical equipment or health insurance in connection with damages to a third party.</p>
			<p>Insurance against liability for damages does not include liability for damage which manifests itself on items supplied by the insured person, or on items on which the insured performed an activity as contracted, if the damage is due to the supplied items being of poor quality or the contracted activity being carried out defectively – insurance of “spoiled work“.</p>
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Supplementary insurance options, with insurance against liability for damages:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>insurance against liability for damage to property lawfully used,
			<li>insurance against liability for damage to property taken over with the aim of carrying out contracted activities (repairs, modifications, sales, depositing, storing etc.) and
			<li>subrogation of medical equipment or health insurance for employees of the insured
		</ul>
	</div>
</div>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>
