{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Liability insurance for carriers</h1>

<p>Road carrier liability insurance is aimed at road carriers transporting foreign shipments under their own name, and on their own account.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>The scope of carrier liability insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>the basic scope of carrier liability insurance = is arranged for cases of statutory liability by the insured for damages caused to another, by matters arising from transportation contracts, due to a random event which occurred during the insurance period and is related to the activities of the insured as road carrier.</li>
			<li>supplementary scope of carrier liability insurance (arranged only when combined with the basic scope of  carrier liability insurance) = arranged for cases when the basic scope of the insurance does not provide adequate insurance protection for road freight carriers.</li>
		</ul>
	</div>
</div>
<h2>With this form of insurance, the carrier can additionally insure against their liability for damages, which occur [when transporting] consignments:</h2>
<ul class="fiftyfifty w300">
		<li>during loading and unloading
		<li>due to theft
		<li>during transport by special vehicles (e.g. vehicles with refrigeration containers, containers and road tankers)
		<li>as a result of delay in delivery
		<li>transport of used or damaged motor vehicles, or used / faulty machinery and equipment
		<li>when transportation is subcontracted to another carrier
		<li>transportation of primary explosives and explosives (class 1 under the “ADR Agreement“)
</ul>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Duration of insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Carrier liability insurance is arranged as short-term (for periods of less than 1 year) or long-term           (insurance for 1 year, with automatic extension available)</p>
		
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>The territorial scope of carrier liability insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>national road carrier only – Czech Republic</li>
			<li> international road carrier only - Europe</li>
			<li>combination – national and international road carrier: Czech Republic and Europe</li>
		</ul>

	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>What do we need from you to arrange carrier liability insurance?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Certificate of incorporation or, if applicable, extract from the Trade Register</li>
			<li> concession deed, or, if applicable, permission from the traffic authority</li>
		</ul>
	</div>
</div>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>
