{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Liability insurance against harm to members of the management organs of the company</h1>

<p>Is arranged for cases of statutory liability for damages, which the insured person caused by breach of duty in connection with the duties of a member of the management of the company, and for cases of a claim for compensation for these damages against the insured person in connection with this matter.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Members of the company governing body include</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Members of the Board of Directors, Supervisory Board members, executives or chief clerks.
		</p>
		<p>All the members of the company governing body are insured as a whole, and the policyholder is usually the management of the company. The policy covers, for a period of 60 months from the end of the policy contract, former members of governing bodies who ceased performance of their duties during the insured period.</p>
		<p>A claim is understood to be a written request by any person or organisation, made with the aim of making the insured person liable for the consequences of a specific breach of duty.</p>
		<p>The policy covers compensation for damages, legal costs, costs of the investigation, public relations costs, as well as fines and penalties payable to adminstrative or regulatory organs.
</p><p>Within this scope, sister companies can also be insured, under the same policy.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Advantages of liability insurance with Slavia insurance company:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>quality insurance provided</li>
			<li>insurance at a favourable price</li>
			<li>simplicity, and fast negotiation</li>
			<li>individual client access</li>
			<li>fast and quality claims handling</li>
		</ul>
	</div>
</div>

<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>