{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Insurance of towns and villages</h1>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Object of insurance of towns and villages:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
		<li>property in the ownership of the village, specified in the policy contract
		<li>public liability, including liability by council members for damages arising from illegal decisions or incorrect official procedures by a member of the council under Act no.  82/1998 Coll. as amended, to the amount of the regressive settlement determined by this Act.
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Insurance of towns and villages covers:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
		<li>insurance against the elements – fire, explosion, lightning strike, storms and hailstones, flood, weight of snow, smoke, plane crash, [falling] trees and other objects
		<li>insurance against damage by water from the mains,
		<li>insurance against theft,
		<li>insurance against vandalism,
		<li>public liability insurance (including Act. no. 82/1998 Coll. ),
		<li>insurance against terrorism.
		</ul>
	</div>
</div>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>