{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Insurance of machines and other technical equipment</h1>

<div class="textbox">
<p>Insurance for machinery provides, under the appropriate policy conditions, comprehensive protection for machinery, machine equipment, and other technical equipment, or sets thereof.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>The object of insurance of machinery</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>The only insurable items are those which were in working condition at the time of arranging the policy, and were put into operation in accordance with legal&nbsp; regulations and manufacturer's requirements i.e. the insured item has been tested, and after the test run was either prepared to be handed over at the place of insurance, or is already in use there.</p>
		<p>The policy is arranged for cases of sudden damage toor destruction of the insured equipment due to any sudden incident.&nbsp; Insurance for machinery covers damage by fire and natural disasters, including damage by extinguishing of fires, demolition, cleaning activities, or loss of insured equipment incurred in connection with an insured hazard, theft or vandalism.</p>
		<p>Insurance for machinery applies to the insured machine in operation, at rest, during dismantling for the purpose of cleaning or an overhaul, during its moving within the insured place, or during its subsequent assembly.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
<h2>Insurance for machinery can also be arranged as so-called supplementary insurance:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
<ul>
<li>costs of cleaning and removal of scrap,</li>
<li>costs of decontamination and removal of soil,</li>
<li>costs of relocation and security,</li>
<li>costs of erecting scaffolding, costs of rescue, or costs of putting provisional arrangements into place,</li>
<li>overtime, and work on Sundays, during holidays and at night,</li>
<li>costs of air transport,</li>
<li>dsruption or restriction of operations due to a breakdown of the insured machinery.</li>
</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
<h2>Insurance for machinery cannot be arranged for:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
<ul>
<li>motor vehicles or trailers with an assigned state or registration licence plate, with the exception of self-propelled machinery and trailer machines,</li>
<li>ships and aircraft,</li>
<li>rolling stock,</li>
<li>samples, visual models, prototypes,</li>
<li>hand tools with electric, pneumatic or internal combustion drives (e.g. drills, grinders, saws, sledgehammers, hammer drills,&nbsp; ‘hand-held lawnmowers‘ etc.).</li>
<li>spare parts of insured items.</li>
</ul>
	</div>
</div>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>
<hr>
<p>Combine insurance for machinery with insurance for electronics!</p>
</div>