{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Insurance of risks (construction and assembly risks)</h1>

<p>Insurance of construction and assembly risks provides comprehesive protection during the period of construction, against damage, destruction or loss incurred in connection with construction or assembly activity, and covers damage by fire, natural hazards or theft.</p>
<p>Part of the insurance of construction and assembly risks is insurance against liability for damages to another party, caused by one of the insured persons in connection with construction or assembly during building works at the building site, or its immediate vicinity.</p>
<p>The policy comes into effect as soon as building works start at the insured place, and ends when it is handed over.</p>
<h2>The object of insurance of construction and assembly risks</h2>
<p>The object of the insurance are works (construction or assembly), built in accordance with legal and technical regulations in the Czech Republic.</p>
<h2>The insured, under insurance of construction and assembly risks</h2>
<p>are the client, and the contractor, involved in the insured building works, as they are specified in the building works contract, and subcontractors under the main contractor, whose supplies are included in the insured sum, form part of the insured building works, and have the appopriate authorisation to perform the agreed activities.</p>
<h3>The place of insurance of construction and assembly risks</h3>
<p>is the place designated in the project documentation as the building site.</p>
<h3>Additional insurance options</h3>
<p>For cases of damage incurred in direct connection with the construction of the insured building works, there is an option of adding, to the basic policy, the insurance of other objects which are found on the building site, or which are directly at risk due to the construction or assembly works</p>
<ul>
	<li>buliding site equipment and apparatus, construction and assembly machinery
	<li>tools and devices used for the implementation of the insurec building work, and, if need be
	<li>current assets, i.e. movable and immovable items which are found at the insured place or in its immediate vicinity and which belong to the insured or are under their care, custody or control, are not part of the insured building works, and are not used for its implementation.
</ul>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>