{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Insurance of surety resulting from bankruptcy of a travel agency</h1>

<p>Act 159 / 1999 Coll. on some conditions of undertaking in the field of tourism binds travel agents to take out insurance in case of the bankruptcy of the company.</p>
<p>If you are interested in an insurance quote, please contact us at the following e-mail address: <a href="mailto:pojisteniupadkuck@slavia-pojistovna.cz">pojisteniupadkuck@slavia-pojistovna.cz</a></p>