{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Insurance of job centres against bankruptcy</h1>

<p>Amendment to Act 435 / 2004 Coll. on employment, effective from 01.01.2011, stipulates, in the amended version of the Act, that from 01.01.2012, job centres must arrange insurance against bankruptcy of the company.</p>
<p>If you are interested in a quote for this policy, please download and save this questionnaire, and send the filled-in questionnaire, along with the required attachments, to e-mail address</p>
<p><a href="mailto:rostislav.vlk@slavia-pojistovna.cz">rostislav.vlk@slavia-pojistovna.cz</a>, or in writing to the following address:<br> <strong>Slavia pojišťovna, Revoluční 1, Praha 1&nbsp; 110 00</strong>.</p>
<p>A proposal of the policy contract will be submitted to you within 2 working days of receiving the required information.</p>
<p>We will do our very best to accommodate your needs!</p>