* { padding: 0; margin: 0; }
html, body { font-family: Calibri, Arial, Helvetica, sans-serif; color: #303030; font-size: 16px; line-height: 20px; background: #FFFFFF; padding: 0; margin: 0; }

a { color: #0085A7; }
h3 { font-size: 20px; font-weight: bold; background: #EAEAEA; color: #424F57; border-bottom: 1px solid #D0D0D0; margin-bottom: 30px; margin-top: 70px; text-shadow: #c0c0c0 1px 1px; }
h4 { font-size: 16px; font-weight: bold; margin: 0 0 10px 0; text-shadow: #d0d0d0 1px 1px; text-decoration: underline; }
h5 { font-size: 14px; font-weight: bold; margin: 0 0 10px 0; text-shadow: #d0d0d0 1px 1px;}
h6 { font-size: 14px; font-weight: normal; margin: 0 0 10px 0; text-shadow: #d0d0d0 1px 1px;}
p { margin: 0 0 20px 0; }
table { margin: 0 0 20px 0; }
td { padding: 2px 10px; background: #EAEAEA; }
ol, ul { margin: 0 0 20px 20px; padding: 0; }

.clear { clear: both; }
p.image { text-align: center; font-style: italic; width: 100%; }
p.image img { width: 100%; max-width: 1024px; border: 1px solid #C0C0C0; position: relative; right: 1px; margin: 0 auto; }
.small { font-size: 10px; position: relative; top: -10px; left: -3px; }

#body { background: #FFFFFF; width: 90%; max-width: 1024px; margin: 0 auto; padding: 20px; }

#header { height: 110px; padding: 20px 20px; background: #EAEAEA; margin-bottom: 20px; }
#header h1 { background: url('anyshape.png'); width: 145px; height: 90px; float: right; }
#header h1 span { display: none; }
#header h2 { font-size: 25px; font-weight: bold; margin-top: 54px; color: #424F57; text-transform: uppercase; float: left; text-shadow: #c0c0c0 1px 1px; }

#footer { padding: 20px 20px; background: #EAEAEA; margin-top: 20px; }
#footer a.goodshape { background: url('goodshape.png') 0 2px no-repeat; padding-left: 30px; color: #000000; margin-left: 5px; text-decoration: none; }
