{foreach $form['attachments']->containers as $container}
<div class="pure-u-1"><!--
    --><div class="pure-u-1 pure-u-md-7-12">
        <input n:name="$container['file']">
    </div><!--
    --><div class="pure-u-1 pure-u-md-1-12">
        <input n:name="$container['remove']">
    </div><!--
--></div>

{/foreach}
<div n:if="$form['seats-add']" class="pure-u-1">
    <div class="pure-u-1 pure-u-md-1-12">
        <input n:name=$form['seats-add']>
    </div>
</div>
