<div>
  <div class="fileRepeaterItem">
    <input type="file" class="_plain" name="{$form[$name]->getControl()->name}" id="{$form[$name]->getControl()->id}">
    <!--<button class="fileRepeaterDelete" onclick="window[{$form[$name]->getControl()->id}].value = ''; return false" type="button">&times;</button>-->
    <!--<div class="file-input"></div>-->
  </div>
</div>
<div class="fileRepeaterHelp">Maximálni velikost souboru je 250 MB.</div>
<button class="fileRepeaterAdd" onclick="window['repeater'+{$form[$name]->getControl()->id}].add(); return false">Přidat soubor</button>
{$error}{$description}

<script>
window["repeater" + {$form[$name]->getControl()->id}] = {
  el: window[{$form[$name]->getControl()->id}],
  add: function () {
    var clone = this.el.cloneNode(true)
    console.log(this, clone)
    clone.id = ""
    var wrapper = document.createElement("div")
    wrapper.appendChild(clone)
    wrapper.className = "fileRepeaterItem"
    $(clone).inputfile()
    var deleteButton = document.createElement("button")
    deleteButton.innerHTML = "&times;"
    deleteButton.className = "fileRepeaterDelete"
    wrapper.appendChild(deleteButton)
    deleteButton.onclick = function () {
      wrapper.parentNode.removeChild(wrapper)
    }
    this.el.parentNode.parentNode.appendChild(wrapper)
  }
}
</script>
<style>
  .fileRepeaterDelete {
    position: absolute;
    top: 0;
    right: 8px;
    background: none;
    border: none;
    font-size: 37px;
  }
  .fileRepeaterAdd {
    background: #bcc767 no-repeat right center;
    text-transform: uppercase;
    padding: .75em 1.5em;
    display: block;
    color: white;
    border-radius: 3px;
    border-bottom: 3px solid #889236;
    box-shadow: 0 2px 1px -1px #cccccc;
    cursor: pointer;
    border-top: 0px solid #889236;
    transition: all 100ms ease-in-out;
    text-align: center;
    margin: -1.5em 0 2em;
  }
  .fileRepeaterHelp {
    transform: translateY(-1.8rem);
    font-size: .8rem;
    opacity: .5;
  }
  .fileRepeaterItem {
    margin-top: -1.5em;
    position: relative;
  }
</style>
