{*
 * This file is part of the Kdyby (http://www.kdyby.org)
 *
 * Copyright (c) 2008 Filip Procházka (filip@prochazka.su)
 *
 * For the full copyright and license information, please view the file license.md that was distributed with this source code.
 *}

{define #form}
{form $form}
{block #errors}

    <div n:foreach="$renderer->findErrors() as $error" class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>{$error}
    </div>
{/block}
{block #body}
    {* controls with group *}
    {foreach $renderer->findGroups() as $group}{block #group}

        <fieldset{$group->attrs->attributes()|noescape}>
            <legend n:if="$group->label">{$group->label}</legend>
            <p n:if="$group->description">{$group->description}</p>

            {var $controls = $group->controls}
            {if isset($group->template) && $group->template}
                {include "$group->template", group => $group, controls => $controls, form => $form, _form => $form, __form => $form}

            {else}
                {block #controls}
                    {foreach $controls as $control}
                        {var $attrs = ['input' => [], 'label' => []]}
                        {*if $renderer->isSubmitButton($control)}
                            {if $iterator->first}<div class="pure-u-1 pure-u-md-1-3">'|noescape}{/if}
                            {input $renderer->getControlName($control)}
                            {if !$renderer->isSubmitButton($iterator->nextValue)}</div>{/if}
                            {? continue}
                        {/if*}
                        {if $renderer->isGridRowStart($iterator)}
                            <div class="pure-u-1"><!--
                        {/if}
                        {block #control}
                            {var $pair = $control->getOption('pairContainer') ? ($control->getOption('pairContainer')->attributes) :
                                ('class="pure-u-1 pure-u-md-'.($control->getOption('gridSize') ? $control->getOption('gridSize') : 1).'-3"')}
                            --><div {$pair|noescape}>
                                {var
                                $name = $renderer->getControlName($control),
                                $description = $renderer->getControlDescription($control),
                                $error = $renderer->getControlError($control)
                                }

                                {if $controlTemplate = $renderer->getControlTemplate($control)}
                                    {include "$controlTemplate", name => $name, description => $description, error => $error, form => $form, _form => $form, __form => $form, attrs => $attrs}
                                {elseif $renderer->isRadioList($control) || $renderer->isCheckboxList($control)}
                                    {$renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}
                                    <div class="radios" n:inner-foreach="$control->getItems() as $key => $value">
                                        {$renderer::mergeAttrs($form[$name]->getControlPart($key), $attrs['input'])}
                                        {$renderer::mergeAttrs($form[$name]->getLabelPart($key), $attrs['label'])}
                                    </div>
                                {elseif $renderer->isCheckbox($control)}
                                    <div class="radios">
                                        {$renderer::mergeAttrs($form[$name]->getControlPart(), $attrs['input'])}
                                        {$renderer::mergeAttrs($form[$name]->getLabelPart(), $attrs['label'])}
                                    </div>
                                {else}

                                    {if $form[$name]->caption}{$renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}{/if}
                                    {$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}
                                    {$error}{$description}

                                {/if}
                            </div><!--
                        {/block}
                        {if $renderer->isGridRowStart($iterator, TRUE)}--></div>{/if}
                        {if $renderer->isSubmitButton($iterator->nextValue)}--></div><div class="pure-u-1"><!--{/if}
{/foreach}
                {/block}

            {/if}
        </fieldset>
    {/block}{/foreach}

    {* controls without group *}
    {include #controls, controls => $renderer->findControls()}
{/block}
{/form}
{/define}

{if !isset($mode)}
    {include #form, form => $form, renderer => $renderer}
{/if}