{var $containers = $form[$group->replicator]->containers}
{var $firstRow = TRUE}
    <div class="pure-u-1 form-group" n:foreach="$containers as $container"><!--
    {foreach $container->controls as $control}
    {var $attrs = ['input' => [], 'label' => []]}
    {var $pair = $control->getOption('pairContainer') ? ($control->getOption('pairContainer')->attributes) :
    ('class="pure-u-1 pure-u-md-'.($control->getOption('gridSize') ? $control->getOption('gridSize')*4 : 3).'-12"')}
        --><div {$pair|noescape}>
        {var
        $name = $renderer->getControlName($control),
        $description = $renderer->getControlDescription($control),
        $error = $renderer->getControlError($control)
        }

        {if $controlTemplate = $renderer->getControlTemplate($control)}
            {include "$controlTemplate", name => $name, description => $description, error => $error, form => $form, _form => $form, __form => $form, attrs => $attrs}
        {elseif $renderer->isRadioList($control)}
            {$renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}
            <div class="radios" n:inner-foreach="$control->getItems() as $key => $value">
                {$renderer::mergeAttrs($form[$name]->getControlPart($key), $attrs['input'])}
                {$renderer::mergeAttrs($form[$name]->getLabelPart($key), $attrs['label'])}
            </div>
        {else}
            {if $firstRow}{$renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}{/if}
            {$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}
            {$error}{$description}
        {/if}
    </div><!--
{/foreach}
-->{var $firstRow = FALSE}</div>
<div n:if="$form[$group->replicator.'-add']" class="pure-u-1">
    <div class="pure-u-1 pure-u-md-1-12">
    {$renderer::mergeAttrs($form[$group->replicator.'-add']->getControl(), $attrs['input'])}
    </div>
</div>