<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title n:inner-block="pageTitle">{ifset #title}{include #title|striptags|trim} | {/ifset}{$website->title}</title>
    <meta name="description" content="{block #description}{$website->description}{/block}">
    <meta name="copyright" content="{block #copyright}{$website->copyright}{/block}">
    <link rel="canonical" href="{plink //this}" />
    <link rel="alternate" href="{plink this, locale => cs}"  hreflang="cs"/>
    <link rel="alternate" href="{plink this, locale => en}"  hreflang="en"/>
    <link rel="alternate" href="{plink this, locale => ru}"  hreflang="ru"/>
    <link rel="alternate" href="{plink this, locale => vi}"  hreflang="vi"/>
    <meta property="og:title" content="{include #pageTitle}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{$website->title}">
    <meta property="og:url" content="{plink //this}">
    <meta property="og:image" content="{$baseUrl}/fbog.png">
    <meta property="og:description" content="{include #description}">
    <meta name="author" content="GoodShape.cz">
    <meta name="robots" content="{ifset $robots}{=is_int($robots) ? ($robots ? 'index,follow' : 'noindex,nofollow') : $robots}{else}index, follow{/ifset}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <script src="//use.typekit.net/suz7zow.js"></script>
    <script n:syntax="off">try{Typekit.load();}catch(e){}</script>
    
    {if !$useFullAssets}
        <link href="{$basePath}/webtemp/front.min.css{version}" rel="stylesheet">
    {else}
        <!-- build:css {$basePath}/webtemp/front.min.css -->
        <link rel="stylesheet" href="{$basePath}/webtemp/css/main.css">
        <!-- endbuild -->
    {/if}
    
    <style>
      body {
        background: #f8f8f8 !important;
      }
      .h1 {
        color: #ad4624 !important;
        font-weight: bold !important;
        font-size: 38px !important;
      }
    </style>
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="{$basePath}/webtemp/css/ie.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="{$basePath}/assets/js/matchmedia.js"></script>

    <![endif]-->
<!-- Begin Inspectlet Embed Code --><script n:syntax="off" type="text/plain" data-cookieconsent="statistics" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1736256459]);
        (function() {
                function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
                if (window.attachEvent){
                        window.attachEvent('onload', __ldinsp);
                }else{
                        window.addEventListener('load', __ldinsp, false);
                }
        })();</script><!-- End Inspectlet Embed Code -->
        <!-- Facebook Pixel Code -->
        <script n:syntax="off"  type="text/plain" data-cookieconsent="marketing">
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '427367574385411');
          fbq('track', 'PageView');
        </script>
        <!-- End Facebook Pixel Code -->
        
        <meta name="seznam-wmt" content="MAlO4BSJpBqcoE9wHzWYK8BFqcNyLkTS" />

        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="https://apis.google.com/js/platform.js" type="text/plain" data-cookieconsent="marketing"></script>
        
        <script n:syntax="off">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
          ga('create', 'UA-6149502-1', 'auto');
          ga('set', 'anonymizeIp', true);
          ga('send', 'pageview');
        </script>
        <!--<script async src="https://cookieflow.com/cookieflow.js" data-cookieflow="https://cookieflow.com/api/cookie-banner?domain=www.slavia-pojistovna.cz"></script>-->
       <script type="text/javascript"> 
    /* <![CDATA[ */ 
    var seznam_retargeting_id = 64479; 
    /* ]]> */ 
</script> 
<!-- Google Tag Manager -->
<script n:syntax="off">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PFDS6GR');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript"  src="//c.imedia.cz/js/retargeting.js"></script>  
</head> 
<body class="presenter-{$presenter->name|webalize} presenter-{$presenter->name.'-'.$presenter->action|webalize} locale-{$locale}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFDS6GR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="fb-root"></div>
<script type="text/plain" data-cookieconsent="marketing">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&appId=679588902088908&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--<header class="site-header master-padding" id="home">-->
<!--    <div class="menu-inner-wrap master-margin">-->
<!--        <h1 class="site-title"><a n:href="Default:default"><span class="site-logo">Slavia - Pojišťovna</span></a></h1>-->
<!--        <div class="czech-stamp"></div>-->
<!--    </div>-->


<!--</header>-->

{block #fullContent}

<section class="" style="margin: 0 auto; max-width: 1000px">
    <div class="">
        <article class="pure-u-1" style="padding: 2rem 1rem 4rem">
            <div n:if="count($flashes) && @$_GET['goal']">
              <script type="text/plain" data-cookieconsent="statistics">
                ga('send', 'event', "form", "sent", "success", {@$_GET['goal']});
              </script> 
            </div>

            {include #content}
            
            <div n:foreach="$flashes as $flash" class="flash flash-{$flash->type}" style="margin-top: 2rem">
              {$flash->message}
            </div>
        </article>
    </div>
</section>

{block #afterContent}{/block}

{/block}

<!--<footer class="site-footer" style="margin-top: 4rem">-->
<!--    <div class="master-padding donly">-->
<!--        <div class="master-margin">-->
<!--            <div class="space1em footer-copy">-->
<!--                <div class="pure-u-1 pure-u-md-1-2">-->
<!--                    {=date('Y')} &copy; Slavia pojišťovna a.s.-->
<!--                | <a href="#" style="color: inherit" onclick="CookieConsent.show(); return false">Nastavení cookies</a>-->
<!--                </div>-->
                <!--<div class="pure-u-1 pure-u-md-1-2 align-right">-->
<!--                    {_front.layout.createdBy} <a href="http://www.goodshape.cz/" target="_blank" class="gs-logo">GoodShape</a> {_front.layout.cms} <a href="http://www.anyshape.cz/" target="_blank" class="as-logo">AnyShape</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="master-padding monly">-->
<!--         <div class="foo-mobile-menu">-->
<!--            <div class="pure-u-1 pure-u-md-1-2">-->
<!--                {=date('Y')} &copy; Slavia pojišťovna a.s.-->
<!--                | <a href="#" style="color: inherit" onclick="CookieConsent.show(); return false">Nastavení cookies</a>-->
<!--            </div>-->
<!--            <div class="gs-branded">-->
<!--                {_front.layout.createdBy} <a href="http://www.goodshape.cz/" target="_blank" class="gs-logo"></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
{block contactCatcher}{/block}
{if !$useFullAssets}
    <script type="text/javascript" src="{$basePath}/webtemp/vendor.min.js"></script>
    <script type="text/javascript" src="{$basePath}/webtemp/front.min.js?v=1.23"></script>
{else}
    <!-- build:js {$basePath}/webtemp/vendor.min.js -->
    <script src="{$basePath}/assets/bower/jquery/dist/jquery.min.js"></script>
    <script src="{$basePath}/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="{$basePath}/assets/bower/nette-forms/src/assets/netteForms.js"></script>
    <!-- endbuild -->
    <!-- build:js {$basePath}/webtemp/front.min.js -->
    <script src="{$basePath}/assets/js/interactive-guide.js"></script>
    <script src="{$basePath}/assets/js/plugins.js"></script>
    <script src="{$basePath}/assets/js/map.js"></script>
    <script src="{$basePath}/assets/js/main.js"></script>
    <!-- endbuild -->
{/if}
<!--[if lte IE 9]>
<script src="{$basePath}/assets/js/ie.js"></script>
<![endif]-->

{block js}{/block}
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
{if \Nette\Environment::isProduction()}

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 959490096;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script src="//www.googleadservices.com/pagead/conversion.js" type="text/plain" data-cookieconsent="marketing">
</script>

<script type="text/javascript">
    /* <![CDATA[ */
    var seznam_retargeting_id = 21674;
    /* ]]> */
</script>
<script src="//c.imedia.cz/js/retargeting.js"  type="text/plain" data-cookieconsent="marketing"></script>
{/if}


<script n:syntax="off">
  if (window.parent) {
    window.parent.postMessage({scrollTo: 0}, "*")
    setInterval(function () {
      window.parent.postMessage({height: document.body.offsetHeight}, "*")
    }, 500)
  }
</script>

</body>
</html>
