{block #content}

    <h1 class="h1">{_front.report.krystof.title}</h1>

    <p>{_front.report.onlineWarning}</p>
    <p>{_front.report.complete} {_front.layout.fieldsRequired}</p>

    {control krystofForm}