{block #content}

    <h1 class="h1">{_front.report.liability.title}</h1>

    <p>{_front.report.onlineWarning}</p>
    <!-- p><strong>{_front.report.noAttachments}</strong></p -->
    <p>{_front.report.complete} {_front.layout.fieldsRequired}</p>

    {control form}