{block #content}
    <div class="logo-row">
        <div class="logo color-bg-1 p3 left rounded-bottom z3 relative">
            <img src="/assets/images/slavia-logo.svg" width="250" height="90" alt="Slavia pojišťovna">
        </div>
        
        <div class="cofee-logo">
            <img src="/assets/images/2coffee_logo_text.svg" width="250" height="90" alt="2coffe pojištění">
        </div>
    </div>
        
    <h1 class="h1">{_front.report.property.title}</h1>

    <p>{_front.report.onlineWarning}</p>
    <!-- p><strong>{_front.report.noAttachments}</strong></p -->
    <p>{_front.report.complete} {_front.layout.fieldsRequired}</p>

    {control form}