{block #content}

    <h1 class="h1">{_front.report.travel.title}</h1>
    <p>* povinný údaj</p>

   <!--  <p>{_front.report.onlineWarning}</p>
    <!-- p><strong>{_front.report.noAttachments}</strong></p -->
   <p>{_front.report.complete} {_front.layout.fieldsRequired}</p> -->

    {control travelReportForm}