<div n:foreach="$items as $item" class="news-item pure-u-1 pure-u-md-1-3">
    <div class="date">{$item->date|date:'d.n.Y'}</div>
    <h2 class="title"><a href="{plink News:detail, id=>$item->id}">{$item->title}</a></h2>
    <p>{$item->perex|truncate:150}</p>
</div>