<div class="side-info pure-u-md-4-12 pure-u-lg-3-12">

    <div class="bxsh">
        <div class="regbox poradce interactive-guide" n:ifLocale="quack">
            <a href="/cs/interaktivni-poradce/">Interaktivní poradce<span class="sublime">Pro sjednání autopojištění</span></a>
        </div>
        <div class="damage-claim" n:ifLocale="cs,en">
            <div class="dropdown-trigger">{_control.callBox.report.title}</div>
        </div>
        <div class="submit-damage" n:ifLocale="cs,en">
            <ul class="submit-dmg-list">
                {control reportMenu, 'in-item online-forms-list arrowed'}
            </ul>
        </div>
        <div class="regbox">
            <div class="infolinka">
                {_control.callBox.infoline}<br>
                {_control.callBox.days} - 08<sup>00</sup> - 18<sup>00</sup>
                <div class="special-number">255 790 111</div>
                {* <div style="color:#cf5b36;font-weight:bold">{_control.callBox.limited}</div>  *}
            </div>
        </div>
    </div>{*
    <div class="callback">
        <div class="label regbox">{_control.callBox.callYou|noescape}</div>

        {snippet form}
        <form n:name="callbackForm" class="cb">
            <input n:name="number" class="in-number" type="tel" placeholder="{_control.callBox.form.placeholder}"><!--
            --><input n:name="send" class="submit-number ajax" value=">">
        </form>
        {/snippet}
        
    </div>*}
    <a class="button full send" href="{plink Contact:form}">{_control.callBox.mail}</a>
</div>

<script n:if="$renderFlash && $flashes" type="text/javascript">
    {foreach $flashes as $flash}
        alert({_$flash->message});
    {/foreach}
</script>
