<div class="pure-u-1"><!--
    --><div class="pure-u-1 pure-u-md-1-2">
        <label n:name="$form['vehicle']">{_$form['vehicle']->caption}</label>
        <input n:name="$form['vehicle']">
    </div><!--
--><div class="pure-u-1 pure-u-md-1-2">
        <label n:name="$form['rz']">{_$form['rz']->caption}</label>
        <input n:name="$form['rz']">
    </div><!--
--></div>
<p class="large">{_seats.description}</p>
{foreach $form['seats']->containers as $container}
<div class="repeater-block">
    <strong>{_seats.person}{$iterator->getCounter()}</strong>
<div class="pure-u-1"><!--
    --><div class="pure-u-1 pure-u-md-7-12">
        <label n:name="$container['name']">{_$container['name']->caption}</label>
        <input n:name="$container['name']">
    </div><!--
--><div class="pure-u-1 pure-u-md-4-12">
        <label n:name="$container['pid']">{_$container['pid']->caption}</label>
        <input n:name="$container['pid']">
    </div><!--
    --><div class="pure-u-1 pure-u-md-1-12">
        <input n:name="$container['remove']">
    </div><!--
--></div>

<div class="pure-u-1"><!--
--><div class="pure-u-1 pure-u-md-8-12">
        <label n:name="$container['address']">{_$container['address']->caption}</label>
        <input n:name="$container['address']">
    </div><!--
--><div class="pure-u-1 pure-u-md-4-12">
        <label n:name="$container['postal']">{_$container['postal']->caption}</label>
        <input n:name="$container['postal']">
    </div><!--
--></div>

    <div class="pure-u-1"><!--
--><div class="pure-u-1 pure-u-md-6-12">
            <label n:name="$container['seat']">{_$container['seat']->caption}</label>
            <input n:name="$container['seat']">
        </div><!--
--><div class="pure-u-1 pure-u-md-6-12">
            <label n:name="$container['relation']">{_$container['relation']->caption}</label>
            <input n:name="$container['relation']">
        </div><!--
--></div>
</div>
{/foreach}
<div n:if="$form['seats-add']" class="pure-u-1">
    <div class="pure-u-1 pure-u-md-1-12">
        <input n:name=$form['seats-add']>
    </div>
</div>
