{define #nav-open-tag}
<nav class="top-nav menu-handler">
{/define}
    {define #nav-close-tag}</nav>{/define}

{define #submenu-open-tag}
    <ul class="submenu">
{/define}

{define #list-open-tag}
<li class="nav-item">
{/define}
