{define #nav-open-tag}{/define}
{define #nav-close-tag}{/define}

{define #menu-open-tag}<ul class="submenu">{/define}
{define #menu-close-tag}</ul>{/define}


{define #list-open-tag}
    <li>
{/define}
