{block #fullContent}
<section class="master-padding">
    <div class="master-margin">
      <article>
  <h1 class="h1" n:block="title" style="text-align:center;">Online platba</h1>
<iframe width="300" height="150" style="width: 100%; height: 80vh;" src="https://localhost.test.slavia-pojistovna.cz/online-payment/?lang={$locale}&{$_SERVER['QUERY_STRING']}" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin  allow-scripts"></iframe>
        </article>
</div>
</section>