{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Медицинское страхование иностранцев на случай необходимой и неотложной медицинской помощи</h1>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Зачем надо заключать медицинское страхование иностранцев?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
		<li>Эту обязанность всем иностранцам из государств, которые не являются членами ЕС, предусматривает § 5 закона № 326/1999 Св. зак. «О пребывании иностранцев на территории ЧР», в действующей редакции
		<li>Медицинское страхование иностранцев покрывает расходы на медицинскую помощь при внезапном заболевании или несчастном случае
		<li>Является необходимым условием для предоставления визы
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Почему заключать страхование иностранцев в страховой компании «Славия»?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
		<li>Потому что только она предоставляет страхование деловых и туристических поездок по низким ценам!
		<li>Ее медицинское страхование иностранцев признается Полицией по делам иностранцев ЧР и выполняет условия закона № 326/1999 Св. Зак., в действующей редакции
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Что включает в себя медицинское страхование иностранцев?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="fiftyfifty">
		<li>амбулаторное лечение
		<li>лечение в больнице
		<li>неотложное лечение зубов
		<li>репатриацию
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Онлайн страхование
со скидкой</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersRu_Step1.php" class="button abr simple">Страхование онлайн</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Больницы, оказывающие медицинскую помощь по договору страхования</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Клиенты могут в преимущественном порядке выбрать больницы (см. Актуальный список), которые выставляют счет за расходы по необходимой и неотложной медицинской помощи в объеме условий страхования непосредственно страховой компании «Славия». Клиенты, таким образом, не должны оплачивать расходы и в последствии требовать страховое возмещение от страховой компании.</p>
		<p>Клиенты могут в преимущественном порядке выбрать больницы (см. Актуальный список), которые выставляют счет за расходы по необходимой и неотложной медицинской помощи в объеме условий страхования непосредственно страховой компании «Славия». Клиенты, таким образом, не должны оплачивать расходы и в-последствии требовать страховое возмещение от страховой компании.</p>
		<p><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersRu_Step1.php">Онлайн медицинское страхование иностранцев на случай скорой и безотлагательной медицинской помощи</a></p>
		<p><a href="{$basePath}/ru/seznam-smluvnich-nemocnic-kzpc-rusky/">Список больниц, оказывающих медицинскую помощь по договору страхования / медицинское страхование иностранцев</a></p>

	</div>
</div>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Публичное обещание возместить расходы по медицинской помощи, оказанной иностранцам, застрахованным в страховой компании «Славия».</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>Страховая компания «Славия» страхует иностранцев на случай получения необходимой и неотложной медицинской помощи на территории Чешской Республики. Медицинское страхование иностранцев Страховой компанией «Славия» признается учреждениями ЧР, включая Полицию. Страхование выполняет условия закона № 326/1999 Cв. Зак. «О пребывании иностранцев на территории ЧР», в действующей редакции.</p>
		<p>Наши застрахованные в целях идентификации при оказании необходимой и неотложной медицинской помощи имеют «Карту застрахованного», которой иностранец подтверждает, что заключил медицинское страхование иностранцев в страховой компании «Славия».</p>
		<p>АО «Страховая компания «Славия»» обязуется заплатить медицинскому учреждению в ЧР за застрахованного в объеме, установленном страховым договором и общими условиями страхования, расходы на необходимое и неотложное амбулаторное и стационарное медицинское обслуживание, предоставленное застрахованному, а именно по ценам, действительным для выставления счета за медицинское обслуживание в системе медицинского страхования в ЧР.</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Проверка действия страхования.</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p><br>В случае необходимости проверки участия иностранца, которому оказывается помощь, в данном коммерческом медицинском страховании иностранцев можно обратиться в страховую компанию «Славия» в рабочие дни с 08.00 до 16.00 часов по телефонному номеру <strong>+420 255 790 111</strong> или посредством электронной почты <a href="mailto:info@slavia-pojistovna.cz">info@slavia-pojistovna.cz</a>, если в «Карте застрахованного» не указано иначе.<br><br>В нерабочее время действие страхования можно проверить посредством ассистентской службы Eurocross по телефонному номеру <strong>+420 296 339 679</strong>.

	</div>
</div>

<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Вложения</div>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/NPZC_seznam_nemocnic_14-03-2013_3.pdf">СПИСОК БОЛЬНИЦ: Медицинское страхование иностранцев на случай необходимой и неотложной медицинской помощи - NZPC (k 1. 3. 2013)</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/VPP_NZPC_07_2012_4.pdf">Общие условия страхования для медицинского страхования иностранцев в случае необходимого и неотложного медицинского обслуживания - VPP NZPC 07/2012</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/VPP-NZPC-2011_3.pdf">Общие условия страхования для медицинского страхования иностранцев в случае необходимого и неотложного медицинского обслуживания - VPP NZPC 01/2011</a>
</span>
</div>
