{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Комплексное медицинское страхование</h1>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Зачем заключать комплексное медицинское страхование?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Объем страхования аналогичен общему медицинскому страхованию в ЧР, однако, ограничен установленными лимитами страхового возмещения.</li>
			<li>Данный тип страхования могут использовать дети и взрослые беременные женщины, или женщины, планирующие беременность. Далее предназначено для профессиональных спортсменов и всех взрослых лиц, которые желают больший объем страхования по сравнению с тем, который предоставляет медицинское страхование иностранцев на случай необходимой и неотложной помощи.</li>
			<li>Комплексное медицинское страхование иностранцев соответствует требованиям закона № 326/1999 Св. Зак., «О пребывании иностранцев на территории Чешской Республики», в действующей редакции, и превышает обязательные рамки соответствующего страхования.</li>
		</ul>
	</div>
</div>
<hr>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Почему заключать комплексное страхование иностранцев в страховой компании «Славия»?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Широкий объем медицинского обслуживания
			<li>Высокие лимиты страхового возмещения
			<li>Возможность застраховать ребенка сразу после рождения
			<li>Застрахована не только необходимая и неотложная медицинская помощь, но также последующее и плановое медицинское обслуживание
			<li>Комплексное медицинское страхование иностранцев выполняет условия закона № 326/1999 Св. Зак., в действующей редакции, и признается Полицией по делам иностранцев ЧР.
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Онлайн страхование
со скидкой</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersRu_Step1.php" class="button abr simple">Страхование онлайн</a>
	</div>
</div>
<hr>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Что включает в себя медицинское страхование иностранцев?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Для детей до 15 лет: профилактические и контрольные медосмотры и прививки в объеме, стандартно предоставляемом на территории ЧР лицам, имеющим общее медицинское страхование в ЧР; лечение диабета.
			<li>Медицинское обслуживание в течение беременности и родов
			<li>Возможность застраховать послеродовое медицинское обслуживание новорожденного у застрахованной женщины (и в последствии застраховать каждого новорожденного)
			<li>Плановое медицинское обслуживание
			<li>Стоматология – необходимая и неотложная помощь
			<li>Стационарное лечение и диагностика
			<li>Посттравматическая и послеоперационная реабилитация
			<li>Репатриация
		</ul>
	</div>
</div>
<hr>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Больницы, оказывающие медицинскую помощь по договору страхования</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
	<p>Клиенты могут в преимущественном порядке выбрать больницы (см. Актуальный список), которые выставляют счет за расходы по необходимой и неотложной медицинской помощи в объеме условий страхования непосредственно страховой компании «Славия». Клиенты, таким образом, не должны оплачивать расходы и в-последствии требовать страховое возмещение от страховой компании.</p>
		<p><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_ForeignersRu_Step1.php">Онлайн медицинское страхование иностранцев на случай скорой и безотлагательной медицинской помощи</a></p>
		<p><a href="{$basePath}/ru/seznam-smluvnich-nemocnic-kzpc-rusky/">Список больниц, оказывающих медицинскую помощь по договору страхования / медицинское страхование иностранцев</a></p>
	</div>
</div>
<hr>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Ассистентская служба</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>В случае необходимости клиент может обратиться за помощью по телефону номер +420 296 339 679 или по факсу +420 296 339 630. Ассистентская служба предоставлена к услугам клиентов 365 дней в году и 24 часа в сутки. Операторы телефонного центра ассистентской службы говорят по-чешски, по-словацки, по-английски, по-немецки, по-французски, по-испански, по-русски, по-украински и по-вьетнамски. Они помогут клиентам найти ближайшее медицинское учреждение, сотрудничающее с нашей страховой компании по договору, в случае каких-либо языковых проблем при коммуникации, или организуют репатриацию.</p>
		<p>Публичное обещание возместить расходы по медицинской помощи, оказанной иностранцам, застрахованным в страховой компании «Славия».</p>
		<p>Страховая компания «Славия» страхует иностранцев на случай получения комплексной медицинской помощи на территории Чешской Республики. Медицинское страхование иностранцев Страховой компанией «Славия» признается учреждениями ЧР, включая Полицию. Страхование выполняет условия закона № 326/1999 Cв. Зак. «О пребывании иностранцев на территории ЧР», в действующей редакции.</p>
		<p>Наши застрахованные в целях идентификации при оказании комплексной медицинской помощи имеют «Карту застрахованного», которой иностранец подтверждает, что заключил медицинское страхование иностранцев в страховой компании «Славия».</p>
		<p>АО «Страховая компания «Славия»» обязуется заплатить медицинскому учреждению на территории стран Шенгенского соглашения, включая ЧР, расходы за необходимое и неотложное медицинское обслуживание, оказанное застрахованному в случае его внезапного заболевания или травмы, в объеме, установленном страховым договором и условиями страхования, являющимися его составной частью. Далее АО «Страховая компания «Славия»» обязуется заплатить в случае преждевременных родов застрахованной в медицинском учреждении в ЧР расходы на родовспомогательную медицинскую помощь застрахованной, если заключено страхование типа МАМА И РЕБЕНОК, а также за послеродовой уход за ее новорожденным. Еесли заключено страхование типа ЖЕНЩИНА и роды наступили после истечения срока ожидания, указанного в условиях страхования, то по страхованию оплачивается родовспомогательная помощь. Данное обещание распространяется на оплату расходов на медицинскую помощь, предоставленную застрахованному лицу, или же новорожденному застрахованной женщины, максимально по ценам, действительным в системе общего медицинского страхования в ЧР.</p>
	</div>
</div>
<hr>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Проверка действия страхования</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>В случае необходимости проверки участия иностранца, которому оказывается помощь, в данном коммерческом медицинском страховании иностранцев можно обратиться в страховую компанию «Славия» в рабочие дни с 08.00 до 16.00 часов по телефонному номеру <strong>+420 255 790 111</strong> или посредством электронной почты <a href="mailto:provoz@slavia-pojistovna.cz"></a><a href="mailto:info@slavia-pojistovna.cz">info@slavia-pojistovna.cz</a>, если в «Карте застрахованного» не указано иначе.<br><br>В нерабочее время действие страхования можно проверить посредством ассистентской службы Eurocross по телефонному номеру <strong>+420 296 339 679</strong>.</p>
	</div>
</div>
<hr>
<div class="file-attachments">
<div class="upper w300 large c-brick">Вложения</div>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/KPZC_seznam_nemocnic_01-03-2013_2.pdf">СПИСОК БОЛЬНИЦ: Комплексное медицинское страхование - KZPC (k 1. 3. 2013)</a>
</span>
<span class="pure-u-1 pure-u-md-1">
    <a class="full" target="_blank" href="http://www.slavia-pojistovna.cz/m/upload/VPP_KPZC_RU_2012_new.pdf">Общие условия страхования комплексного медицинского страхования иностранцев - VPP KZPC RU 01/2012</a>
</span>
</div>