@charset "utf-8";
.bggrad {
  background: #f5f5f5;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.0+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #cf5b36 200px, #f5f5f5 550px);
  /* W3C */
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}
.acenter {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.master-margin {
  margin-right: 2em;
  margin-left: 2em;
  position: relative;
}
.donly {
  display: none;
}
.pseudoels {
  display: table;
  position: absolute;
  content: '';
}
.regbox {
  background: white;
  padding: 1em 1.5em;
  border-bottom: 1px solid #d8d3cc;
}
.justbox {
  background: white;
  border-bottom: 1px solid #d8d3cc;
}
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
article ul {
  padding-left: 0;
}
@media screen and (min-width: 48em) {
  article ul.fiftyfifty li {
    width: 50%;
    float: left;
  }
  article ul.fiftyfifty li:nth-child(2n+3) {
    clear: left;
  }
}
article ul li {
  padding-bottom: 1em;
  position: relative;
  padding-left: 1.5em;
}
article ul li:before {
  display: table;
  content: '';
  top: .65em;
  width: 9px;
  height: 3px;
  background: #bcc767;
  position: absolute;
  left: 0;
}
ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */
}
ol > li {
  position: relative;
  /* Create a positioning context */
  margin: 0 0 6px 1em;
  /* Give each list item a left margin to make room for the numbers */
  padding: 4px 8px;
  /* Add some spacing around the content */
  list-style: none;
  /* Disable the normal item numbering */
}
ol > li:before {
  content: counter(li);
  /* Use the counter as content */
  counter-increment: li;
  /* Increment the counter by 1 */
  color: #bcc767;
  font-weight: 300;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: "myriad-pro", sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a {
  text-decoration: none;
  color: #cf5b36;
}
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  text-decoration: underline;
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.highlight,
legend {
  clear: both;
  font-family: "myriad-pro", sans-serif;
  font-weight: 300;
  line-height: 1.1em;
  margin-bottom: 1em;
}
h1,
.h1,
.home-h1 {
  font-size: 1.5em;
  margin: 0.67em 0;
}
h2,
.h2,
.highlight,
legend {
  font-size: 1.3em;
  margin: 0.83em 0;
}
h3,
.h3 {
  font-size: 1.1em;
  margin: 1em 0;
  font-weight: 400;
}
h4,
.h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5,
.h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6,
.h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: 400;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.25em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu {
  padding: 0 0 0 1.5em;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
ol {
  counter-reset: item;
}
ol li {
  position: relative;
  display: block;
}
ol li:before {
  position: absolute;
  left: -1em;
  top: .3em;
  font-weight: 600;
  content: counter(item) ". ";
  counter-increment: item;
  color: #bcc767;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
img,
iframe {
  max-width: 100%;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
tr:hover td {
  background-color: #d97d5f;
  color: white;
}
tr:nth-child(odd) {
  background-color: #e5e5e5;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
td {
  vertical-align: middle;
  border: none;
  border-width: 0;
  text-align: left;
  padding: 7px;
  font-size: .8em;
  font-weight: normal;
  color: #000000;
}
tr:last-child td {
  border-width: 0;
}
tr td:last-child {
  border-width: 0;
}
tr:last-child td:last-child {
  border-width: 0;
}
thead tr th {
  background: #cf5b36;
  color: #ffffff;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #cf5b36;
  text-align: left;
  border-width: 0;
  font-size: 1em;
  font-weight: 400;
}
thead th:first-child {
  border-width: 0;
}
thead th:last-child {
  border-width: 0;
}
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #454545;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
body {
  background: #f5f5f5;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.0+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #cf5b36 200px, #f5f5f5 550px);
  /* W3C */
}
p strong {
  font-weight: 400;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #cf5b36;
  text-shadow: none;
  color: #ffe5dc;
}
::selection {
  background: #cf5b36;
  text-shadow: none;
  color: #ffe5dc;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d8d3cc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
article .h1 {
  color: white;
}
.fleft {
  float: left;
}
.c-brick {
  color: #cf5b36;
}
.c-white {
  color: #ffe5dc;
}
.c-dark-brick {
  color: #aa4828;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w600 {
  font-weight: 600;
}
.w800 {
  font-weight: 800;
}
.large {
  font-size: 1.5em;
}
.c-shade {
  color: #929292;
}
.small {
  font-size: .8em;
}
.upper {
  text-transform: uppercase;
}
.space1em {
  padding-top: 1em;
  padding-bottom: 1em;
}
.space2em {
  padding-top: 2em;
  padding-bottom: 2em;
}
.space05em {
  padding-top: .5em;
  padding-bottom: .5em;
}
.spacetop1em {
  padding-top: 1em;
}
.spacetop2em {
  padding-top: 2em;
}
.mtop1 {
  margin-top: 1em;
}
.highlight {
  line-height: 1.5em;
}
.fb-like-box {
  margin-top: 1.5em;
}
.perex {
  font-size: 1.2em;
  line-height: 1.35em;
}
.secspace,
.article-sec {
  margin-top: 2em;
  margin-bottom: 2em;
}
.spaced .pure-u-md-1-3,
.spaced .pure-u-lg-1-3,
.spaced .pure-u-md-1-2 {
  padding-right: 2%;
}
.spaced .pure-u-md-1-3:nth-child(3n+3),
.spaced .pure-u-lg-1-3:nth-child(3n+3),
.spaced .pure-u-md-1-2:nth-child(3n+3),
.spaced .pure-u-md-1-3:last-child,
.spaced .pure-u-lg-1-3:last-child,
.spaced .pure-u-md-1-2:last-child {
  padding-right: 0;
}
.rel {
  position: relative;
}
.abr,
.regbox .button.abr {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.full-w {
  width: 100%!important;
}
.lh2em {
  line-height: 2em;
}
.arrowed::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #787878;
  position: absolute;
  display: block;
  right: 1em;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
body .gsc-control-cse {
  font-family: "myriad-pro", sans-serif;
  background: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
body .gsc-control-cse .gsc-selected-option-container {
  min-width: 100%;
  max-width: inherit;
  width: auto!important;
}
body .gsc-control-cse .gsc-option-menu-container {
  width: 100px;
}
body .gsc-control-cse .gsc-clear-button {
  display: none;
}
body table.gsc-search-box td {
  vertical-align: top;
}
body .cse input.gsc-input,
body input.gsc-input {
  padding-top: .9em;
  padding-bottom: .9em;
  width: 100%;
}
body .cse table.gsc-search-box td.gsc-input,
body table.gsc-search-box td.gsc-input {
  padding: 0;
}
body .gsc-search-button {
  padding: 0;
  margin-top: .5em;
  width: 100px;
}
body .gsc-search-button input {
  font-size: 14px;
  background: #bcc767 no-repeat right center;
  text-transform: uppercase;
  padding: .75em 1.5em;
  display: block;
  color: white;
  border-radius: 3px;
  border-bottom: 3px solid #889236;
  box-shadow: 0 2px 1px -1px #cccccc;
  display: inline-block;
  cursor: pointer;
  border-top: 0px solid #889236;
  transition: all 100ms ease-in-out;
  border-left: none;
  border-right: none;
  border-radius: 0;
  font-weight: 300;
  height: 3em;
  box-shadow: none;
}
body .gsc-search-button input .sublime {
  display: block;
  text-transform: none;
  font-weight: 300;
}
body .gsc-search-button input.simple {
  border-radius: 0;
  min-width: 250px;
  max-width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  position: relative;
}
.regbox body .gsc-search-button input.simple {
  padding-top: 1.5em;
}
body .gsc-search-button input.simple::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #dde2b2;
  position: absolute;
  display: block;
  right: 1em;
}
body .gsc-search-button input:hover {
  background-color: #ccd58c;
  text-decoration: none;
}
body .gsc-search-button input:active,
body .gsc-search-button input:focus,
body .gsc-search-button input.current {
  border-bottom: 0px solid #889236;
  border-top: 3px solid #889236;
  background-color: #aab744;
}
body .gsc-search-button input.send {
  padding: 1em 2em;
  background-image: url("/assets/images/mail.png");
  background-size: contain;
}
body .gsc-above-wrapper-area td {
  background: white;
}
body .gcsc-branding-text {
  cursor-events: none;
  background: white;
  color: #cf5b36;
}
body .gcsc-branding-text:hover {
  color: #cf5b36;
  background: white;
}
body .gcsc-branding-text:hover a {
  color: #cf5b36;
}
body .gsc-resultsHeader td {
  background: white;
}
.gsc-control-wrapper-cse .gsc-input,
.gsc-control-wrapper-cse tr {
  background: transparent;
}
.gsc-control-wrapper-cse .gsc-input:hover,
.gsc-control-wrapper-cse tr:hover,
.gsc-control-wrapper-cse .gsc-input:hover td,
.gsc-control-wrapper-cse tr:hover td {
  background: transparent;
}
.gs-webResult.gs-result .gsc-table-cell-snippet-close {
  background: white;
}
.gs-webResult.gs-result .gsc-table-cell-snippet-close:hover {
  background: white;
}
.gs-webResult.gs-result .gsc-table-cell-snippet-close a.gs-title:hover {
  color: #aa4828;
}
.button {
  background: #bcc767 no-repeat right center;
  text-transform: uppercase;
  padding: .75em 1.5em;
  display: block;
  color: white;
  border-radius: 3px;
  border-bottom: 3px solid #889236;
  box-shadow: 0 2px 1px -1px #cccccc;
  display: inline-block;
  cursor: pointer;
  border-top: 0px solid #889236;
  transition: all 100ms ease-in-out;
}
.button .sublime {
  display: block;
  text-transform: none;
  font-weight: 300;
}
.button.simple {
  border-radius: 0;
  min-width: 250px;
  max-width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  position: relative;
}
.regbox .button.simple {
  padding-top: 1.5em;
}
.button.simple::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #dde2b2;
  position: absolute;
  display: block;
  right: 1em;
}
.button:hover {
  background-color: #ccd58c;
  text-decoration: none;
}
.button:active,
.button:focus,
.button.current {
  border-bottom: 0px solid #889236;
  border-top: 3px solid #889236;
  background-color: #aab744;
}
.button.send {
  padding: 1em 2em;
  background-image: url("/assets/images/mail.png");
  background-size: contain;
}
.button.disabled {
  background: #454545 no-repeat right center;
  text-transform: uppercase;
  padding: .75em 1.5em;
  display: block;
  color: white;
  border-radius: 3px;
  border-bottom: 3px solid #121212;
  box-shadow: 0 2px 1px -1px #cccccc;
  display: inline-block;
  cursor: pointer;
  border-top: 0px solid #121212;
  transition: all 100ms ease-in-out;
  color: #787878;
}
.button.disabled .sublime {
  display: block;
  text-transform: none;
  font-weight: 300;
}
.button.disabled.simple {
  border-radius: 0;
  min-width: 250px;
  max-width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  position: relative;
}
.regbox .button.disabled.simple {
  padding-top: 1.5em;
}
.button.disabled.simple::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #787878;
  position: absolute;
  display: block;
  right: 1em;
}
.button.disabled:hover {
  background-color: #5f5f5f;
  text-decoration: none;
}
.button.disabled:active,
.button.disabled:focus,
.button.disabled.current {
  border-bottom: 0px solid #121212;
  border-top: 3px solid #121212;
  background-color: #2b2b2b;
}
.button.disabled.send {
  padding: 1em 2em;
  background-image: url("/assets/images/mail.png");
  background-size: contain;
}
@media (max-width: 600px) {
  article .regbox {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    text-indent: 1.5em;
  }
  article .regbox .button.abr {
    text-indent: 0;
    position: relative;
    width: 100%;
  }
}
.paginator .button {
  vertical-align: bottom;
}
.vice-wrap {
  text-align: center;
}
.rel {
  position: relative;
}
.vice {
  background: url("/assets/images/plus.png") no-repeat left center;
  padding-left: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2em;
  display: inline-block;
}
.full {
  width: 100%;
  display: block;
}
.file-attachments a {
  transition: all 500ms ease-in-out;
  color: #454545;
  display: inline-block;
  padding: 1em 4em 1em 1em;
  background: #ffffff url("/assets/images/file.png") no-repeat 95% center;
  border-right: 2px solid #ffffff;
  margin-top: .5em;
  margin-bottom: .5em;
}
.file-attachments a:hover {
  border-right: 2px solid #cf5b36;
  text-decoration: none;
}
label {
  text-transform: uppercase;
  color: #929292;
  font-weight: 600;
  margin: 2em 0 0;
  display: inline-block;
}
label:after {
  display: table;
  position: absolute;
  content: '';
  display: inline;
  content: ":";
}
label.required:after {
  display: table;
  position: absolute;
  content: '';
  display: inline;
  content: ": *";
}
.radios label:after {
  content: '';
}
input,
textarea,
select {
  margin: .5em 0 0;
  color: #cf5b36;
  padding: 1em;
  border: none;
  font-weight: 300;
  width: 90%;
  box-sizing: border-box;
  display: block;
}
select {
  min-height: 3em;
  height: 3.25em;
  line-height: 1;
  background: #ffffff;
  border-radius: 0;
}
textarea {
  height: 200px;
}
input[type="submit"] {
  background: #cf5b36 no-repeat right center;
  text-transform: uppercase;
  padding: .75em 1.5em;
  display: block;
  color: white;
  border-radius: 3px;
  border-bottom: 3px solid #80361f;
  box-shadow: 0 2px 1px -1px #cccccc;
  display: inline-block;
  cursor: pointer;
  border-top: 0px solid #80361f;
  transition: all 100ms ease-in-out;
  text-align: left;
  border-bottom-color: #cf5b36;
  background-image: url(/assets/images/arrow-submit.png);
  background-position: right center;
}
input[type="submit"] .sublime {
  display: block;
  text-transform: none;
  font-weight: 300;
}
input[type="submit"].simple {
  border-radius: 0;
  min-width: 250px;
  max-width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  position: relative;
}
.regbox input[type="submit"].simple {
  padding-top: 1.5em;
}
input[type="submit"].simple::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #e39e88;
  position: absolute;
  display: block;
  right: 1em;
}
input[type="submit"]:hover {
  background-color: #d97d5f;
  text-decoration: none;
}
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"].current {
  border-bottom: 0px solid #80361f;
  border-top: 3px solid #80361f;
  background-color: #aa4828;
}
input[type="submit"].send {
  padding: 1em 2em;
  background-image: url("/assets/images/mail.png");
  background-size: contain;
}
input[type="submit"].replicator-remove,
input[type="submit"].replicator-add {
  background-image: none;
  margin-top: 0;
  height: 3.2em;
}
input[type="submit"].replicator-remove.disabled,
input[type="submit"].replicator-add.disabled {
  background: #5f5f5f;
  color: #787878;
  border-color: #525252;
}
input[type="submit"].replicator-remove {
  border-radius: 0 3px 3px 0;
}
input[type="submit"].replicator-add {
  background: #bcc767 no-repeat right center;
  text-transform: uppercase;
  padding: .75em 1.5em;
  display: block;
  color: white;
  border-radius: 3px;
  border-bottom: 3px solid #889236;
  box-shadow: 0 2px 1px -1px #cccccc;
  display: inline-block;
  cursor: pointer;
  border-top: 0px solid #889236;
  transition: all 100ms ease-in-out;
  text-align: center;
  padding: 0;
  margin-top: .5em;
  margin-bottom: 1em;
}
input[type="submit"].replicator-add .sublime {
  display: block;
  text-transform: none;
  font-weight: 300;
}
input[type="submit"].replicator-add.simple {
  border-radius: 0;
  min-width: 250px;
  max-width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  position: relative;
}
.regbox input[type="submit"].replicator-add.simple {
  padding-top: 1.5em;
}
input[type="submit"].replicator-add.simple::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #dde2b2;
  position: absolute;
  display: block;
  right: 1em;
}
input[type="submit"].replicator-add:hover {
  background-color: #ccd58c;
  text-decoration: none;
}
input[type="submit"].replicator-add:active,
input[type="submit"].replicator-add:focus,
input[type="submit"].replicator-add.current {
  border-bottom: 0px solid #889236;
  border-top: 3px solid #889236;
  background-color: #aab744;
}
input[type="submit"].replicator-add.send {
  padding: 1em 2em;
  background-image: url("/assets/images/mail.png");
  background-size: contain;
}
.pure-u-1 > .pure-u-1:last-child input,
.pure-u-1 > .pure-u-1:last-child textarea {
  width: 100%;
}
legend {
  margin-top: 0;
  padding-top: 1em;
  font-size: 2em;
}
input[type="file"] {
  display: none;
}
.repeater-block {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #d8d3cc;
}
.repeater-block > strong {
  font-size: 1.3em;
  font-weight: 300;
  color: #cf5b36;
}
.file-input {
  background: white;
  border-radius: 3px;
  display: block;
  position: relative;
  height: 3.2em;
  font-weight: 300;
  margin: .5em 0 2em;
  padding: 1em 0 1em 1em;
  cursor: pointer;
  overflow: hidden;
  color: #cf5b36;
  width: 90%;
}
.file-input:before {
  display: table;
  content: '';
  display: block;
  content: 'Vybrat soubor';
  color: white;
  height: 100%;
  right: 0;
  top: 0;
  width: 3em;
  line-height: 1;
  border-radius: 3px;
  line-height: 3em;
  padding-left: 160px;
  text-indent: -145px;
  position: absolute;
  background: #929292 url(/assets/images/fileup.png) no-repeat 100% center;
  -webkit-transform: translate3D(0);
      -ms-transform: translate3D(0);
          transform: translate3D(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1000ms ease-in-out;
}
.locale-en .file-input:before {
  content: 'Select File';
}
.locale-vi .file-input:before {
  content: 'chọn tập tin';
}
.locale-ru .file-input:before {
  content: 'выберите файл';
}
.file-input.changed:before {
  content: "";
  padding-left: 50px;
  background-color: #cf5b36;
  -webkit-transform: translate3D(0);
      -ms-transform: translate3D(0);
          transform: translate3D(0);
}
.form-group input {
  width: 99%;
}
.radios {
  padding-top: .4em;
}
.radios input[type="radio"] {
  display: none;
}
.radios input[type="radio"]:checked + label:before {
  display: table;
  position: absolute;
  content: '';
  background: #cf5b36;
}
.radios input[type="checkbox"] {
  display: none;
}
.radios input[type="checkbox"]:checked + label:after {
  display: table;
  content: '';
  content: 'x';
  position: absolute;
  left: 4px;
  font-weight: 800;
  text-transform: none;
  top: 1px;
  color: #ffffff;
}
.radios input[type="radio"] + label {
  position: relative;
  display: block;
  margin: 0;
  padding: .2em .5em .2em 1.5em;
  font-weight: 300;
  color: #454545;
}
.radios input[type="radio"] + label:before {
  display: table;
  content: '';
  top: 7px;
  position: absolute;
  width: 1em;
  left: 0;
  height: 1em;
  border-radius: 100%;
  background: #b3b3b3;
}
.radios input[type="checkbox"] + label {
  position: relative;
  display: block;
  margin: 0;
  padding: .2em .5em .2em 1.5em;
  font-weight: 300;
  color: #454545;
}
.radios input[type="checkbox"] + label:before {
  display: table;
  content: '';
  top: 7px;
  position: absolute;
  width: 1em;
  left: 0;
  height: 1em;
  border-radius: 0;
  background: #b3b3b3;
}
/* Header */
.site-logo {
  background: url('/assets/images/slavia-logo-white.png') no-repeat top left;
  display: block;
  width: 195px;
  height: 62px;
  position: relative;
  text-indent: -99999px;
  background-size: contain;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 140dpi) {
  .site-logo {
    background-image: url('/assets/images/slavia-logo-white@2.png');
  }
}
@media (max-width: 999px) {
  .site-logo {
    max-width: 50%;
  }
}
.site-title {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.navs-wrap {
  position: relative;
  top: -1em;
  background: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .85em;
}
.navs-wrap .subin {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d8d3cc;
}
.navs-wrap,
.navs-wrap a {
  color: #454545;
}
.navs-wrap li {
  max-height: 0;
  overflow: hidden;
}
.navs-wrap a {
  transition: all 500ms ease-in-out;
  opacity: 0;
  display: block;
  overflow: hidden;
  max-height: 0;
  padding-left: 2em;
}
.navs-wrap .navigation-back {
  width: 100%;
  background: #cf5b36;
  color: #ffffff;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  display: none;
}
.open .navs-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  height: 100%;
  overflow-y: scroll;
}
.open .navs-wrap .navigation-back {
  display: block;
}
.open .navs-wrap .slide-menu-hold {
  padding-top: 50px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.open .navs-wrap .menu-slider {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible;
}
.open .navs-wrap .submenu-listener {
  position: relative;
  display: block;
  padding-right: 2em;
}
.open .navs-wrap .submenu-listener::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #787878;
  position: absolute;
  display: block;
  right: 1em;
}
.open .navs-wrap li {
  max-height: 8em;
  overflow: visible;
}
.open .navs-wrap a {
  opacity: 1;
  border-bottom: 1px solid #d8d3cc;
  padding-top: 1em;
  padding-bottom: 1em;
  max-height: 8em;
}
.open .navs-wrap .submenu,
.open .navs-wrap .menuhold,
.open .navs-wrap .current .subin .submenu {
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.open .navs-wrap .current .subin.current-level-2 .submenu {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.open .navs-wrap .current .submenu,
.open .navs-wrap .current .menuhold {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.navs-wrap ul ul a {
  background: #f6f5f3;
  padding-left: 2em;
  padding-right: 1em;
}
.navs-wrap ul,
.navs-wrap li {
  margin: 0;
  padding: 0;
}
@media (max-width: 999px) {
  .navs-wrap li:hover {
    background: #f6f5f3;
    cursor: pointer;
  }
  .open .navs-wrap a {
    background: transparent;
  }
  .open .navs-wrap a:hover {
    text-decoration: none;
  }
}
.hamburger {
  color: white;
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 1em;
  height: 70px;
  width: 50px;
  position: absolute;
  top: -70px;
  right: 0;
}
@media (max-width: 999px) {
  .hamburger.monly {
    display: block;
  }
}
.hamburger .icon {
  display: block;
  position: relative;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
}
.hamburger .icon,
.hamburger .icon:after,
.hamburger .icon:before {
  transition: all 500ms ease-in-out;
  content: '';
  width: 38px;
  height: 4px;
  background: #ffffff;
  -webkit-transform-origin: 16px 2px;
      -ms-transform-origin: 16px 2px;
          transform-origin: 16px 2px;
}
.hamburger .icon:after,
.hamburger .icon:before {
  display: block;
}
.hamburger .icon:before {
  -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
          transform: translateY(9px);
}
.hamburger .icon:after {
  -webkit-transform: translateY(-14px);
      -ms-transform: translateY(-14px);
          transform: translateY(-14px);
}
.open .hamburger {
  top: 0;
  height: 50px;
  background: transparent;
}
.open .hamburger .icon {
  background: transparent;
}
.open .hamburger .icon:after,
.open .hamburger .icon:before {
  display: block;
}
.open .hamburger .icon:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.open .hamburger .icon:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.gs-tabs {
  position: relative;
  overflow: hidden;
}
.gs-tabs ul,
.gs-tabs li {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .gs-tabs .gs-tabnav {
    width: 98%;
  }
}
@media (min-width: 25.5em) {
  .presenter-default-default .gs-tabs .gs-tabnav ul {
    display: table;
    width: 100%;
  }
  .presenter-default-default .gs-tabs .gs-tabnav li {
    display: table-cell;
    vertical-align: middle;
  }
}
.gs-tabs .tab-nav {
  z-index: 99;
  position: relative;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  text-align: center;
  padding-top: 1em;
  padding-left: .3em;
  padding-right: .3em;
  padding-bottom: 1em;
  text-transform: uppercase;
  color: #ffe5dc;
  font-weight: 600;
  letter-spacing: 4px;
  border-bottom: 1px solid transparent;
}
.gs-tabs .tab-nav.open,
.gs-tabs .tab-nav:hover {
  color: #cf5b36;
  background: #ffffff;
  border-color: #ffffff;
}
.gs-tabs .tab-nav.open .underline,
.gs-tabs .tab-nav:hover .underline {
  border-bottom: 2px solid #cf5b36;
}
.gs-tabs .tab-box {
  transition: all 500ms ease-in-out;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 10;
  background: #ffffff;
  box-shadow: 0 1px 1px #929292;
}
.locale-vi.presenter-default-default .gs-tabs .tab-box,
.locale-ru.presenter-default-default .gs-tabs .tab-box {
  min-height: 160px;
  max-height: 160px;
}
@media (max-width: 768px) {
  .locale-vi.presenter-default-default .gs-tabs .tab-box,
  .locale-ru.presenter-default-default .gs-tabs .tab-box {
    max-height: 300px;
  }
}
.locale-vi .gs-tabs .tab-box,
.locale-ru .gs-tabs .tab-box {
  min-height: 300px;
  max-height: 300px;
}
@media (min-width: 768px) {
  .gs-tabs .tab-box {
    width: 98%;
  }
}
.gs-tabs .tab-box.open {
  z-index: 99;
  opacity: 1;
  pointer-events: all;
}
.slavia-box,
.slavia-more {
  position: relative;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  /* &:after,&:before{
            .pseudoels;
            .animate;
            .acenter;
            transform:translateY(-50%) translateX(-50%) scale(.5);
            position: absolute;
            pointer-events: none;
            background: @primary;
            width: 5px;
            height: 50px;
            opacity: 0;
            z-index: 99;
        }
        &:after{
            width: 50px;
            height: 5px;
        }*/
}
.slavia-box:hover,
.slavia-more:hover {
  transition-delay: 0;
  /* &:after,&:before{
                transform:translateY(-50%) translateX(-50%) scale(1);
                opacity: 1;
                left: 50%;
            }*/
  background-color: #e6e6e6;
  color: #cf5b36;
}
.slavia-box:hover img,
.slavia-more:hover img {
  transition-delay: 0;
  transition: all 500ms ease-in-out;
  opacity: 0.8;
}
.fb_iframe_widget {
  max-width: 100%;
  position: relative;
  display: block!important;
}
.fb_iframe_widget > span {
  max-width: 100%!important;
}
.slavia-box-item {
  transition: all 500ms ease-in-out;
  cursor: pointer;
  height: 160px;
  overflow: hidden;
  display: block;
  position: relative;
  border-right: 1px solid #ecc0b2;
  border-top: 1px solid #ecc0b2;
}
.slavia-box-item:nth-child(6) .slavia-box {
  transition-delay: 400ms;
}
.slavia-box-item:nth-child(5) .slavia-box {
  transition-delay: 350ms;
}
.slavia-box-item:nth-child(4) .slavia-box {
  transition-delay: 300ms;
}
.slavia-box-item:nth-child(3) .slavia-box {
  transition-delay: 250ms;
}
.slavia-box-item:nth-child(2) .slavia-box {
  transition-delay: 200ms;
}
.slavia-box-item:nth-child(1) .slavia-box {
  transition-delay: 150ms;
}
.slavia-box-item .slavia-box {
  padding: 1em;
  display: block;
  position: relative;
  height: 160px;
  transition: all 500ms ease-in-out;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
.slavia-box-item .slavia-box img {
  max-width: 100%;
}
.open .slavia-box-item .slavia-box {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.presenter-default-default .slavia-box-item {
  border-bottom: 1px solid #ecc0b2;
}
.presenter-default-default .slavia-box-item:nth-child(n+4) {
  border-top: none;
  border-bottom: none;
}
.locale-vi .slavia-box-item,
.locale-ru .slavia-box-item {
  width: 100%;
  height: 100%;
}
.locale-vi .slavia-box-item img,
.locale-ru .slavia-box-item img {
  max-width: 70px;
}
.locale-vi .slavia-box-item .next-to-img,
.locale-ru .slavia-box-item .next-to-img {
  width: 60%;
}
.slavia-box-item:nth-child(3n+3) {
  border-right: none;
}
.slavia-box-item:nth-child(3n+4) {
  clear: left;
}
.mega .slavia-box-item {
  display: block;
  float: left;
  width: 0;
  height: 0;
  padding: 0;
  overflow: visible;
  border: none;
}
.mega .slavia-box-item.current {
  height: 100%;
  width: 100%;
}
.mega .slavia-box-item.current .slavia-box-list li {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.mega .slavia-box-item.current .slavia-box-expand {
  pointer-events: all;
  display: block;
  opacity: 1;
}
.close {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 1em;
  top: 1em;
  background: url('/assets/images/close.png');
  cursor: pointer;
  z-index: 99;
}
.close.dark {
  background: url('/assets/images/close-dark.png');
}
.slavia-box-expand {
  cursor: default;
  background: #863c23 url('/assets/images/tabs-bg.jpg') no-repeat right top;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  pointer-events: none;
  display: none;
  color: white;
  padding: 1em;
  font-weight: 300;
  transition: all 500ms ease-in-out;
}
.slavia-box-expand a {
  color: white;
}
.slavia-box-expand .label {
  font-size: 1.3em;
  font-weight: 300;
}
.slavia-box-expand img {
  padding-right: 1em;
}
.slavia-box-expand .slavia-box-list li {
  transition: all 500ms ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
}
.slavia-box-expand .slavia-box-list li:nth-child( 15) {
  transition-delay: 1050ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 14) {
  transition-delay: 1000ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 13) {
  transition-delay: 950ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 12) {
  transition-delay: 900ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 11) {
  transition-delay: 850ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 10) {
  transition-delay: 800ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 9) {
  transition-delay: 750ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 8) {
  transition-delay: 700ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 7) {
  transition-delay: 650ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 6) {
  transition-delay: 600ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 5) {
  transition-delay: 550ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 4) {
  transition-delay: 500ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 3) {
  transition-delay: 450ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 2) {
  transition-delay: 400ms;
}
.slavia-box-expand .slavia-box-list li:nth-child( 1) {
  transition-delay: 350ms;
}
.slavia-box-expand li {
  display: block;
  width: 50%;
  float: left;
  padding: .2em 1em;
}
.slavia-box-expand li .overlay {
  display: none;
}
.no-touch .slavia-box-expand li .overlay {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.no-touch .slavia-box-expand li .overlay:hover {
  opacity: 1;
}
.no-touch .slavia-box-expand li .overlay span {
  transition: all 500ms ease-in-out;
  padding: .5em .5em;
  height: 100%;
  font-size: .75em;
  line-height: 1em;
  display: table-cell;
  vertical-align: middle;
}
.no-touch .slavia-box-expand li .overlay span:hover {
  background: white;
  color: #cf5b36;
}
.no-touch .slavia-box-expand li .overlay span:hover a {
  color: #cf5b36;
  text-decoration: none;
}
.no-touch .slavia-box-expand li .overlay a {
  transition: all 500ms ease-in-out;
  color: white;
  display: block;
}
.side-info {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 250px;
}
.bxsh {
  box-shadow: 0 2px 3px -2px #333333;
  margin-bottom: 3px;
}
.special-number {
  display: block;
  font-size: 2.5em;
  font-family: 'ltc-bodoni-175', serif;
  font-weight: 800;
  letter-spacing: 0;
  margin: 0;
  background: transparent;
  color: #cf5b36;
  /* non webkit browsers */
}
.backgroundclip .special-number {
  background: transparent;
  background-clip: text;
  color: #cf5b36;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}
.infolinka {
  color: #929292;
  font-size: .8em;
  font-weight: 300;
  letter-spacing: 2px;
}
.pojisteni-banner {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}
.pojisteni-banner img {
  display: inline-block;
  vertical-align: middle;
}
.banner_car {
  margin-top: 5px;
}
.banner_car img {
  width: 730px;
  height: auto;
}
@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-webkit-keyframes drive {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes drive {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.car-rolling {
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
}
.car-rolling img {
  max-width: 100%;
}
.car-rolling .car_wrapper {
  position: relative;
  -webkit-animation: drive 13s infinite;
          animation: drive 13s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  width: 1124px;
  max-width: 100%;
}
.car-rolling__tire {
  -webkit-animation: roll 2s infinite;
          animation: roll 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  left: 3.7%;
  top: 51.5%;
  width: 5.8%;
}
.car-rolling__tire--back {
  top: 50%;
  left: 27.4%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
.sjednat {
  text-align: center;
  padding-top: 1em;
}
.sjednat .button {
  letter-spacing: 2px;
}
.sjednat a {
  color: #ffffff;
  display: block;
  padding: 1em;
  transition: all 500ms ease-in-out;
}
.sjednat a:hover {
  background-color: #d97d5f;
  text-decoration: none;
}
img.banner {
  width: 100%;
}
.sjednat-menu {
  z-index: 99;
  box-shadow: 0 2px 3px -2px #333333;
  margin-bottom: 3px;
  background-color: #cf5b36;
  color: white;
  text-align: left;
  margin-bottom: 20px;
}
.sjednat-menu:after {
  display: table;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #cf5b36 transparent transparent transparent;
  bottom: -20px;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  position: absolute;
  left: 50%;
  z-index: 99;
  display: none;
  opacity: 0;
}
.sjednat-menu ul {
  padding: 0;
  margin: 0;
  max-width: 600px;
}
.sjednat-menu li {
  display: block;
}
.pojisteni-text-wrap {
  line-height: 1.2em;
  text-align: left;
  font-weight: 100;
  font-size: 1.35em;
  vertical-align: middle;
  display: inline-block;
}
.pojisteni-text-wrap b {
  font-weight: normal;
}
.damage-claim:after {
  display: table;
  content: "›";
  display: block;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: 1em;
  top: 1em;
}
.submit-damage {
  width: 100%;
}
.submit-damage .submit-dmg-list {
  z-index: 999;
  position: relative;
  background: white;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.submit-damage .submit-dmg-list a {
  padding-left: 1em;
  display: block;
  border-top: 1px solid #d8d3cc;
  line-height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: .5em;
}
.submit-damage .submit-dmg-list a:hover {
  background: #f6f5f3;
}
.submit-damage .online-forms-list {
  box-shadow: 0 2px 3px -2px #333333;
  margin-bottom: 3px;
  position: relative;
}
.submit-damage .online-forms-list ul {
  position: absolute;
  left: -100%;
  top: -8em;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0 2px 3px -2px #333333;
  margin-bottom: 3px;
  display: none;
  background: #f6f5f3;
}
.submit-damage .online-forms-list:hover {
  background: #f6f5f3;
}
.submit-damage .online-forms-list:hover ul {
  display: block;
}
.submit-damage .online-forms-list li {
  text-indent: 0;
}
.submit-damage .online-forms-list ul a {
  padding-left: 1.5em;
}
aside .submit-damage .online-forms-list ul {
  left: 100%;
}
@media screen and (max-width: 767px) {
  .submit-damage .online-forms-list ul {
    left: 0;
    top: 0;
    position: relative;
  }
}
.green-wrap {
  margin-bottom: 1em;
  background: #bcc767;
  text-align: center;
  padding-bottom: .5em;
}
.green-wrap .banner {
  margin-top: 2em;
  margin-bottom: 1em;
  color: white;
  font-weight: 300;
}
.green-wrap .banner b {
  font-weight: 400;
}
.green-wrap .pojisteni-text-wrap {
  padding-right: 2em;
  font-size: 1.5em;
}
.green-wrap ul {
  padding: 0;
}
.green-wrap .in-item a {
  padding-left: 1em;
  padding-right: 1em;
}
.green-wrap a {
  font-size: .85em;
  line-height: 2em;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  border-top: 1px solid #ccd58c;
  padding-top: .5em;
  padding-bottom: .5em;
}
.damage-claim {
  background: white;
  padding: 1em 1.5em;
  border-bottom: 1px solid #d8d3cc;
}
.damage-claim .dropdown-trigger {
  color: #cf5b36;
  text-transform: uppercase;
  font-weight: 600;
}
.poradce {
  position: relative;
}
.poradce a {
  text-transform: uppercase;
}
.poradce a:hover {
  text-decoration: none;
}
.poradce a .sublime {
  display: block;
  color: #929292;
  font-size: .8em;
  text-transform: none;
}
.poradce::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #787878;
  position: absolute;
  display: block;
  right: 1em;
}
.poradce.regbox:hover {
  background: #bcc767;
  color: white;
}
.poradce.regbox:hover a {
  color: white;
}
.poradce.regbox:hover .sublime {
  color: white;
}
.callback .label {
  color: #bcc767;
  text-transform: uppercase;
  background: #ffffff url("/assets/images/phone-green.png") no-repeat 90% center;
}
.callback input {
  margin-top: 0;
  height: 3em;
  line-height: 3em;
  margin-bottom: 0;
}
.callback form {
  margin-bottom: .3em;
}
.callback .in-number {
  width: 90%;
  background: #f6f5f3;
  border: none;
  padding: 1em 0 1em 2em;
  line-height: 1em;
  vertical-align: bottom;
  display: inline-block;
}
.callback .submit-number {
  border: none;
  text-align: center;
  background: #bcc767 no-repeat right center;
  text-transform: uppercase;
  padding: .75em 1.5em;
  display: block;
  color: white;
  border-radius: 3px;
  border-bottom: 3px solid #889236;
  box-shadow: 0 2px 1px -1px #cccccc;
  display: inline-block;
  cursor: pointer;
  border-top: 0px solid #889236;
  transition: all 100ms ease-in-out;
  color: #dde2b2;
  border-radius: 0;
  width: 10%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.callback .submit-number .sublime {
  display: block;
  text-transform: none;
  font-weight: 300;
}
.callback .submit-number.simple {
  border-radius: 0;
  min-width: 250px;
  max-width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
  position: relative;
}
.regbox .callback .submit-number.simple {
  padding-top: 1.5em;
}
.callback .submit-number.simple::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  display: table;
  content: "›";
  color: #dde2b2;
  position: absolute;
  display: block;
  right: 1em;
}
.callback .submit-number:hover {
  background-color: #ccd58c;
  text-decoration: none;
}
.callback .submit-number:active,
.callback .submit-number:focus,
.callback .submit-number.current {
  border-bottom: 0px solid #889236;
  border-top: 3px solid #889236;
  background-color: #aab744;
}
.callback .submit-number.send {
  padding: 1em 2em;
  background-image: url("/assets/images/mail.png");
  background-size: contain;
}
.rady-banner-onpage .nabidka {
  margin-top: 3em;
}
@media screen and (max-width: 998px) {
  .rady-banner-onpage {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.rady {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 300;
}
.rady li {
  position: relative;
  padding-left: 2.5em;
  line-height: 1em;
}
.rady li:last-child a {
  border-bottom: none;
}
.rady li:nth-child(2n+3) {
  clear: left;
}
.rady li:before {
  display: table;
  content: '';
  background: url('/assets/images/sprite-list.png') repeat-y top left;
  width: 32px;
  height: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  position: absolute;
  left: 0;
}
.rady li:nth-child( 2):before {
  background-position: left -26px;
}
.rady li:nth-child(3):before {
  background-position: left -78px;
}
.rady li:nth-child(4):before {
  background-position: left -52px;
}
.rady li:nth-child(8):before,
.rady li:nth-child(5):before,
.rady li:nth-child(6):before,
.rady li:nth-child(7):before,
.rady li:nth-child(9):before {
  background-position: left -104px;
}
.rady li:nth-child(10):before {
  background-position: left -156px;
}
.rady li:nth-child(11):before {
  background-position: left -130px;
}
.rady li:nth-child(12):before {
  background-position: left -182px;
}
.locale-en .rady li:nth-child( 11):before {
  background-position: left -260px;
}
.locale-en .rady li:nth-child( 10):before {
  background-position: left -234px;
}
.locale-en .rady li:nth-child( 9):before {
  background-position: left -208px;
}
.locale-en .rady li:nth-child( 8):before {
  background-position: left -182px;
}
.locale-en .rady li:nth-child( 7):before {
  background-position: left -156px;
}
.locale-en .rady li:nth-child( 6):before {
  background-position: left -130px;
}
.locale-en .rady li:nth-child( 5):before {
  background-position: left -104px;
}
.locale-en .rady li:nth-child( 4):before {
  background-position: left -78px;
}
.locale-en .rady li:nth-child( 3):before {
  background-position: left -52px;
}
.locale-en .rady li:nth-child( 2):before {
  background-position: left -26px;
}
.locale-en .rady li:nth-child(2):before {
  background-position: left -104px;
}
.locale-en .rady li:nth-child(5):before {
  background-position: left -130px;
}
.locale-en .rady li:nth-child(6):before {
  background-position: left -182px;
}
.rady a {
  color: #454545;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d8d3cc;
}
.rady a:hover {
  text-decoration: none;
  color: #cf5b36;
}
.flash {
  width: 100%;
  padding: 1em;
  background: white;
  margin-bottom: 1em;
}
.flash.flash-success {
  border: 1px solid #bcc767;
  color: #bcc767;
}
.krajelist {
  background: white;
  padding: 1em 1.5em;
  border-bottom: 1px solid #d8d3cc;
  padding: 0;
}
.krajelist li {
  padding: 0;
}
.krajelist li:before {
  display: none;
}
.krajelist a {
  padding: .8em 1em;
  border-bottom: 1px solid #d8d3cc;
  display: block;
}
.stickme {
  background: #f6f5f3;
}
.sidebar {
  padding-right: 4em;
  position: relative;
  z-index: 999;
}
.sidebar .sjednat-menu li {
  width: 100%;
}
.sidebar .side-info {
  max-width: 100%;
  width: 100%;
}
.sidebar .label img {
  display: none;
}
.sidebar .gs-tabs {
  border-bottom: 1px solid #d8d3cc;
}
.sidebar .gs-tabs .gs-tabnav {
  width: 100%;
}
.sidebar .gs-tabs .gs-tab-nav {
  margin: 0;
}
.sidebar .gs-tabs .tab-nav {
  width: 100%;
}
.sidebar .gs-tabs .tab-box {
  width: 100%;
}
.sidebar .gs-tabs .tab-box.mega .slavia-box,
.sidebar .gs-tabs .tab-box.mega .slavia-box-item {
  height: 0;
  opacity: 0;
}
.sidebar .gs-tabs .tab-box.mega .slavia-box-item.current {
  height: 100%;
  opacity: 1;
}
.sidebar .gs-tabs .slavia-box-expand {
  background: #cf5b36;
}
.sidebar .gs-tabs .slavia-box-expand .label {
  padding-right: 2em;
}
.sidebar .gs-tabs .slavia-box {
  height: 100px;
}
.sidebar .gs-tabs .slavia-box-item {
  height: 100px;
  border-right: none;
  width: 100%;
  display: block;
}
.sidebar .gs-tabs .slavia-box-item img {
  width: 40%;
  padding-right: 5%;
}
.sidebar .gs-tabs .slavia-box-item .next-to-img {
  width: 60%;
}
.sidebar .gs-tabs .slavia-box-list li {
  padding-top: .5em;
  width: 100%;
}
.sidebar .pojisteni-banner {
  margin: 1em 0;
  width: 100%;
}
.sidebar .pojisteni-banner img {
  max-width: 80%;
}
.news-item {
  position: relative;
  background-color: #eeeeee;
  padding: 1em 1.5em 3em;
  box-shadow: 0 1px 3px -1px #1a1a1a;
  margin-bottom: 1em;
}
.novinky-home .news-item {
  width: 100%;
}
.news-item:after {
  display: table;
  content: '';
  border-bottom: 1px solid #1a1a1a;
  position: absolute;
  bottom: 2em;
  width: 3em;
}
.news-item .title {
  margin-top: .2;
}
.news-item .title a {
  color: #454545;
}
.news-item p {
  font-weight: 300;
}
.news-item .date {
  margin-top: 1em;
  color: #929292;
  font-size: .8em;
}
.facebook-wrap {
  margin-top: 1em;
  margin-bottom: 1em;
}
.facebook-wrap .facebook-name {
  padding-bottom: 1em;
}
.facebook-wrap .facebook-name a {
  color: #3c57a3;
}
.facebook-wrap .favatar {
  margin-right: 1em;
}
.dropdown-target {
  display: none;
}
.proc-slavia .h1 {
  margin-bottom: 1em;
}
.proc-slavia li {
  display: table;
  height: 60px;
  padding-left: 4em;
  background: url(/assets/images/nums.png) no-repeat left top;
  margin-bottom: 2em;
  vertical-align: middle;
}
.proc-slavia li span {
  display: table-cell;
  vertical-align: middle;
}
.proc-slavia li:nth-child(2) {
  background-position: left -60px;
}
.proc-slavia li:nth-child(3) {
  background-position: left -120px;
}
.nabidka {
  font-size: .8em;
  margin-bottom: 0.5em;
}
.gs-para-slider {
  background: url('/assets/images/para-slider.jpg') no-repeat center;
  width: 100%;
  height: 780px;
  position: relative;
}
.gs-para-slider .gs-para-wrap {
  height: 100%;
  margin-top: -8em;
  position: absolute;
  width: 100%;
}
.gs-para-slider .para-slide {
  margin-left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 1024px;
  max-width: 100%;
  position: absolute;
  display: none;
}
.gs-para-slider .para-slide.active {
  display: block;
}
.gs-para-slider img {
  max-width: 100%;
}
.gs-para-arrows {
  display: block;
  position: absolute;
  bottom: 50%;
  z-index: 99;
  text-indent: -9999px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 998px) {
  .gs-para-arrows {
    bottom: 5%;
  }
}
.gs-para-arrows .arrow {
  width: 33px;
  height: 64px;
  display: block;
  position: absolute;
  background: url('/assets/images/arrows.png') no-repeat 0 0;
  left: 1em;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
  margin-left: 1em;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.gs-para-arrows .arrow:hover {
  -webkit-transform: translateY(-50%) translateX(-10px);
      -ms-transform: translateY(-50%) translateX(-10px);
          transform: translateY(-50%) translateX(-10px);
}
.gs-para-arrows .arrow-left {
  background-position: 0 -64px;
}
.gs-para-arrows .arrow-right {
  left: inherit;
  right: 1em;
}
.gs-para-arrows .arrow-right:hover {
  -webkit-transform: translateY(-50%) translateX(10px);
      -ms-transform: translateY(-50%) translateX(10px);
          transform: translateY(-50%) translateX(10px);
}
.horizontalslider {
  background: white;
  border-top: 1px solid #d8d3cc;
  border-bottom: 1px solid #d8d3cc;
}
.horizontalslider .slider-wrap {
  overflow: hidden;
}
.horizontalslider .slide-item {
  width: 333px;
  float: left;
  padding-top: 2em;
  padding-bottom: 2em;
  border-right: 1px solid #d8d3cc;
}
.horizontalslider .slide-item img,
.horizontalslider .slide-item div {
  vertical-align: middle;
}
.horizontalslider .slider {
  position: relative;
  display: block;
  width: 9999px;
}
.horizontalslider .product-list {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #f6f5f3;
  z-index: 999;
}
.horizontalslider .product-list a {
  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
}
.jspContainer {
  overflow: hidden;
  position: relative;
}
.jspPane {
  position: absolute;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: red;
}
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #f6f5f3;
}
.jspCap {
  display: none;
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspTrack {
  background: #ecc0b2;
  position: relative;
}
.jspDrag {
  background: #cf5b36;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.jspVerticalBar .jspArrow {
  height: 16px;
}
.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
.csstransitions .gs-para-slider {
  overflow: hidden;
}
.csstransitions .gs-para-slider,
.csstransitions .gs-para-slider * {
  transition: all 750ms ease-in-out;
}
.csstransitions .gs-para-slider .para-item-in {
  position: relative;
}
.csstransitions .gs-para-slider .slide-pics {
  position: relative;
}
.csstransitions .gs-para-slider .image-holder {
  height: 400px;
  text-align: right;
}
.csstransitions .gs-para-slider .para-slide {
  display: block;
  opacity: 0;
}
.csstransitions .gs-para-slider .para-slide.active {
  opacity: 1;
}
.csstransitions .gs-para-slider .content-holder {
  -webkit-perspective: 500px;
          perspective: 500px;
}
.csstransitions .gs-para-slider .content-holder img {
  -webkit-transform: translateX(-50%) rotateY(-45deg);
          transform: translateX(-50%) rotateY(-45deg);
}
.csstransitions .gs-para-slider .content-holder p {
  -webkit-transform: translateY(100px) rotateX(-45deg);
          transform: translateY(100px) rotateX(-45deg);
  width: 80%;
}
.csstransitions .gs-para-slider .image-holder {
  -webkit-perspective: 500px;
          perspective: 500px;
}
.csstransitions .gs-para-slider .image-holder img {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  -webkit-transform: translateX(50%) translateY(50%) rotateY(45deg);
          transform: translateX(50%) translateY(50%) rotateY(45deg);
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.csstransitions .gs-para-slider .active .image-holder img {
  -webkit-transform: translateX(0) translateY(-50%) rotateY(0);
          transform: translateX(0) translateY(-50%) rotateY(0);
}
.csstransitions .gs-para-slider .active .content-holder img {
  -webkit-transform: translateX(0) rotateY(0);
          transform: translateX(0) rotateY(0);
}
.csstransitions .gs-para-slider .active .content-holder p {
  -webkit-transform: translateY(0) rotateY(0);
          transform: translateY(0) rotateY(0);
}
.gs-logo {
  display: inline-block;
  text-align: left;
  text-indent: -9999px;
  height: 17px;
  vertical-align: top;
  width: 97px;
  margin-right: 1em;
  margin-top: -3px;
  position: relative;
  background: url(/assets/images/logo-gs.png) top left no-repeat;
}
.gs-logo:hover {
  background-position: bottom left;
}
.as-logo {
  display: inline-block;
  height: 16px;
  width: 97px;
  text-align: left;
  vertical-align: top;
  text-indent: -9999px;
  background: url(/assets/images/logo-as.png) top left no-repeat;
}
.as-logo:hover {
  background-position: bottom left;
}
.footer-copy {
  font-size: 13px;
  line-height: 13px;
  color: #929292;
}
.human {
  background: #cf5b36;
  padding-top: 2em;
  font-weight: 300;
  color: white;
}
.human .pr-md {
  padding-bottom: 2em;
}
.human .h2 {
  margin-bottom: 0;
}
.human .human-info {
  color: #80361f;
}
.human b {
  font-weight: 400;
}
.human a {
  color: #ffffff;
}
.human .pure-u-1 {
  vertical-align: bottom;
}
.human .vtop {
  vertical-align: top;
  padding-top: 1.5em;
}
@media screen and (min-width: 768px) and (max-width: 998px) {
  .human .vtop {
    margin-top: -143px;
  }
}
@media screen and (max-width: 48em) {
  .human .vtop {
    padding-top: 0;
    padding-bottom: 1em;
  }
}
.site-footer {
  background: white;
  border-top: 1px solid #d8d3cc;
}
.presenter-news .news-item {
  width: 32%;
  margin-right: 2%;
}
.presenter-news .news-item:nth-child(3n+3) {
  margin-right: 0;
}
.site-footer .h2 {
  margin-top: 1.5em;
  margin-bottom: .5em;
}
.site-footer {
  text-align: center;
}
.site-footer .side-info {
  padding-bottom: 1em;
}
.site-footer .foo-mobile-menu {
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}
.site-footer .contacts-menu {
  padding-top: .5em;
  padding-bottom: .5em;
}
.site-footer .gs-logo {
  width: 30px;
}
.site-footer .gs-branded {
  line-height: 10px;
}
.footer-menus li {
  font-size: .9em;
  cursor: pointer;
  padding-top: .6em;
  padding-bottom: .6em;
}
.footer-menus .submenu {
  margin: 0;
  border-radius: 3px 3px 3px 0 ;
}
.footer-menus > ul > li {
  position: relative;
}
.footer-menus > ul > li ul {
  display: none;
  width: 100%;
  background: #cf5b36;
}
.footer-menus > ul > li:hover {
  z-index: 9999;
  color: white;
  border-radius: 3px 0 0 3px;
  background: #cf5b36;
  padding-left: 1em;
}
.footer-menus > ul > li:hover li {
  padding: 0;
}
.footer-menus > ul > li:hover a {
  padding: .5em 1em;
  display: block;
  color: white;
}
.footer-menus > ul > li:hover a:hover {
  background: #d97d5f;
}
.footer-menus > ul > li:hover ul {
  display: block;
  bottom: 0;
  padding: .5em 0 0;
}
.footer-menus .in-item:hover {
  padding-left: 0;
  background: transparent;
}
.footer-menus .in-item:hover a,
.footer-menus .in-item:hover a:hover {
  padding: 0;
  background: transparent;
  color: #454545;
}
.footer-menus .in-item a,
.footer-menus .in-item a:hover {
  padding: 0;
  background: transparent;
  color: #454545;
}
.footer-menus ul {
  padding: 0;
  font-weight: 300;
  width: 33%;
  float: left;
  position: relative;
}
.footer-menus ul ul {
  left: 100%;
  position: absolute;
}
.setmiddle .pure-u-1,
.setmiddle .pure-u-1-1,
.setmiddle .pure-u-1-2,
.setmiddle .pure-u-1-3,
.setmiddle .pure-u-2-3,
.setmiddle .pure-u-1-4,
.setmiddle .pure-u-3-4,
.setmiddle .pure-u-1-6,
.setmiddle .pure-u-5-6,
.setmiddle .pure-u-1-12,
.setmiddle .pure-u-2-12,
.setmiddle .pure-u-3-12,
.setmiddle .pure-u-4-12,
.setmiddle .pure-u-5-12,
.setmiddle .pure-u-6-12,
.setmiddle .pure-u-7-12,
.setmiddle .pure-u-8-12,
.setmiddle .pure-u-9-12,
.setmiddle .pure-u-10-12,
.setmiddle .pure-u-11-12,
.setmiddle .pure-u-12-12 {
  vertical-align: middle;
}
form .pure-u-1,
form .pure-u-1-1,
form .pure-u-1-2,
form .pure-u-1-3,
form .pure-u-2-3,
form .pure-u-1-4,
form .pure-u-3-4,
form .pure-u-1-6,
form .pure-u-5-6,
form .pure-u-1-12,
form .pure-u-2-12,
form .pure-u-3-12,
form .pure-u-4-12,
form .pure-u-5-12,
form .pure-u-6-12,
form .pure-u-7-12,
form .pure-u-8-12,
form .pure-u-9-12,
form .pure-u-10-12,
form .pure-u-11-12,
form .pure-u-12-12 {
  vertical-align: bottom;
}
.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-12,
.pure-u-2-12,
.pure-u-3-12,
.pure-u-4-12,
.pure-u-5-12,
.pure-u-6-12,
.pure-u-7-12,
.pure-u-8-12,
.pure-u-9-12,
.pure-u-10-12,
.pure-u-11-12,
.pure-u-12-12 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.pure-u-1-12 {
  width: 8.3333%;
  *width: 8.3023%;
}
.pure-u-1-6,
.pure-u-2-12 {
  width: 16.6667%;
  *width: 16.6357%;
}
.pure-u-1-4,
.pure-u-3-12 {
  width: 25%;
  *width: 24.9690%;
}
.pure-u-1-3,
.pure-u-4-12 {
  width: 33.3333%;
  *width: 33.3023%;
}
.pure-u-5-12 {
  width: 41.6667%;
  *width: 41.6357%;
}
.pure-u-1-2,
.pure-u-6-12 {
  width: 50%;
  *width: 49.9690%;
}
.pure-u-7-12 {
  width: 58.3333%;
  *width: 58.3023%;
}
.pure-u-2-3,
.pure-u-8-12 {
  width: 66.6667%;
  *width: 66.6357%;
}
.pure-u-3-4,
.pure-u-9-12 {
  width: 75%;
  *width: 74.9690%;
}
.pure-u-5-6,
.pure-u-10-12 {
  width: 83.3333%;
  *width: 83.3023%;
}
.pure-u-11-12 {
  width: 91.6667%;
  *width: 91.6357%;
}
.pure-u-1,
.pure-u-1-1,
.pure-u-12-12 {
  width: 100%;
}
.tabonly {
  display: block;
}
.lng {
  position: absolute;
  top: -2em;
  right: 0;
}
.lng li {
  display: inline-block;
}
.lng a {
  background: white;
  padding: .3em;
  border-radius: 3px;
}
@media screen and (max-width: 25.5em) {
  .gs-para-arrows .arrow {
    left: -2em;
  }
  .gs-para-arrows .arrow:hover {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .gs-para-arrows .arrow-left {
    background-position: 0 -64px;
  }
  .gs-para-arrows .arrow-right {
    left: inherit;
    right: -2em;
  }
  .gs-para-arrows .arrow-right:hover {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .presenter-default-default .slavia-box-item {
    text-align: center;
    height: 200px;
  }
  .presenter-default-default .slavia-box-item:nth-child(n+3) {
    border-top: none;
    border-bottom: 1px solid #ecc0b2;
  }
  .presenter-default-default .slavia-box-item:nth-child(2n+2) {
    border-right: none;
  }
  .presenter-default-default .slavia-box-item:nth-child(2n+3) {
    border-right: 1px solid #ecc0b2;
  }
  .presenter-default-default .slavia-box-item .slavia-box-list li {
    width: 100%;
  }
  .presenter-default-default .slavia-box-item:nth-child(3n+4) {
    clear: none;
  }
  .presenter-default-default .slavia-box-item:nth-child(2n+3) {
    clear: left;
  }
  .presenter-default-default .mega .slavia-box-item {
    display: block;
    float: left;
    width: 0;
    height: 0;
    padding: 0;
    overflow: visible;
    border: none;
  }
  .presenter-default-default .mega .slavia-box-item.current {
    height: 100%;
    width: 100%;
  }
  .presenter-default-default .mega .slavia-box-item.current .slavia-box-list li {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    padding-top: 1em;
  }
  .presenter-default-default .mega .slavia-box-item.current .slavia-box-expand {
    pointer-events: all;
    display: block;
    opacity: 1;
    text-align: left;
    background-size: cover;
  }
  .presenter-default-default .slavia-box {
    height: 200px;
  }
}
@media screen and (max-width: 25.5em) {
  * {
    transition: none!important;
  }
}
@media screen and (min-width: 25.5em) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-12,
  .pure-u-sm-2-12,
  .pure-u-sm-3-12,
  .pure-u-sm-4-12,
  .pure-u-sm-5-12,
  .pure-u-sm-6-12,
  .pure-u-sm-7-12,
  .pure-u-sm-8-12,
  .pure-u-sm-9-12,
  .pure-u-sm-10-12,
  .pure-u-sm-11-12,
  .pure-u-sm-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-sm-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .pure-u-sm-1-6,
  .pure-u-sm-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .pure-u-sm-1-4,
  .pure-u-sm-3-12 {
    width: 25%;
    *width: 24.9690%;
  }
  .pure-u-sm-1-3,
  .pure-u-sm-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .pure-u-sm-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .pure-u-sm-1-2,
  .pure-u-sm-6-12 {
    width: 50%;
    *width: 49.9690%;
  }
  .pure-u-sm-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .pure-u-sm-2-3,
  .pure-u-sm-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .pure-u-sm-3-4,
  .pure-u-sm-9-12 {
    width: 75%;
    *width: 74.9690%;
  }
  .pure-u-sm-5-6,
  .pure-u-sm-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .pure-u-sm-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-12-12 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-3,
  .pure-u-md-2-3,
  .pure-u-md-1-4,
  .pure-u-md-3-4,
  .pure-u-md-1-6,
  .pure-u-md-5-6,
  .pure-u-md-1-12,
  .pure-u-md-2-12,
  .pure-u-md-3-12,
  .pure-u-md-4-12,
  .pure-u-md-5-12,
  .pure-u-md-6-12,
  .pure-u-md-7-12,
  .pure-u-md-8-12,
  .pure-u-md-9-12,
  .pure-u-md-10-12,
  .pure-u-md-11-12,
  .pure-u-md-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-md-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .pure-u-md-1-6,
  .pure-u-md-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .pure-u-md-1-4,
  .pure-u-md-3-12 {
    width: 25%;
    *width: 24.9690%;
  }
  .pure-u-md-1-3,
  .pure-u-md-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .pure-u-md-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .pure-u-md-1-2,
  .pure-u-md-6-12 {
    width: 50%;
    *width: 49.9690%;
  }
  .pure-u-md-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .pure-u-md-2-3,
  .pure-u-md-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .pure-u-md-2-3 > input,
  .pure-u-md-8-12 > input,
  .pure-u-md-2-3 > textarea,
  .pure-u-md-8-12 > textarea {
    width: 95%;
  }
  .pure-u-md-3-4,
  .pure-u-md-9-12 {
    width: 75%;
    *width: 74.9690%;
  }
  .pure-u-md-5-6,
  .pure-u-md-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .pure-u-md-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-12-12 {
    width: 100%;
  }
  section.master-padding {
    margin-bottom: 3em;
  }
  .master-padding {
    max-width: 1024px;
    padding-right: 1em;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .master-padding .master-margin {
    margin-left: 0;
    margin-right: 0;
  }
  .map-holder {
    padding-right: .8em;
  }
  .brag-holder {
    line-height: 2em;
    font-weight: 100;
  }
  .rady-onpage li {
    width: 50%;
    padding-right: 5%;
    float: left;
  }
  body {
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #f6f5f3;
    background-image: url(/assets/images/inner-bg.jpg);
  }
  body .home-h1 {
    margin-top: 0;
  }
  body.presenter-default-default {
    background-image: url(/assets/images/home-bg.jpg);
  }
  body.presenter-default-default .home-h1 {
    margin-top: .67em;
    font-size: 2em;
  }
  body.presenter-default-default .arrowed::after {
    left: 5px;
    content: "‹";
  }
  article .h1,
  article + h1 {
    font-size: 3em;
    font-weight: 300;
    margin-top: 0;
  }
  article p {
    font-weight: 300;
  }
  .h1,
  .news-h2 {
    font-size: 2em;
  }
  .special-number {
    font-size: 2em;
  }
  .monly {
    display: none;
  }
  .krajelist {
    border-left: 1px solid #d8d3cc;
  }
  .krajelist li {
    border-right: 1px solid #d8d3cc;
    float: left;
    width: 50%;
    background: #ffffff;
  }
  .side-info {
    margin-top: 0;
  }
  .pojisteni-banner-home {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .pojisteni-banner-home img {
    max-height: 5em;
  }
  .proc-slavia {
    padding-left: 0;
    margin-top: 3em;
  }
  .proc-slavia li {
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 1.4em;
  }
  .pojisteni-banner {
    margin-top: 0;
  }
  .pojisteni-text-wrap {
    font-size: 2.3em;
  }
  .slavia-box img,
  .slavia-box .next-to-img {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
    width: 40%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }
  .slavia-box .next-to-img {
    width: 60%;
  }
  .slavia-box-item {
    height: 140px;
  }
  .slavia-box-item .label {
    padding-bottom: .5em;
    border-bottom: 1px solid #aa4828;
  }
  .slavia-box-item .slavia-box {
    height: 140px;
  }
  .underline span {
    display: inline;
  }
  .mid-sec-fb {
    padding-right: .8em;
    padding-left: 3em;
  }
  .mid-sec-fb .button {
    pointer-events: none;
    font-size: .8em;
    letter-spacing: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    background: #cf5b36 no-repeat right center;
    text-transform: uppercase;
    padding: .75em 1.5em;
    display: block;
    color: white;
    border-radius: 3px;
    border-bottom: 3px solid #80361f;
    box-shadow: 0 2px 1px -1px #cccccc;
    display: inline-block;
    cursor: pointer;
    border-top: 0px solid #80361f;
    transition: all 100ms ease-in-out;
    border-bottom: none;
    text-shadow: 0 1px 1px #aa4828;
    box-shadow: 1px -1px 0 1px #de8d74, 2px -2px 0 0 #d97d5f;
  }
  .mid-sec-fb .button .sublime {
    display: block;
    text-transform: none;
    font-weight: 300;
  }
  .mid-sec-fb .button.simple {
    border-radius: 0;
    min-width: 250px;
    max-width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 5px;
    position: relative;
  }
  .regbox .mid-sec-fb .button.simple {
    padding-top: 1.5em;
  }
  .mid-sec-fb .button.simple::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
    display: table;
    content: "›";
    color: #e39e88;
    position: absolute;
    display: block;
    right: 1em;
  }
  .mid-sec-fb .button:hover {
    background-color: #d97d5f;
    text-decoration: none;
  }
  .mid-sec-fb .button:active,
  .mid-sec-fb .button:focus,
  .mid-sec-fb .button.current {
    border-bottom: 0px solid #80361f;
    border-top: 3px solid #80361f;
    background-color: #aa4828;
  }
  .mid-sec-fb .button.send {
    padding: 1em 2em;
    background-image: url("/assets/images/mail.png");
    background-size: contain;
  }
  .mid-sec-fb .button:after {
    display: table;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #cf5b36 transparent transparent transparent;
    bottom: -5px;
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
    position: absolute;
    left: 50%;
    z-index: 99;
  }
  .mid-sec-fb .pojisteni-text-wrap {
    padding-right: 2em;
  }
  .pr-md {
    padding-right: 2em;
  }
  .novinky-home {
    margin-top: 2em;
  }
  .top-nav.donly {
    display: none;
  }
}
@media screen and (min-width: 48em) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 48em) and (min-resolution: 192dpi) {
  body.presenter-default-default {
    background-size: 100% auto;
  }
}
.map-holder-bg .brag-holder a,
.map-holder-bg .h1-holder a {
  color: #454545;
}
@media screen and (min-width: 999px) {
  .top-nav .main-nav-item > .submenu-listener {
    letter-spacing: inherit;
    font-weight: 300;
  }
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-2,
  .pure-u-lg-1-3,
  .pure-u-lg-2-3,
  .pure-u-lg-1-4,
  .pure-u-lg-3-4,
  .pure-u-lg-1-6,
  .pure-u-lg-5-6,
  .pure-u-lg-1-12,
  .pure-u-lg-2-12,
  .pure-u-lg-3-12,
  .pure-u-lg-4-12,
  .pure-u-lg-5-12,
  .pure-u-lg-6-12,
  .pure-u-lg-7-12,
  .pure-u-lg-8-12,
  .pure-u-lg-9-12,
  .pure-u-lg-10-12,
  .pure-u-lg-11-12,
  .pure-u-lg-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-lg-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .pure-u-lg-1-6,
  .pure-u-lg-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .pure-u-lg-1-4,
  .pure-u-lg-3-12 {
    width: 25%;
    *width: 24.9690%;
  }
  .pure-u-lg-1-3,
  .pure-u-lg-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .pure-u-lg-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .pure-u-lg-1-2,
  .pure-u-lg-6-12 {
    width: 50%;
    *width: 49.9690%;
  }
  .pure-u-lg-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .pure-u-lg-2-3,
  .pure-u-lg-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .pure-u-lg-3-4,
  .pure-u-lg-9-12 {
    width: 75%;
    *width: 74.9690%;
  }
  .pure-u-lg-5-6,
  .pure-u-lg-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .pure-u-lg-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-12-12 {
    width: 100%;
  }
  .tabonly {
    display: none;
  }
  .special-number {
    font-size: 2.4em;
  }
  .presenter-default-default .pojisteni-text-wrap {
    padding-right: 4em;
  }
  .site-title {
    width: 195px;
    float: left;
    text-align: left;
    margin-bottom: 2em;
    margin-top: 2.5em;
  }
  .brag-holder {
    line-height: 2em;
    border-left: 1px solid #d8d3cc;
    padding-left: 2em;
    font-weight: 100;
  }
  .presenter-default-default .brag-holder {
    margin-top: 1.7em;
  }
  .presenter-contact .brag-holder {
    margin-top: 1em;
    padding-top: .3em;
    line-height: 1.3em;
    padding-bottom: .6em;
  }
  .navs-wrap {
    top: 0;
    background: transparent;
    font-weight: 600;
    font-size: .85em;
    width: auto;
    float: right;
  }
  .navs-wrap,
  .navs-wrap a {
    color: #ffe5dc;
  }
  .navs-wrap a {
    opacity: 1;
    display: block;
    overflow: hidden;
    max-height: inherit;
    padding-left: 2em;
  }
  .open .navs-wrap a {
    opacity: 1;
    border-bottom: 1px solid #d8d3cc;
    padding-top: 1em;
    padding-bottom: 1em;
    max-height: 4em;
  }
  .navs-wrap ul,
  .navs-wrap li {
    margin: 0;
    padding: 0;
  }
  .menu-slider {
    width: inherit;
    float: inherit;
  }
  .navs-wrap .subin {
    border-bottom: none;
  }
  .navs-wrap li {
    max-height: inherit;
    overflow: visible;
    position: relative;
  }
  .navs-wrap li.nav-item a {
    width: 100%;
  }
  .navs-wrap li > ul {
    width: 200px;
    display: none;
    position: absolute;
  }
  .navs-wrap li ul a {
    display: block;
    background: transparent;
    padding: 1em 1em 1em 2em;
  }
  .navs-wrap li ul a:hover {
    background: #cf5b36;
  }
  .navs-wrap li > ul {
    box-shadow: 0 2px 3px -2px #333333;
    margin-bottom: 3px;
    margin-bottom: 0;
    top: 100%;
    text-align: left;
    opacity: 1;
    visibility: visible;
    background: #aa4828;
    z-index: 999;
  }
  .main-nav {
    text-align: right;
    position: relative;
    top: 0em;
  }
  .main-nav .in-item a {
    text-transform: none;
  }
  .main-nav .main-nav-item {
    font-weight: 300;
    color: #ffffff;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: .5em;
    border-radius: 3px 3px 0 0;
  }
  .main-nav .main-nav-item > a {
    color: #ffffff;
    font-size: 1.1em;
    padding: 0 0 1em;
  }
  .main-nav .main-nav-item > a:hover {
    cursor: default;
  }
  .main-nav .main-nav-item.search,
  .main-nav .main-nav-item.search:hover {
    text-indent: 600px;
    text-align: left;
    width: 40px;
    cursor: pointer;
    background: url(/assets/images/search.png) no-repeat right center;
    padding-right: 0;
  }
  .main-nav .main-nav-item:hover {
    background: #aa4828;
  }
  .main-nav .main-nav-item li {
    width: 33%;
    float: left;
    position: relative;
  }
  .main-nav .main-nav-item li:nth-child(3n+4) {
    clear: left;
  }
  .main-nav .main-nav-item .masonry {
    width: 100%;
  }
  .main-nav .main-nav-item > ul {
    background: rgba(170, 72, 40, 0.95);
    display: none;
    opacity: 1;
    pointer-events: all;
    width: 968px;
    padding-left: 1em;
  }
  .main-nav .main-nav-item > ul .masonry > li {
    margin-top: 1em;
    font-size: 1.2em;
  }
  .main-nav .main-nav-item > ul ul {
    text-indent: 0;
    font-size: .9em;
    text-transform: none;
    display: block;
    position: relative;
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
  .main-nav .main-nav-item > ul ul a {
    padding-top: .2em;
    padding-bottom: .2em;
  }
  .main-nav .main-nav-item > ul ul li {
    width: 100%;
  }
  .main-nav-item {
    padding: 1em 0em;
    display: inline-block;
  }
  .main-nav-item > .submenu-listener {
    font-weight: 400;
    letter-spacing: 3px;
  }
  .menu-inner-wrap {
    text-align: right;
  }
  .top-nav {
    display: inline-block !important;
    margin-top: 3.5em;
    text-align: right;
    margin-bottom: .5em;
  }
  .top-nav .nav li:last-child {
    padding-right: .5em;
  }
  .top-nav.donly {
    display: inline-block;
  }
  .top-nav.donly li:first-child a {
    border-left: 1px solid #ffffff;
  }
  .top-nav .nav-item {
    padding: 1em 0em.;
    font-size: .9em;
    font-weight: 100;
    vertical-align: middle;
    display: inline-block;
  }
  .top-nav .nav-item a {
    padding-left: 1em;
    display: inline-block;
  }
  .top-nav .in-item {
    transition: all 500ms ease-in-out;
  }
  .top-nav .in-item:hover {
    background: #cf5b36;
    position: relative;
  }
  .top-nav .in-item:hover ul {
    position: absolute;
    display: block;
    left: -200%;
    width: 200%;
    top: 0;
  }
  .top-nav .in-item:hover li {
    width: 50%;
    float: left;
  }
  .top-nav .in-item:hover li:nth-child(2n+3) {
    clear: left;
  }
  .top-nav .nav-sep {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0 1em 1em;
  }
  .site-title {
    width: 195px;
    float: left;
    text-align: left;
    margin-bottom: 4em;
    margin-top: 1em;
  }
}
@media screen and (min-width: 80em) {
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-3,
  .pure-u-xl-2-3,
  .pure-u-xl-1-4,
  .pure-u-xl-3-4,
  .pure-u-xl-1-6,
  .pure-u-xl-5-6,
  .pure-u-xl-1-12,
  .pure-u-xl-2-12,
  .pure-u-xl-3-12,
  .pure-u-xl-4-12,
  .pure-u-xl-5-12,
  .pure-u-xl-6-12,
  .pure-u-xl-7-12,
  .pure-u-xl-8-12,
  .pure-u-xl-9-12,
  .pure-u-xl-10-12,
  .pure-u-xl-11-12,
  .pure-u-xl-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-xl-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .pure-u-xl-1-6,
  .pure-u-xl-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .pure-u-xl-1-4,
  .pure-u-xl-3-12 {
    width: 25%;
    *width: 24.9690%;
  }
  .pure-u-xl-1-3,
  .pure-u-xl-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .pure-u-xl-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .pure-u-xl-1-2,
  .pure-u-xl-6-12 {
    width: 50%;
    *width: 49.9690%;
  }
  .pure-u-xl-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .pure-u-xl-2-3,
  .pure-u-xl-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .pure-u-xl-3-4,
  .pure-u-xl-9-12 {
    width: 75%;
    *width: 74.9690%;
  }
  .pure-u-xl-5-6,
  .pure-u-xl-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .pure-u-xl-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-12-12 {
    width: 100%;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after,
fieldset:before,
fieldset:after,
.site-header:before,
.site-header:after,
.sjednat-menu:before,
.sjednat-menu:after,
.horizontalslider:before,
.horizontalslider:after,
.horizontalslider .product-list:before,
.horizontalslider .product-list:after,
.footer-menus:before,
.footer-menus:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
fieldset:after,
.site-header:after,
.sjednat-menu:after,
.horizontalslider:after,
.horizontalslider .product-list:after,
.footer-menus:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix,
fieldset,
.site-header,
.sjednat-menu,
.horizontalslider,
.horizontalslider .product-list,
.footer-menus {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.donly {
  display: none;
}
@media (min-width: 768px) {
  .donly {
    display: block;
  }
  .donly.button,
  .donly.sidebar {
    display: inline-block;
  }
}
.callForm {
  background: #f6f5f3;
}
.callForm .call-me-block {
  display: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
.cars-liability {
  border-top: 1px solid #d8d3cc;
  border-left: 1px solid #d8d3cc;
  border-right: 1px solid #d8d3cc;
}
.cll-box {
  background: white;
  border-bottom: 1px solid #d8d3cc;
}
.cll-box > div {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
}
.cll-callus {
  background: #cf5b36;
  color: white;
  font-weight: 300;
}
.cll-callus a {
  color: #f6e1db;
}
form.calculator-form *,
form.calculator-form .pure-u-1 {
  vertical-align: middle;
}
form.calculator-form label {
  margin: 0;
}
article .pure-u-1-2,
article .pure-u-1-3,
article .pure-u-2-3,
article .pure-u-1-4,
article .pure-u-3-4,
article .pure-u-1-6,
article .pure-u-5-6,
article .pure-u-1-12,
article .pure-u-2-12,
article .pure-u-3-12,
article .pure-u-4-12,
article .pure-u-5-12,
article .pure-u-6-12,
article .pure-u-7-12,
article .pure-u-8-12,
article .pure-u-9-12,
article .pure-u-10-12,
article .pure-u-11-12,
article .pure-u-12-12 .pure-u-sm-1-2,
article .pure-u-sm-1-3,
article .pure-u-sm-2-3,
article .pure-u-sm-1-4,
article .pure-u-sm-3-4,
article .pure-u-sm-1-6,
article .pure-u-sm-5-6,
article .pure-u-sm-1-12,
article .pure-u-sm-2-12,
article .pure-u-sm-3-12,
article .pure-u-sm-4-12,
article .pure-u-sm-5-12,
article .pure-u-sm-6-12,
article .pure-u-sm-7-12,
article .pure-u-sm-8-12,
article .pure-u-sm-9-12,
article .pure-u-sm-10-12,
article .pure-u-sm-11-12,
article .pure-u-sm-12-12,
article .pure-u-md-1-2,
article .pure-u-md-1-3,
article .pure-u-md-2-3,
article .pure-u-md-1-4,
article .pure-u-md-3-4,
article .pure-u-md-1-6,
article .pure-u-md-5-6,
article .pure-u-md-1-12,
article .pure-u-md-2-12,
article .pure-u-md-3-12,
article .pure-u-md-4-12,
article .pure-u-md-5-12,
article .pure-u-md-6-12,
article .pure-u-md-7-12,
article .pure-u-md-8-12,
article .pure-u-md-9-12,
article .pure-u-md-10-12,
article .pure-u-md-11-12,
article .pure-u-md-12-12,
article .pure-u-lg-1-2,
article .pure-u-lg-1-3,
article .pure-u-lg-2-3,
article .pure-u-lg-1-4,
article .pure-u-lg-3-4,
article .pure-u-lg-1-6,
article .pure-u-lg-5-6,
article .pure-u-lg-1-12,
article .pure-u-lg-2-12,
article .pure-u-lg-3-12,
article .pure-u-lg-4-12,
article .pure-u-lg-5-12,
article .pure-u-lg-6-12,
article .pure-u-lg-7-12,
article .pure-u-lg-8-12,
article .pure-u-lg-9-12,
article .pure-u-lg-10-12,
article .pure-u-lg-11-12,
article .pure-u-lg-12-12 {
  margin-right: -4px;
}
.display-desktop {
  display: none;
}
@media (min-width: 1025px) {
  .display-desktop {
    display: block;
  }
}
.display-handheld {
  display: block;
}
@media (min-width: 1025px) {
  .display-handheld {
    display: none;
  }
}
.czech-stamp {
  display: block;
  position: absolute;
  z-index: 11000;
  pointer-events: none;
  left: 0;
  background: url(/assets/images/stamp.png);
  width: 100px;
  height: 100px;
  top: 100px;
}
@media (max-width: 999px) {
  .czech-stamp {
    left: 220px;
    top: -20px;
  }
}
@media (max-width: 540px) {
  .czech-stamp {
    left: 210px;
    top: -15px;
    background-size: 100%;
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 430px) {
  .czech-stamp {
    left: 0;
    top: 70px;
    top: 60px;
  }
  .hamburger {
    top: -90px;
  }
  .site-title {
    margin-bottom: 2.5em;
  }
}
/** Email catcher **/
.contact-catcher {
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  background: #FFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 1em 1em 2em;
  background: #cf5b36;
  border-top: 4px solid #953f24;
  top: 100%;
}
.contact-catcher a {
  color: #ffe5dc;
}
.contact-catcher--open {
  bottom: 0;
}
@media (min-width: 430px) {
  .contact-catcher {
    right: 1em;
  }
}
.contact-catcher form {
  text-align: center;
}
.contact-catcher input {
  width: 100%;
  margin-bottom: .5em;
}
.contact-catcher .button {
  box-shadow: none;
  padding-left: .3em;
  padding-right: .3em;
}
.contact-catcher__toggle {
  box-sizing: content-box;
  text-align: center;
  color: #ffe5dc;
  overflow: hidden;
  height: 2em;
  width: 50%;
  min-width: 200px;
  cursor: pointer;
  position: absolute;
  bottom: 100%;
  bottom: calc(100%);
  right: 0;
  background: #cf5b36;
  border-top: 4px solid #953f24;
  border-bottom: 4px solid #cf5b36;
  line-height: 2em;
}
.contact-catcher__toggle:hover {
  border-bottom-color: #cf5b36;
}
.contact-catcher__toggle:hover .contact-catcher__toggler {
  color: #80361f;
}
.contact-catcher__toggler {
  background: #cf5b36;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* Travel Report */
.tr__report--storno {
  display: none;
}
.tr__report--description > .pure-u-1 {
  display: block;
  height: auto;
  float: left;
}
body {
  background: transparent;
  width: 900px;
  padding: 1em;
}
ul {
  padding-left: 0;
}
@media screen and (min-width: 48em) {
  ul.fiftyfifty li {
    width: 50%;
    float: left;
  }
  ul.fiftyfifty li:nth-child(2n+3) {
    clear: left;
  }
}
ul li {
  padding-bottom: 1em;
  position: relative;
  padding-left: 1.5em;
}
ul li:before {
  display: table;
  content: '';
  top: .65em;
  width: 9px;
  height: 3px;
  background: #bcc767;
  position: absolute;
  left: 0;
}
strong {
  font-weight: bold !important;
}
em {
  font-style: italic;
}
