{block #content}
			<h1 class="h1">Novinky</h1>
			<h1 n:block="title" class="h2 news-h2">{$item->title}</h1>
			<div class="date">{$item->date|date:'d.n.Y'}</div>
			<p class="perex">{$item->perex}</p>
			<p>{$item->content|wysiwyg|noescape}</p>



