{block #fullContent}
<div class="master-padding">
<div class="pure-u-md-8-12 pure-u-lg-9-12 ">
    <div class="gs-tabs">
        {control megamenu:large}        
    </div>
    {if $locale == "cs"}
        <div class="banner_car">
            <a href="https://www.slaviapojistovnasportteam.cz/water-tour/"><img src="/assets/images/banner-watertour.gif" alt="WaterTour"></a>
        </div>
    {/if}
</div><!--
-->{control callBox}
</div>
{if $locale == "cs"}
<div class="car-rolling">
    <div class="car_wrapper">
        <a href="http://pov.slavia-pojistovna.cz"><img src="/assets/images/car_flag.png" alt="POV - Pojištění odpovědnosti vozidla"></a>        
        <a href="http://pov.slavia-pojistovna.cz"><img src="/assets/images/car_tire.png" class="car-rolling__tire" alt="Pneu">   </a>     
        <a href="http://pov.slavia-pojistovna.cz"><img src="/assets/images/car_tire.png" class="car-rolling__tire car-rolling__tire--back" alt="Pneu"></a>        
    </div>
</div>
{/if}
<div class="master-padding pojisteni-banner-home dropdown-top">
    <div class="pojisteni-banner-wide">
        <div class="banner pojisteni-banner dropdown-trigger-click">
            <div class="pojisteni-text-wrap">{!_front.layout.onlineWithDiscount}</div>
        </div><?php
        ?><div class="sjednat">
            <div class="button dropdown-trigger">{_front.menu.insureOnline}</div>
            <div class="sjednat-menu dropdown-target">
                <ul>
                    {control negotiateOnline}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="secspace master-padding donly">
    <div class="master-margin">
        <div class="pure-u-1 pure-u-md-1-2">
            <h2 class="h1">{_front.homepage.whySlavia.title}</h2>
            <ul class="proc-slavia">
                <li><span>{_front.homepage.whySlavia.i1|noescape}</span></li>
                <li><span>{_front.homepage.whySlavia.i2|noescape}</span></li>
                <li><span>{_front.homepage.whySlavia.i3|noescape}</span></li>
            </ul>
        </div><!--
        --><div class="pure-u-1 pure-u-md-1-2">{control banner}</div>
    </div>
</div>

<div class="secspace master-padding rady-novinky" n:ifLocale="cs,en">
    <div class="master-margin">
        {control branchMap}<!--
-->{control callBox}
    </div>
</div>


<div class="secspace master-padding rady-novinky">
    <div class="master-margin {ifLocale ru,vi}align-center{/ifLocale}">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-12 {ifLocale en}pure-u-lg-6-12{/ifLocale}" n:ifLocale="cs,en">
            <h2 class="h1">{_front.layout.usefulAdviceBR|noescape}</h2>
            <ul class="rady">
                {control usefulAdvice}
            </ul>
        </div><!--
        --><div class="pure-u-1 pure-u-md-1-2 pure-u-lg-6-12 mid-sec-fb align-left">
            <div class="green-wrap donly">
                <div class="banner pojisteni-banner pure-u-1 pure-u-md-1">
                    <div class="pojisteni-text-wrap">{!_front.layout.onlineWithDiscount}</div>
                </div>
                <div class="button">{_front.menu.insureOnline}</div>
                <div class="sjednat-menu-b donly">
                    <ul>
                        {control negotiateOnline}
                    </ul>
                </div>
            </div>
            <div class="facebook-wrap clearfix">
                <style>
                .rady-novinky .green-wrap{
                    margin-top: 2em;
                }
                .social-wrapper-hp{
                    margin-left: 75px;
                }
                .facebook-wrap .favatar{
                    position: absolute;

                }
                .soc-wrap-name{
                    width: 100px;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 20px;
                    float: left;
                    clear: left;
                }
                .soc-share-wrap{
                    clear: both;
                    padding-top: .25em;
                    padding-bottom: .25em;
                }
                .sharer{
                    float: left;
                    display: inline-block;
                    vertical-align: middle;

                }
                .g-follow {
                    margin-top: .5em;
                }
                </style>
                    <hr>
                <img src="{$basePath}/assets/images/facebook-avatar.png" alt="slavia facebook avatar" class="fleft favatar cookieconsent-optin-marketing" />
                <div class="social-wrapper-hp cookieconsent-optin-marketing">
                    <div class="facebook-name"><a href="https://www.facebook.com/slaviapojistovna">Slavia Pojišťovna</a></div>

                    <div class="soc-share-wrap">
                    <div class="soc-wrap-name">Facebook</div>  
                    <div class="fb-like fleft sharer" data-href="https://www.facebook.com/slaviapojistovna" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div><br>
                    </div>
                    <div class="soc-share-wrap">
                    <div class="soc-wrap-name">Google +</div>    
                    <div class="g-follow  sharer" data-annotation="none" data-height="20" data-href="https://plus.google.com/103660395240936065958" data-rel="publisher"></div><br/>
                    </div>
                    <div class="soc-share-wrap">
                    <div class="soc-wrap-name">Twitter</div>                        
                    <a href="https://twitter.com/Slavia_poj" class="twitter-follow-button  sharer" data-show-count="false">Follow @Slavia_poj</a>
                    </div>

                </div>
            </div>
        </div><!--
                --><div class="pure-u-1 pure-u-lg-3-12 novinky-home" n:ifLocale="cs">
            {control homepageNews}
            <div class="vice-wrap"><a n:href="News:default" class="vice">Více novinek</a></div>
        </div>
    </div>
</div>
<div class="gs-para-slider donly" n:ifLocale="cs">
    <div class="master-padding"><h2 class="h1 spacetop2em">Historie<br>Slavia</h2></div>
    <div class="gs-para-arrows">
        <div class="arrow arrow-left"></div>
        <div class="arrow arrow-right"></div>
    </div>
    <div class="gs-para-wrap clearfix">
        <div class="para-slide rel active master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <p>
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/3k2k-no.png" alt="3k2k" class="year">
                <p>Ve světovém měřítku první doložené formy pojišťovnictví vůbec historici zaznamenali v dobách starověkého Egypta, kde člověk, který ochraňoval díky svému „obchodu“ druhé proti nepřízni bohů za peněžitou odměnu.</p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/3k2k-pics.png" alt="" class="slide-pics">
                </div>
        </div>
        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1687-no.png" alt="1687" class="year">
                <p>Největší pojišťovací systém LLOYDS vznikl v roce 1687 z kavárny pana Edwarda Lloyda, kde se scházeli kupci, makléři a námořníci a on pro ně organizoval výměnu informací o námořní přepravě. Na základě těchto informací vybudoval pan Lloyd největší informační centrum o pohybu lidí, zboží, o haváriích a jejich pojišťování.</p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1687-pics.png" alt="" class="slide-pics">
                </div>
        </div>
        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1699-no.png" alt="" class="year">
                <p>Na českém území počátky pojišťovnictví spadají ke konci 17. století, kdy podal český myslitel Jan Kryštof Bořek tehdy osvícený návrh na povinné pojištění budov jako zajištění proti rizikům způsobeným četnými požáry. O několik desítek let později, v roce 1827, pak vznikla První česká vzájemná pojišťovna.</p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1699-pics.png" alt="" class="slide-pics">
                </div>
        </div>
        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1868-no.png" alt="" class="year">
                <p>V tomto roce mezi mnoha dalšími vzniká jedna z nejvýznamnějších pojišťoven Slavia, tehdy pod názvem Slavia, vzájemně pojišťovací banka, a také pojišťovna Praha. </p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1868-pics.png" alt="" class="slide-pics">
                </div>
        </div>
        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1945-no.png" alt="" class="year">
                <p>Činnost Slavia pojišťovny byla ukončena znárodněním pojišťovnictví v roce 1945 a obnovena až v devadesátých letech, kdy byla povolena činnost i dalším pojišťovacím ústavům.</p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1945-pics.png" alt="" class="slide-pics">
                </div>
        </div>
    
        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/slavia-no.png" alt="" class="year">
                <p>Ve své době se stala Slavia jednou z nejznámějších firem, dnes bychom řekli značek. Stala se dokonce přirozenou součástí života natolik, že byla považována za něco jako kulturní bohatství českých zemí. Dokládá to i dobová krásná literatura a tehdejší film. </p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/1687-pics.png" alt="" class="slide-pics">
                </div>
        </div>



        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/slavia2-no.png" alt="" class="year">
                <p>Pojištění u Slavie patřilo ke zcela samozřejmým věcem. Svědčí o tom např. povídky Karla Čapka nebo film Pytlákova schovanka, kde herečka Hana Vítová o Slavii dokonce zpívá. Slavia se stala i námětem, který je využit v dobových pražských kupletech. Zaměstnancem Slavie byl spisovatel Jaroslav Hašek.</p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/slavia2-pics.png" alt="" class="slide-pics">
                </div>
        </div>
        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/slavia3-no.png" alt="" class="year">
                <p>Banka Slavia vznikla jako česká banka a od začátku svého působení se snažila podporovat české projekty. Nemůže být proto překvapením, že přispěla na stavbu Národního divadla. Přímo ze jmění banky přispěla Slavia částkou 8 408,85 korun. „Dozajista slušný obnos za prvých jedenáct krušných a někdy i finančně neúspěšných let,“ píše se v dobových pramenech. </p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/slavia3-pics.png" alt="" class="slide-pics">
                </div>
        </div>
        <div class="para-slide rel master-padding vcenter">
            <div class="pure-u-1-2 para-item-in content-holder">
                <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/slavia4-no.png" alt="" class="year">
                <p>Příspěvek banky Slavia, dnes Slavia pojišťovny, lze nalézt i jinde. Pojišťovací banka Slavia věnovala chrámu sv. Víta jedno z oken s tématem památky věrozvěstů Cyrila a Metoděje. Autorem díla je Alfons Mucha. </p>
            </div><!--
                --><div class="pure-u-1-2 para-item-in image-holder">
                        <img src="{$basePath}/assets/images/blank.gif" data-src="{$basePath}/assets/images/banner/slavia4-pics.png" alt="" class="slide-pics">
                </div>
        </div>
    </div>
</div>
