<div class="slider" n:inner-foreach="$menu as $type => $structure">
    {var $domain = "front.megamenu.$type.";}
    {foreach $structure as $item}
    <div class="slide-item slavia-more" n:ifLocale="$item->locale">

        <div class="pure-u-1-2"><img n:if="$item->image" src="{$basePath}/assets/images/icons/{$item->image}" alt=""></div><!--
			 --><div class="slide-label pure-u-1-2">{_$domain.$item->title}</div>
        <div class="product-list">
            <ul class="slavia-box-list" n:inner-foreach="$item->children as $child">
                <li n:ifLocale="$child->locale ?: $item->locale">
                    <a href="{plink $child->link}">{_$domain.$child->title}</a>
                </li>
            </ul>
        </div>
    </div>{/foreach}
</div>