<div class="gs-tabnav">
    <ul>
        <li n:class="tab-nav, pure-u-sm-1-2, $opened === 'personal' ? open" data-for="personal-menu">
            <span class="underline">{_front.megamenu.personal.title.p1}<span class="donly"> {_front.megamenu.personal.title.p2}</span></span>
        </li>{*
        *}<li n:class="tab-nav, pure-u-sm-1-2, $opened === 'commercial' ? open" data-for="commercial-menu" n:ifLocale="cs,en">
            <span class="underline">{_front.megamenu.commercial.title.p1}<span class="donly"> {_front.megamenu.commercial.title.p2}</span></span>
        </li>
    </ul>
</div>
{foreach $menu as $type => $structure}

    <div n:class="tab-box, ($opened === $type) || (is_null($opened) && $iterator->first) ? open" data-name="{$type}-menu" n:inner-foreach="$structure as $item">{*
    *}<div class="slavia-box-item pure-u-1-2 pure-u-sm-1-3">
            {var $image = $control->getImage($type,$iterator->counter)}
            <div class="slavia-box"><img n:if="$image" src="{$basePath}/assets/images/icons/{$image}" alt="icon"><div class="next-to-img">{$item->title}</div></div>
            <div class="slavia-box-expand">
                <div class="close"></div>
                <div class="header">
                    <div class="label">
                        <img n:if="$image" src="{$basePath}/assets/images/icons/{$image}" width="60" alt="icon">{$item->title}
                    </div>
                </div>
                <ul class="slavia-box-list flf" n:inner-foreach="$control->getChildren($type, $item) as $child">
                    <li>
                        <a  href="{$control->getTargetLink($child)}">{$child->title}</a>
                        <span n:if="!($child->children->isEmpty() && ($child->id !== 109 || $locale !== cs))" class="overlay">
                            <span class="pure-u-1-2">
                                <a href="{$control->getTargetLink($child)}">{_front.megamenu.moreinfo}</a>
                            </span>
                            {*
    this is ugly as hell    {if $child->id === 109 && $locale == 'cs'}<span class="pure-u-1-2"><a href="#" onclick="window.open('https://domov.app.slavia-pojistovna.cz/', 'ZAVOLAME VAM', 'height=570,width=610' );">{_front.megamenu.callback}</a></span>{*
                            {else} *}
                            <span class="pure-u-1-2"><a href="{$control->getTargetLink($child->children->first())}">{_front.megamenu.online}</a></span>
                            {* /if *}
                        </span>
                    </li>
                </ul>
            </div>
        </div>{*
*}</div>
{/foreach}
