
{foreach $menu as $type => $structure}
    <ul n:inner-foreach="$structure as $item">
        <li><span class="submenu-listener">{$item->title}</span>
            <ul class="submenu" n:inner-foreach="$control->getChildren($type, $item) as $child">
                <li>
                    <a href="{$control->getTargetLink($child)}">{$child->title}</a>
                </li>
            </ul>
        </li>
    </ul>
{/foreach}
