{foreach $menu as $type => $structure}
    {var $domain = "front.megamenu.$type.";}
    <ul class="menuhold submenu" >
        <div class="masonry" n:inner-foreach="$structure as $item">
            <li class="subin"><span class="submenu-listener">{$item->title}</span>
                <ul class="submenu" n:inner-foreach="$control->getChildren($type, $item) as $child">
                    <li>
                        <a href="{$control->getTargetLink($child)}">{$child->title}</a>
                    </li>
                </ul>
            </li>
        </div>
    </ul>
{/foreach}
