{control damageReport}
<li class="{$liClass} in-item"><a href="#" class="submenu-listener report-holder">{_control.callBox.report.online}</a>
    <ul class="submenu">
        {control documentsForReport}
        <li><a href="{plink Report:collision}">{_control.callBox.report.collision}</a></li>
        <li><a href="{plink Report:liability}">{_control.callBox.report.liability}</a></li>
        <li><a href="{plink Report:injury}">{_control.callBox.report.injury}</a></li>
        <li><a href="{plink Report:property}">{_control.callBox.report.property}</a></li>
        <li><a href="{plink Report:carInsured}">{_control.callBox.report.carInsured}</a></li>
        <li><a href="{plink Report:carDamaged}">{_control.callBox.report.carDamaged}</a></li>
        <li><a href="{plink Report:carOtherInsured}">{_control.callBox.report.carOtherInsured}</a></li>
        <li><a href="{plink Report:carOtherDamaged}">{_control.callBox.report.carOtherDamaged}</a></li>
        <li><a href="{plink Report:krystof}">{_control.callBox.report.krystof}</a></li>
        <li><a href="{plink Report:documents}">{_control.callBox.report.documents}</a></li>
        <li><a href="{plink Report:travelReportForm}">{_control.callBox.report.travelReportForm}</a></li>

    </ul>
</li>