<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title n:inner-block="pageTitle">{ifset #title}{include #title|striptags|trim} | {/ifset}{$website->title}</title>
    <meta name="description" content="{block #description}{$website->description}{/block}">
    <meta name="copyright" content="{block #copyright}{$website->copyright}{/block}">
    <link rel="canonical" href="{plink //this}" />
    <link rel="alternate" href="{plink this, locale => cs}"  hreflang="cs"/>
    <link rel="alternate" href="{plink this, locale => en}"  hreflang="en"/>
    <link rel="alternate" href="{plink this, locale => ru}"  hreflang="ru"/>
    <link rel="alternate" href="{plink this, locale => vi}"  hreflang="vi"/>
    <meta property="og:title" content="{include #pageTitle}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{$website->title}">
    <meta property="og:url" content="{plink //this}">
    <meta property="og:image" content="{$baseUrl}/fbog.png">
    <meta property="og:description" content="{include #description}">
    <meta name="author" content="GoodShape.cz">
    <meta name="robots" content="{ifset $robots}{=is_int($robots) ? ($robots ? 'index,follow' : 'noindex,nofollow') : $robots}{else}index, follow{/ifset}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <script async src="/cookiemonster.min.js"></script>
    <script src="//use.typekit.net/suz7zow.js"></script>
    <script n:syntax="off">try{Typekit.load();}catch(e){}</script>
    
    {if !$useFullAssets}
        <link href="{$basePath}/webtemp/front.min.css{version}" rel="stylesheet">
    {else}
        <!-- build:css {$basePath}/webtemp/front.min.css -->
        <link rel="stylesheet" href="{$basePath}/webtemp/css/main.css">
        <!-- endbuild -->
    {/if}
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="{$basePath}/webtemp/css/ie.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="{$basePath}/assets/js/matchmedia.js"></script>

    <![endif]-->
<!-- Begin Inspectlet Embed Code --><script n:syntax="off" type="text/plain" data-cookieconsent="statistics" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1736256459]);
        (function() {
                function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
                if (window.attachEvent){
                        window.attachEvent('onload', __ldinsp);
                }else{
                        window.addEventListener('load', __ldinsp, false);
                }
        })();</script><!-- End Inspectlet Embed Code -->
        <!-- Facebook Pixel Code -->
        <script n:syntax="off"  type="text/plain" data-cookieconsent="marketing">
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '427367574385411');
          fbq('track', 'PageView');
        </script>
        <!-- End Facebook Pixel Code -->
        
        <meta name="seznam-wmt" content="MAlO4BSJpBqcoE9wHzWYK8BFqcNyLkTS" />

        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="https://apis.google.com/js/platform.js" type="text/plain" data-cookieconsent="marketing"></script>
        
        <script n:syntax="off" type="text/plain" data-cookieconsent="statistics">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
          ga('create', 'UA-6149502-1', 'auto');
          ga('send', 'pageview');
        </script>
        
</head> 
<body class="presenter-{$presenter->name|webalize} presenter-{$presenter->name.'-'.$presenter->action|webalize} locale-{$locale}">
<div id="fb-root"></div>
<script type="text/plain" data-cookieconsent="marketing">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&appId=679588902088908&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="site-header master-padding" id="home">
    <div class="menu-inner-wrap master-margin">
        <h1 class="site-title"><a n:href="Default:default"><span class="site-logo">Slavia - Pojišťovna</span></a></h1>
        <div class="czech-stamp"></div>
        <div class="lng tabonly">
            <ul>
                <li class="lng-item"><a n:href="Default:default, locale => cs" >CS</a></li>
                <li class="lng-item"><a n:href="Default:default, locale => en" >EN</a></li>
                <li class="lng-item"><a n:href="Default:default, locale => ru" >RU</a></li>
                <li class="lng-item"><a n:href="Default:default, locale => vi" >VI</a></li>
            </ul>
        </div>
        <div class="navs-wrap">
            <div class="slide-menu-hold">
                <div class="navigation-back">Navigation</div>
                <div class="hamburger monly"><span class="icon vertical-align"></span></div>
                <div class="menu-slider">
                    <nav class="top-nav">
                        <ul id="menu" class="nav">
                        {control secondaryMenu}
                            <li class="nav-item"><a n:href="Contact:default">{_front.menu.contacts}</a></li>
                            <li class="nav-item main-nav-item" n:ifLocale="en,cs"><a href="#" class="submenu-listener">{_front.menu.report}</a>
                                <ul class="submenu">{control reportMenu}</ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="top-nav donly">
                        <ul>
                            <li class="nav-item"><a n:href="Default:default, locale => cs" >CS</a></li>
                            <li class="nav-item"><a n:href="Default:default, locale => en" >EN</a></li>
                            <li class="nav-item"><a n:href="Default:default, locale => ru" >RU</a></li>
                            <li class="nav-item"><a n:href="Default:default, locale => vi" >VI</a></li>
                        </ul>
                    </div>
                    <nav class="main-nav menu-handler">
                        <ul>
                            <li class="main-nav-item"><a href="#" class="submenu-listener">{_front.menu.personalInsurance}</a>
                                {control megamenu:smalltop, personal}
                            </li>
                            <li class="main-nav-item" n:ifLocale="cs,en"><a href="#" class="submenu-listener">{_front.menu.comercialInsurance}</a>
                                {control megamenu:smalltop, commercial}
                            </li>
                            <li class="main-nav-item"><a href="#" class="submenu-listener">{_front.menu.insureOnline}</a>
                                <ul class="submenu">
                                    {control negotiateOnline}
                                </ul>
                            </li>
                            <li class="main-nav-item search"><a n:href="Search:" >{_front.menu.search}</a>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


</header>

{block #fullContent}

<section class="master-padding">
    <div class="master-margin">
        <aside class="pure-u-md-5-12 pure-u-lg-4-12 sidebar donly">
            <div class="gs-tabs">
                {control megamenu:large, isset($megamenuOpened) ? $megamenuOpened : FALSE}
            </div>
            <div class="stickme">
                {control callBox}
                <div class="banner pojisteni-banner pure-u-1 pure-u-md-3-4">
                    <div class="pojisteni-text-wrap">{!_front.layout.onlineWithDiscount}</div>
                </div>
                <div class="sjednat dropdown-top">
                    <div class="button dropdown-trigger">{_front.menu.insureOnline}</div>
                    <div class="sjednat-menu dropdown-target">
                        <ul>
                            {control negotiateOnline}
                        </ul>
                    </div>
                </div>
            </div>
        </aside><!--
        --><article class="pure-u-1 pure-u-md-7-12 pure-u-lg-8-12">
            <div n:if="count($flashes) && @$_GET['goal']">
              <script type="text/plain" data-cookieconsent="statistics">
                ga('send', 'event', "form", "sent", "success", {@$_GET['goal']});
              </script>
            </div>
            <div n:foreach="$flashes as $flash" class="flash flash-{$flash->type}">
              {$flash->message}
            </div>

            {include #content}
        </article>
    </div>
</section>

{block #afterContent}{/block}

{/block}

<footer class="site-footer">
    <div class="master-padding donly">
        <div class="master-margin">
            <div class="pure-u-1 pure-u-md-8-12 footer-menus">
                <h2 class="h2">{_front.layout.products}</h2>
                {control footer}        
            </div><!--
            --><div class="pure-u-1 pure-u-md-4-12 cookieconsent-optin-marketing">
                <h2 class="h2">{_front.layout.facebookFollow}</h2>
                <div class="fb-like-box" data-href="https://www.facebook.com/slaviapojistovna" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                <br>
                <div class="g-follow" data-annotation="none" data-height="20" data-href="https://plus.google.com/103660395240936065958" data-rel="publisher"></div>
                
                <a href="https://twitter.com/Slavia_poj" class="twitter-follow-button" data-show-count="false">Follow @Slavia_poj</a>
                <script n:syntax="off" type="text/plain" data-cookieconsent="marketing">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            </div>
            <div class="space1em footer-copy">
                <div class="pure-u-1 pure-u-md-1-2">
                    {=date('Y')} &copy; Slavia pojišťovna a.s.
                | <a href="#" style="color: inherit" onclick="CookieConsent.show()">Nastavení cookies</a>
                </div><!--
                --><div class="pure-u-1 pure-u-md-1-2 align-right">
                    {_front.layout.createdBy} <a href="http://www.goodshape.cz/" target="_blank" class="gs-logo">GoodShape</a> {_front.layout.cms} <a href="http://www.anyshape.cz/" target="_blank" class="as-logo">AnyShape</a>
                </div>
            </div>
        </div>
    </div>
    <div class="master-padding monly">
         <div class="foo-mobile-menu">
            <div class="master-margin">
                <div class="infolinka side-info">
                            {_control.callBox.infoline}<br>
                            {_control.callBox.days} - 08<sup>00</sup> - 18<sup>00</sup>
                            <div class="special-number">255 790 111</div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                {=date('Y')} &copy; Slavia pojišťovna a.s.
                | <a href="#" style="color: inherit" onclick="CookieConsent.show()">Nastavení cookies</a>
            </div>
            <div class="contacts-menu"><a n:href="Contact:default">{_front.menu.contacts}</a></div>
            <div class="gs-branded">
                {_front.layout.createdBy} <a href="http://www.goodshape.cz/" target="_blank" class="gs-logo"></a>
            </div>
        </div>
    </div>
</footer>
{block contactCatcher}{/block}
{if !$useFullAssets}
    <script type="text/javascript" src="{$basePath}/webtemp/vendor.min.js"></script>
    <script type="text/javascript" src="{$basePath}/webtemp/front.min.js?v=1.23"></script>
{else}
    <!-- build:js {$basePath}/webtemp/vendor.min.js -->
    <script src="{$basePath}/assets/bower/jquery/dist/jquery.min.js"></script>
    <script src="{$basePath}/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="{$basePath}/assets/bower/nette-forms/src/assets/netteForms.js"></script>
    <!-- endbuild -->
    <!-- build:js {$basePath}/webtemp/front.min.js -->
    <script src="{$basePath}/assets/js/interactive-guide.js"></script>
    <script src="{$basePath}/assets/js/plugins.js"></script>
    <script src="{$basePath}/assets/js/map.js"></script>
    <script src="{$basePath}/assets/js/main.js"></script>
    <!-- endbuild -->
{/if}
<!--[if lte IE 9]>
<script src="{$basePath}/assets/js/ie.js"></script>
<![endif]-->

{block js}{/block}
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
{if \Nette\Environment::isProduction()}

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 959490096;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script src="//www.googleadservices.com/pagead/conversion.js" type="text/plain" data-cookieconsent="marketing">
</script>

<script type="text/javascript">
    /* <![CDATA[ */
    var seznam_retargeting_id = 21674;
    /* ]]> */
</script>
<script src="//c.imedia.cz/js/retargeting.js"  type="text/plain" data-cookieconsent="marketing"></script>
{/if}
</body>
</html>
