{layout './@layout.latte'}
{block #afterContent}
<div class="master-padding secspace rady-banner-onpage">{*
    *}<div class="pure-u-1 pure-u-md-1-2 rady-onpage" n:ifLocale="cs,en">
        <h2 class="h1">{!_front.layout.usefulAdvice}</h2>
        <ul class="rady">
            {control usefulAdvice}
        </ul>
    </div><!--
 --><div class="pure-u-1 pure-u-md-1-2">{control banner}</div>
</div>
{*
<div class="human" n:if="in_array($presenter->name, ['CommercialInsurance', 'Commercial'])">
    <div class="master-padding">
        <div class="master-margin" n:inner-block="adviser">
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-12">
                <img src="{$basePath}/assets/images/ponertova.png" alt="image">
            </div><!--
			--><div class="pure-u-1  pure-u-md-1-2  pure-u-lg-6-12 pr-md">
                <h3 class="h2">Ing. Lucie Ponertová</h3>
                <div class="human-info">Ředitelka úseku underwritingu a zajištění</div>
                <p>Jsem zodpovědná za řízení veškerých aktivit spojených s obchodní činností v oblasti průmyslového pojištění. Věřím, že zde zúročím své dlouholeté zkušenosti v oblasti pojišťovnictví, kde se pohybuji od roku 1998.</p>
                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="contact-label">{_front.productLayout.phone}</div>
                    <div><b>+420 255 790 160</b></div>
                </div><!--
				--><div class="pure-u-1 pure-u-md-1-2">
                    <div class="contact-label">E-mail</div>
                    <div><a href="{!="mailto:prumysl@slavia-pojistovna.cz"|mangleEmail}"><b>{!="prumysl@slavia-pojistovna.cz"|mangleEmail}</b></a></div>
                </div>
            </div><!--
			--><div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-12 vtop">
                <a href="" class="button simple block showbox" data-id="askmequestion">{_front.productLayout.askMe}</a>
                <a href="" class="button simple block showbox" data-id="callmeblock"><span class="sublime">{_front.productLayout.callBack|noescape}</a>
            </div>
        </div>
    </div>
</div>
<div class="master-padding callForm" n:if="in_array($presenter->name, ['CommercialInsurance', 'Commercial'])">
    <div class="master-margin">
        {control bottomContactForm}
    </div>
</div>
*}
{*<div n:ifLocale="dontdisplay" class="horizontalslider" n:ifset="$megamenuOpened">
    <div class="master-margin">
        <div class="gs-para-arrows">
            <div class="arrow arrow-left"></div>
            <div class="arrow arrow-right"></div>
        </div>
        <div class="master-padding slider-wrap">
            {control megamenu:bottom, $megamenuOpened}
        </div>
    </div>
</div>
*}