{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Insurance for puppy and kitten</h1>

<p>Slavia insurace company prepared an insurance policy for all owners of our four-legged friends which will cover their medical expenses. Insurance for dogs and cats will reimburse costs of up to 120&nbsp;000Kč  per year on your behalf.</p>
<h2>How does insurance for dogs and cats work?</h2>
<p>Imagine you have a dog you are very fond of. It accidentally suffers internal injuries, and only surgery can help. The procedure costs 9500 Kč at the vet, but thanks to your insurance for dogs and cats, Slavia insurance company will reimburse costs of the treatment of up to  8500 Kč.</p>	
<h2>What can “Puppy and Kitten“ do?</h2>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Costs reimbursed by insurance for dogs and cats:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>examination by vet, ambulatory care</li>
			<li>hospitalisation, anasthesia</li>
			<li>surgical procedures including implantation</li>
			<li>alternative accommodation of dog or cat in an animal hotel, or subsitute care during hospitalisation of the owner</li>
		</ul>
	</div>
</div>	
<h2>Why “Puppy and Kitten“?</h2>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Costs reimbursed by insurance for dogs and cats:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>insurance of dogs from just 1540Kč / year
			<li>insurance of cats from just 1090Kč  / year
			<li>discounts for assistance, guide and rescue dogs
		</ul>
	</div>
</div>
<p>Insurance for dogs and cats can insure your puppy or kitten at any age</p>