{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Liability insurance within the buildings and contents and real estate insurance policy</h1>

<p>Damage liability insurance (under husehold and real estate insurance)</p>
<p>(Damage liability insurance caused by ordinary civil-life activities, hereinafter “Insurance against liability for damages“)</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Supplementary damage liability insurance:</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>from activities in the course of ordinary civil life (civil liability,, including liability for damages caused by a citizen due to animal husbandry)</li>
			<li>insurance against liability for damages arising from the holding of property</li>
			<p>Supplementary or additional insurance against liability for damages cannot be taken out separately, only as part of real estate and buildings and contents insurance</p>
		</ul>
	</div>
</div>
<h2>INSURED AMOUNTS AND CO-INSURANCE IN INSURANCE AGAINST LIABILITY FOR DAMAGES IN THE COURSE OF ORDINARY CIVIL LIFE</h2>
<p>Liability for damages applies within the Czech Republic, for all members of the household, and includes liability arising from the keeping of animals.</p>
<p>Insurable amounts</p>
<table border="0" cellspacing="1" cellpadding="1">
<tbody><thead>
<tr>
<th colspan="4"><strong>Insurance against liability for damages in the course of ordinary civil life</strong></td>
</tr>
<tr>
	</thead>
<td rowspan="2">Group</td>
<td colspan="3">Indemnity limit (Kč)</td>
</tr>
<tr>
<td>Damage to health, and by causing death</td>
<td>Damage to property</td>
<td>Resulting financial damage</td>
</tr>
<tr>
<td>1</td>
<td>2 000 000</td>
<td>1 000 000</td>
<td>500 000</td>
</tr>
<tr>
<td>2</td>
<td>4 000 000</td>
<td>2 000 000</td>
<td>750 000</td>
</tr>
<tr>
<td>3</td>
<td>6 000 000</td>
<td>3 000 000</td>
<td>1 000 000<br></td>
</tr>
</tbody>
</table>
<p>Supplementary insurance against liability for damages is taken out without co-insurance.</p>
<p>You can report a claim under insurance against liability for damages by <a href="{$basePath}/en/notification-by-telephone/">phone</a>, in <a href="{$basePath}/en/written-notification/">writing</a> or <a href="{$basePath}/en/report-damage/liability-insurance/">online.</a></p>