{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Accident insurance of motor vehicles</h1>

<p>Accident insurance CAN BE ARRANGED ONLY together with liability insurance from Slavia insurance company.</p>
<p class="w300 small">(full name: <strong>Accident insurance of motor vehicles</strong>, hereinafter Accident insurance )</p>
<p>Accident insurance covers the risk of damage or destruction of the insured vehicle in any random incident and is characterised by its variability, always meeting the needs of the individual client, or of a corporate fleet of vehicles.</p>
<p>Accident insurance can be negotiated in its “allrisk” option, or in its “partial accident” option.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">Accident insurance „All-risk" covers insurable hazards</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>for incidents of sudden destruction of or damage to the vehicle due to an accident
			<li>natural disaster (destruction of vehicle by fire, explosion, lightning strike, storm, hailstones, falling trees, poles  or other objects which are not part of the vehicle )
			<li>vandalism
			<li>theft of the whole vehicle, or of parts of the vehicle (insurance against vehicle theft)
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">Types of accident insurance</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Accident insurance of personal vehicle
			<li>Accident insurance of utility vehicle up to 3,5 tonnes
			<li>Territory covered by Accident insurance
			<li>Accident insurance is valid throughout Europe
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">BONUS system in Accident insurance</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>The qualifying period in Accident insurance is measured in years
			<li>For every year with no claims, it increases by 5%
			<li>Accident insurance has a transferable bonus from another insurer
			<li>The entire bonus from liability insurance can be transferred to your accident insurance – in this way you can save up to 50% on the cost of accident insurance
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">Participation in accident insurance</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>optional: 5 %, min. 5 000 Kč, or 10 %, min. 10 000 Kč
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">Supplementary insurance:</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>windscreen cover
			<li>seat insurance - permanent injury / death
			<li>insurance of non-standard equipment
			<li>road-side assistance services insurance – SLAVIA ASSISTANCE
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">Participation in supplementary insurance</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>windscreen cover: 500 Kč
			<li>insurance of luggage: without participation
			<li>insurance of all glass windows: 500 Kč
			<li>insurance against natural disasters for POV: 10 000 Kč
			<li>insurance against injury: without participation
		</ul>
	</div>
</div>








