{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Liability Insurance</h1>
<p>Your smart car insurance</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Liability Insurance</div><a href="http://autopojisteni.slavia-pojistovna.cz/Controllers/FormSteps/_PovSlavia_Step1.php" class="button abr simple">Insure Online</a>
	</div>
</div>
<h2 class="large upper c-brick spacetop1em">Choose from three alternatives of car liability insurance </h2>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">POV BASIC</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<div class=""><p>Indemnity limit in case of bodily injury, property damage and fortune loss: 35 million CZK </p></div>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">POV PROFI</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<div class=""><p>Indemnity limit in case of bodily injury, property damage and fortune loss: 100 million CZK<br>
Assistance service</p></div>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">POV PREMIUM</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<div class=""><p>Indemnity limit in case of bodily injury, property damage and fortune loss: 100 million CZK<br>
Assistance service, liability insurance, “Europojištění” travel insurance, insurance against “Kryštof” fines</p></div>
	</div>
</div>
<div class="large upper c-brick w300 space05em">Even liability can be beneficial!</div>
<div class="large w300 space05em">With our car liability insurance you will also gain:</div>
<div class="">
	<ul>
		<li><span class="upper">Liability insurance</span><br>
			<span class="w300">Limit in case of bodily injury: 200 000 CZK, in case of property damage: 100 000 CZK, in case of fortune loss: 20 000 CZK</span>
		<li><span class="upper">Free original KRYŠTOF insurance for 1 year</span><br>
			<span class="w300">(covers financial losses of drivers associated with traffic violation)</span>
		<li><span class="upper">Free EUROPOJIŠTĚNÍ travel insurance</span><br>
			<span class="w300">(additional travel insurance products of yearlong continuous validity within Europe)
		<li>10 % discount with contracting subsequent insurance at Slavia pojišťovna! 
	</ul>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Liability Insurance</div><a href="http://autopojisteni.slavia-pojistovna.cz/Controllers/FormSteps/_PovSlavia_Step1.php" class="button abr simple">Insure Online</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<h2 class="spacetop1em">Additional insurance with car liability insurance:</h2>
	<div class="pure-u-1">
		<ul class="fiftyfifty">
			<li><span class="upper">Assistance services Slavia Assistance</span>
			<li><span class="upper">Accidental insurance</span>
			<li><span class="upper">Insurance for all glass vehicle components</span>
			<li><span class="upper">Insurance against animal-related collision</span>
			<li><span class="upper">Insurance against natural disasters</span>
			<li><span class="upper">Injury insurance</span>
			<li><span class="upper">Insurance for luggage inside vehicle</span>
			<li class="full-w"><span class="upper w600 ">5% discount when arranging accidental insurance with car liability insurance</span>
		</ul>
	</div>
</div>





