{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Health insurance for foreigners for cases of necessary and urgent health care</h1>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Online discount</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">insure online</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">Why arrange health insurance for foreigners?</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>This duty is imposed on all foreigners from non-EU states by § 5 Act no. 326/1999 Coll. on residence of aliens in the Czech Republic, as amended.
			<li>Health insurance for foreigners covers the cost of treatment of sudden illness or injury
			<li>It is a necessary condition for the granting of a visa
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">Why arrange insurance for foreigners with Slavia insurance company?</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Because only they offer insurance for business and recreational trips at unbeatable prices!
			<li>Their health insurance for foreigners is recognised by the Aliens Police of the Czech Republic and meets the requirement of Act no. 326/1999 Coll., as amended
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="large upper w300 space05em">What does health insurance for foreigners cover?</div>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>out-patient care
			<li>in-patient treatment
			<li>emergency dental treatment
			<li>repatriation
		</ul>
	</div>
</div>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Online discount</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">Insure Online</a>
	</div>
</div>
<h3>Participating hospitals</h3>
<p>Clients can primarily use participating hospitals (see current list), where costs for necessary and urgent medical care within the terms of the insurance are billed directly to Slavia insurance company.  The client does not have to pay the costs, and subsequently claim indemnity from the insurance company.</p>
<p><a href="{$basePath}/en/list-of-contracted-hopitals/">List of participating hospitals / health insurance for foreigners</a></p>




<h3>Assistance services</h3>
<p>If necessary, the client can request assistance by phoning +420 296 339 679, or by fax at +420 296 339 630. Assistance services are available to clients 365 days a year, 24 hours a day. The call centre operators can speak Czech, Slovak, English, German, French, Spanish, Russian, Ukrainian and Vietnamese. They will help the clients to find the nearest participating medical facility affiliated with our insurance company; they will also help if there are language difficuties in communication, and, if need be, they can organise repatriation.</p>

<h3 class="c-brick">A public undertaking of reimbursement for medical care provided to foreigners insured with Slavia insurance company.</h3>
<p>Slavia insurance company insures foreigners for cases of receiving necessary and urgent health care in the Czech Republic. Health insurance for foreigners with Slavia insurance company is recognised by Czech authorities, including the Police. The policy meets the requirements of Act no.  326/1999 Coll. on residence of aliens in the Czech Republic, as amended.</p>
<p>Policyholders who take out a contract with us are, for identification purposes, issued with an “insured person's certificate“, with which the alien demonstrates that they have taken out health insurance for foreigners with Slavia insurance company.</p>
<p>Slavia insurance company OJSC undertakes to reimburse medical facilities in the Czech Republic for insured persons, to the extent determined by the insurance contract and general insurance conditions, the costs of necessary and urgent outpatient and inpatient health care provided to the insured, at the prices valid for the billing of health care in the health insurance system of the Czech Republic.</p>

<h3>Verifiying the validity of the policy</h3>
<p>To verify whether an alien who is being treated is a participant in this commercial health insurance scheme for foreigners, you can contact Slavia insurance company from 8.00am to 4.00pm, Monday to Friday, on +420 255 790 111, or by e-mail at <a href="mailto:info@slavia-pojistovna.cz">info@slavia-pojistovna.cz</a>, unless otherwise stated on the „insured person's certificate“.</p>
<p>At other times, it is possible to verify the validity of the insurance through the assistance service Eurocross on +420 296 339 679.</p>
