{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Comprehensive health insurance for foreigners</h1>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Online discount</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">insure online</a>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Why take out comprehesive health insurance?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="">
			<li>The extent of the policy is similar to that of public health insurance in the Czech Republic; it is, however, restricted by agreed indemnification limits.
			<li>This type of insurance can be used by children or adults, pregnant women, or women who are planning to get pregnant. Furthermore, it is aimed at professional athletes, and all adults who are looking for a more extensive insurance policy than that provided by health insurance for foreigners in cases of necessary and urgent care.
			<li>Comprehensive health insurance for foreigners meets the requirements of Act no.  326/1999 Coll. regarding the residency of aliens in the Czech Republic, as amended, and extends beyond the compulsory scope of the relevant insurance.
		</ul>
	</div>
</div>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Why take out insurance for foreigners with Slavia insurance company?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="">
			<li>Wide extent of health care
			<li>High indemnity limits
			<li>Possibility of insuring a child immediately after birth
			<li>The policy covers not only necessary and urgent health care, but also follow-up and planned health care
			<li>Comprehensive health insurance for foreigners meets the requirements of Act no. 326/1999 Coll., as amended, and is recognised by the Aliens Police of the Czech Republic.
		</ul>
	</div>
</div>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>What does health insurance fo foreigners cover?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul class="">
			<li>For children under 15 years: preventive examinations, check-ups and vaccinations to the extent normally provided in the Czech Republic to persons insured under public health insurance in the Czech Republic; treatment of diabetes.
			<li>Care during pregnancy and childbirth
			<li>The option of insuring for post-natal health care of the newborn child of the insured woman  (and to insure every newborn after that)
			<li>Planned health care
			<li>Dentistry - necessary and urgent care
			<li>Hospital and diagnostic care
			<li>Post-injury and post-operative rehabilitation
			<li>Repatriation
		</ul>
	</div>
</div>
<div class="pure-u-1 space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Online discount</div><a href="http://kalkulacka-pojisteni-cizincu.slavia-pojistovna.cz/Controllers/FormSteps/_Foreigners_Step1.php" class="button abr simple">insure online</a>
	</div>
</div>
<h3>Participating hospitals</h3>
<p>Clients can primarily use participating hospitals (see current list), where costs for necessary and urgent medical care within the terms of the insurance are billed directly to Slavia insurance company.  The client does not have to pay the costs, and subsequently claim indemnity from the insurance company.</p>
<p><a href="{$basePath}/en/list-of-contracted-hopitals/">List of participating hospitals / health insurance for foreigners</a></p>




<h3>Assistance services</h3>
<p>If necessary, the client can request assistance by phoning +420 296 339 679, or by fax at +420 296 339 630. Assistance services are available to clients 365 days a year, 24 hours a day. The call centre operators can speak Czech, Slovak, English, German, French, Spanish, Russian, Ukrainian and Vietnamese. They will help the clients to find the nearest participating medical facility affiliated with our insurance company; they will also help if there are language difficuties in communication, and, if need be, they can organise repatriation.</p>

<h3 class="c-brick">A public undertaking of reimbursement for medical care provided to foreigners insured with Slavia insurance company.</h3>
<p>Slavia insurance company insures foreigners for cases of receiving necessary and urgent health care in the Czech Republic. Health insurance for foreigners with Slavia insurance company is recognised by Czech authorities, including the Police. The policy meets the requirements of Act no.  326/1999 Coll. on residence of aliens in the Czech Republic, as amended.</p>
<p>Policyholders who take out a contract with us are, for identification purposes, issued with an “insured person's certificate“, with which the alien demonstrates that they have taken out health insurance for foreigners with Slavia insurance company.</p>
<p>Slavia insurance company OJSC undertakes to reimburse medical facilities in the Czech Republic for insured persons, to the extent determined by the insurance contract and general insurance conditions, the costs of necessary and urgent outpatient and inpatient health care provided to the insured, at the prices valid for the billing of health care in the health insurance system of the Czech Republic.</p>

<h3>Verifiying the validity of the policy</h3>
<p>To verify whether an alien who is being treated is a participant in this commercial health insurance scheme for foreigners, you can contact Slavia insurance company from 8.00am to 4.00pm, Monday to Friday, on +420 255 790 111, or by e-mail at <a href="mailto:info@slavia-pojistovna.cz">info@slavia-pojistovna.cz</a>, unless otherwise stated on the „insured person's certificate“.</p>
<p>At other times, it is possible to verify the validity of the insurance through the assistance service Eurocross on +420 296 339 679.</p>
