{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Buildings and contents and real estate insurance</h1>

<p>Buildings and contents and real estate insurance - „Domov+“ insurance from Slavia insurance company</p>
<h2>„Domov +“ THE HIGHEST QUALITY INSURANCE FOR YOUR HOME</h2>
<p>Insurance for buildings and homes occupied permanently or recreationally</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Object of the insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Insurance of buildings – apartments, family homes, holiday homes and cottages, adjacent buildings (swimming pools, garages etc. ) and special equipment buildings (heat pumps, solar panels etc. )</li>
			<li>Buildings and contents insurance covering property stored in a garage at a diffferent add</li>
		</ul>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Costs reimbursed by buildings and contents and real estate insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Fire, explosion, lightning strike – both direct and indirect, power surge, storms, hailstones, earthquake, smoke, vehicle impact, impact by plane, supersonic wave, tree fall, landslide, theft – insured hazards covered by the basic insurance</li>
		</ul>
	</div>
</div>

<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Supplementary insurance</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<ul>
			<li>Package no. 1
				<p>Damage by the weight of snow and ice, damage by the water supply or by sewage, leakage of water from an aquarium*</p>
			<li>Package no. 1
				<p>Flood and deluge</p>
			<li>Package no. 1
				<p>Vandalism, grafitti, „all-risk glass“, eletrical motor* short circuit</p>
		</ul>
		<p class="small">* risks only apply in the case of buildings and contents insurance</p>
	</div>
</div>
<hr>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Assistance services</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<h3 class="c-brick">STANDARD – FREE!</h3>
		<p>Telephone assistace; organisation of technical assistace with accidents (no limit)</p>
		<h3>ABOVE-STANDARD – 99 KČ/YEAR</h3>
		<p>Technical assistance, organisation and reimbursement of the costs of technical assistance with accidents</p><p>
		Tradesmen: electrician, plumber, heating contractor, glazier, gas fitter, locksmith (limit of 2 x 2000  Kč/year)</p>
		<hr>
<p>Assistance services – Slavia Assistance – tel: <span class="c-brick">+420 242 452 652</span></p>
	</div>
</div>
<hr>
<p class="upper spacetop1em">Stay ahead of unfortunate accidents, protect you home with advantageous insurance</p>

<div class="pure-u-1 rel regbox">
		<div class="upper space05em">BUILDINGS AND CONTENTS INSURANCE</div><a href="http://online.slavia-pojistovna.cz/online-pojisteni-domacnosti" class="button abr simple">Arrange Online</a>
	</div>

<p>For more information, and for quote for insurance of property „tailor-made“ for you, please contact our nearest branch</p>
<p>You can report damages under buildings and contents and real estate insurance by phone, in writing or online.</p>