{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">European travel insurance - „EUROPOJIŠTĚNÍ“ (the cheapest travel insurance)</h1>
<h2>The cheapest European travel insurance</h2>
<div class="pure-u-1 rel regbox">
		<div class="upper space05em">„EUROPOJIŠTĚNÍ“</div>
		<a href="http://travel.slavia-pojistovna.cz/Controllers/FormSteps/_TravelSlavia_Step1.php" class="button abr simple">Arrange online</a>
</div>
<h3 class="c-brick">DISCOUNT ON ALL INSURANCE ARRANGED ONLINE!</h3>
<p>The cheapest European travel insurance, effective continuously year-round, which allows repeated trips  throughout the year.</p>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>Why arrange „EUROPOJIŠTĚNÍ“?</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>As a participant in public health insurance in the Czech Republic, you are entitled to health services in most European countries, but there are often co-insurance issues and fees involved. By arranging „EUROPOJIŠTĚNÍ“, you create comprehensive insurance protection. After returning to the Czech Republic, Slavia insurance company provides compensation for emergency treatment to the amount of the difference between the actual expenses and the reimbursement by your health insurance company.
		</p>
	</div>
</div>
<div class="pure-u-1 spaced">
	<div class="pure-u-1 pure-u-md-1-3">
		<h2>„EUROPOJIŠTĚNÍ“ is the best insurance for European travel! From as little as 1Kč per day.</h2>
	</div><!--
	--><div class="pure-u-1 pure-u-md-2-3">
		<p>„Europojištění“ is established intended for every member of the Czech public healthcare system of the Czech Republic [sic] (this can be any health insurance company in the Czech Republic). Unlike regular travel insurance, you do not pay premiums for the same thing twice! A European health insurance card must be kept along with proof of having the “EUROPOJIŠTĚNÍ” policy arranged.</p>
		<p>In case of an accident or illness abroad, you are using both your own health insurance and “EUROPOJIŠTĚNÍ” at the same time. Costs not covered by your health insurance company are covered by “EUROPOJIŠTĚNÍ”. No co-insurance - everything is covered by insurance.</p>
	</div>
</div>
<p>„EUROPOJIŠTÉNÍ“ is insurance additional to public health insurance, but with the option of creating comprehensive insurance protection (including liability and luggage insurance) at an unbeatable price.
Benefits</p>
<ul>
	<li>Extremely low price – you pay a premium only for those risks which are not covered by public health insurance</li>
	<li>„EUROPOJIŠTĚNÍ “ has continuous effectiveness – repeated trips and long-term stays from only  365 Kč per year</li>
	<li>Assistance services – an integral part of „EUROPOJIŠTĚNÍ“
		<ul>
			<li>Choose your preferred option: for ordinary tourist trips (type “TOURIST”) or for sport activities and business trips (type “PROFESIONÁL”); for trips and [overseas] stays by individuals, or with the whole family (family discount)</li>
		</ul>
	</li>
</ul>
<div class="clearfix"></div>
<p>Pay for two weeks, and travel all year round!</p>
<div class="pure-u-1 spaced space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Online insurance
with discount</div><a href="http://travel.slavia-pojistovna.cz/Controllers/FormSteps/_TravelSlavia_Step1.php" class="button abr simple">Insure Online</a>
	</div>
</div>