{layout '../../@productLayout.latte'}
{block #content}
<h1 class="h1" n:block="title">Travel insurance for travel and [overseas] residence – WORLD</h1>

<p>Slavia insurance company offers its clients the best European travel insurance with constant year-round effectiveness for repeated trips abroad. “Europojištění “ is actually a supplement to public health insurance, in which every Czech citizen participates, and which covers emergency medical treatment in most European states. By arranging “Europojištění “ the client creates comprehensive insurance cover which covers all costs associated with injury or illness i.e. treatment, medicines, transportation, assistance services and so on. The advantage of “Europojištění “ is that it is very cheap, because the client never pays for the same thing twice.</p>
<p>Insurance for trips around the world allows you to select insurance of certain risks, such as medical expenses insurance or accident insurance, insurance against damages, insurance of property and luggage, insurance against flight delays, insurance of unused vacation time; it is also possible to insure animals travelling with the insured person.</p>
<div class="pure-u-1 spaced space2em">
	<div class="pure-u-1 rel regbox">
		<div class="upper space05em">Online insurance
with discount</div><a href="http://travel.slavia-pojistovna.cz/Controllers/FormSteps/_TravelSlavia_Step1.php" class="button abr simple">Insure Online</a>
	</div>
</div>